// подключаем миксины и переменные темы
@import "../../../../themes/gard/css/_include";


.commerce-checkout-form-checkout > div {
  display: flex;
  flex-wrap: wrap; align-items: flex-start;
  margin-top: 45px;
  .alert {
    flex: 0 0 100%;
  }
  .header-notice {
    margin: -$grid-gutter-width/2 0 $grid-gutter-width/2;
  }
  .radio label, .checkbox label {
    color: $text-color;
  }
  .c-1 { flex: 100%; }
  .c-2 {
    flex: 100%;
    border: 1px solid $gray-lighten;
    margin: 65px 0 0 $grid-gutter-width;
    padding: $grid-gutter-width;
  }
  h2 { margin: 0 0 $grid-gutter-width 0; }
  @media #{$wide} {
    flex-wrap: nowrap;
    .c-1 { flex: auto; }
    .c-2 { flex: 0 0 330px; }
  }
}

.cart_contents_form {
  margin-bottom: $grid-gutter-width*2;
  form > div {
    display: flex;
  }
  .line-item-list { margin-top: $grid-gutter-width; }

  .ccf-item {
    border: 1px solid $gray-lighten;
    position: relative;
    margin-bottom: $grid-gutter-width;
  }
  .ccf-content {
    display: flex;
    padding: $grid-gutter-width 0;
  }
  .ccf-image {
    flex: 0 1 150px;
    img { width: 100%;  }
  }
  .ccf-info {
    flex: auto;
    display: flex; flex-direction: column; justify-content: space-between;
    padding: 0 $grid-gutter-width*2 0 $grid-gutter-width;
    .ccf-descr {
      > div {
        border-bottom: 1px solid $well-bg;
        color: $text-muted;
        padding: $grid-gutter-width/2 0;
        display: flex; justify-content: space-between;
      }
    }
    .ccf-title {
      color: $text-color; font-size: $font-size-h3; font-weight: 500;
      .category {
        font-weight: 300;
      }
      .point {
        display: inline-block;
        background: $brand-primary;
        margin: 0 10px;
        width: 10px; height: 10px;
        vertical-align: middle;
      }
      a { color: inherit; }
    }
  }

  .ccf-footer {
    background: $well-bg;
    border-top: 1px solid $gray-lighten;
    display: flex;
    padding: $grid-gutter-width/2;
  }
  .ccf-qty > div {
    display: flex; align-items: center;
    .views-label {
      margin-right: $grid-gutter-width/2;
    }
    .field-content > div {
      display: flex;
      margin: 0;
    }
    .field-content input {
      flex: 0 0 70px;
      margin: 0 $grid-gutter-width/2;
      text-align: center;
    }
    padding-left: $grid-gutter-width/2;
  }
  .ccf-action {
    flex: 0 0 30px;
    display: flex; justify-content: flex-end; align-items: center;
    i { font-size: 20px; }
    a, button {
      color: $text-muted;
      border: none; background: none;
      padding: 0;
      min-width: initial;
      @include transition(color 120ms ease-out);
      &:hover,
      &:active,
      &:focus,
      &:active:hover {
        background-color: transparent;
        color: $text-color;
      }
      > span {
        font-size: 24px;
        margin-top: 8px;
      }
    }
  }
  .ccf-total {
    flex: auto;
    color: $brand-primary; font-size: $font-size-h4; font-weight: 500; text-align: right;
  }
}

.checkout-summary {
  .cs-total {
    display: flex;
    justify-content: space-between;
    color: $brand-primary; font-size: $font-size-h4; font-weight: 400;
    margin-bottom: $grid-gutter-width/2;
  }
  .cs-amount,
  .cs-discount,
  .cs-weight {
    display: flex;
    justify-content: space-between;
    margin-bottom: $grid-gutter-width/2;
  }
}

.checkout-services {
  .services-list {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    margin-right: -$grid-gutter-width/2;
  }

  .form-type-checkbox {
    flex: 0 0 33%;
    line-height: 1.2;
    padding-right: $grid-gutter-width/2;
    &.form-item { margin-bottom: $grid-gutter-width; }
    .cb-mark:before {
      font-size: 24px;
      width: 40px; height: 40px;
    }
  }
}

.checkout-address,
.checkout-support {
  .form-group { margin-bottom: $grid-gutter-width/2*3; }
}

.commerce_payment {
  position: relative;
  margin-bottom: $grid-gutter-width*2;

  .form-radios {
    display: flex;
    @include user-select(none);
    &::-webkit-scrollbar { display: none; }
    margin: 0 (-$grid-gutter-width/2);
  }
  .radio {
    flex: 1 1 200px;
    max-width: 33%;
    margin: 0 $grid-gutter-width/2!important;
    label {
      background-color: $well-bg;
      border: 1px solid $gray-lighten;
      padding: 15px 30px;
      font-weight: 300; text-align: center;
      width: 100%;
    }
    &:focus label,
    &.active label {
      border-color: $brand-primary;
    }
    input {
      clip: rect(0, 0, 0, 0);
      pointer-events: none;
      margin: 0;
    }
    &:not(:last-child) label {
      margin-right: $grid-gutter-width/2;
    }
  }
  #payment-details {
    font-size: $font-size-small;
    padding: $grid-gutter-width/2 0;
  }
}

/* ------------------------------------------------- Список препаратов (Checkout ) ------------------------------ */
/* ------------------------------------------------- Оформление списка (Checkout cart) - */
//.checkout-cart {
//  .cc-list {
//    margin: 0 0 $grid-gutter-width 0;
//    .cc-item {
//      border-bottom: 1px solid $legend-border-color;
//      padding: $grid-gutter-width/2 0;
//      display: flex;
//      .cc-image       {
//        flex: 0 0 100px;
//        margin-right: $grid-gutter-width/2;
//      }
//      .cc-product     {
//        flex: 1 0 300px;
//        margin-right: $grid-gutter-width/2;
//        h4 {
//          font-size: 1.4em;
//          margin-top: 0;
//          a {
//            span { color: $text-muted; font-size: .6em; }
//            &:hover,
//            &:focus {
//              color: $brand-danger;
//              text-decoration: none;
//            }
//          }
//        }
//        div { font-size: .8em; }
//        span { color: $text-muted; font-weight: 300; }
//      }
//      .cc-price-group {
//        flex: 1 0 100px;
//        display: flex; flex-wrap: wrap; justify-content: flex-end;
//        text-align: right;
//        padding: 0 $grid-gutter-width/2;
//        & > div { flex: 0 0 100%; }
//        .cc-price {
//          font-size: 1.1em; font-weight: 300;
//          margin-bottom: 5px;
//        }
//        .cc-qty {
//          max-width: 150px;
//          .form-text { text-align: center; }
//        }
//        .cc-total {
//          font-size: 1.4em; line-height: 35px;
//          margin-top: 5px;
//        }
//      }
//      .cc-action {
//        flex: 0 0 35px;
//        margin-left: $grid-gutter-width;
//        button { margin-bottom: $grid-gutter-width/2; }
//      }
//
//      @media #{$phone} {
//        font-size: .8em;
//        flex-wrap: wrap;
//        .cc-image { flex: 0 0 60px; }
//        .cc-product     {
//          flex: 1 0 150px;
//          margin-right: 5px;
//          div span { display: none; }
//        }
//        .cc-price-group {
//          flex: 0 0 100%;
//          order: 4;
//          padding: 0; margin-top: 15px;
//          .cc-price {
//            flex: 1 0 150px; order: 2;
//            line-height: 1.4;
//            margin: 0; padding-top: 10px;
//          }
//          .cc-qty { flex: 0 0 130px; order: 1; }
//          .cc-total {
//            flex: 0 0 100%; order: 3;
//            line-height: 1.4;
//            margin: 0;
//          }
//        }
//        .cc-action { margin: 0; }
//      }
//    }
//  }
//  .cc-summary {
//    display: flex;
//    .cc-physical {
//      flex: 1 0 200px;
//      span:not(.sup) { color: $text-muted; font-weight: 300; }
//    }
//    .cc-total {
//      flex: 1 0 100px;
//      font-size: 1.4em; text-align: right;
//      padding: 0 $grid-gutter-width/2;
//    }
//    .cc-refresh {
//      flex: 0 0 35px;
//      margin-left: $grid-gutter-width;
//    }
//  }
//}
/* ------------------------------------------------- Данные пользователя (Checkout) - */
//.checkout-contact {
//  .cc-request {
//    margin: $grid-gutter-width 0 0 0;
//    .cc-forma {
//      margin-top: 4px;
//    }
//  }
//}
//
//.checkout-buttons {
//  text-align: right;
//}

/* ------------------------------------------------- Страница завершения оформления (Checkout complete) - */
.checkout-complete {
  h4 { margin-bottom: $grid-gutter-width; }
  dl > dd { margin-bottom: $grid-gutter-width/2; }
  .contact-card { margin-top: 5px; }
}
