// --------------------------------------- Общие стили -----------------------------------------------------------------
* {
  outline: 0 !important;
}
a {
  @include transition(all 0.2s ease-in-out);
}
// --------------------------------------- Поля
.field {
  margin-bottom: $grid-gutter-width/2;
  .field-label {
    font-weight: 100;
  }
}
.field-type-file {
  .field-item {
    border: 1px solid transparentize($brand-primary, .8);
    border-right: 10px solid $brand-primary;
    padding: 0 38px 0 20px; margin: $grid-gutter-width/2 0;
    .file {
      background: url('../images/icons/file_sheet.png') 0 13px no-repeat;
      padding: $grid-gutter-width/2 0 $grid-gutter-width/2 $grid-gutter-width*2;
      line-height: 1.2em;
      display: flex;
      flex-wrap: wrap;
      .file-info {
        flex: 1 1 350px;
        padding-bottom: 3px;
        span {
          display: block;
          color: $text-muted;
          margin-top: 4px;
        }
      }
      .file-download {  flex: 0 0 170px; padding-top: 3px; }
    }
  }
}

// --------------------------------------- Формы
.form-group > label {
  color: $text-muted; font-weight: 100;
}
.form-horizontal {
  .form-group {
    label {
      position: relative;
      min-height: 1px;
      margin-top: 0;
      margin-bottom: 0;
      padding-top: 7px;
      padding-left: ($grid-gutter-width / 2);
      padding-right: ($grid-gutter-width / 2);

      @media (min-width: $screen-sm-min) {
        float: left;
        width: percentage((3 / $grid-columns));
      }
    }

    .form-textarea-wrapper,
    .form-input-wrapper {
      min-height: 1px;
      @media (min-width: $screen-sm-min) {
        float: left;
        width: percentage((9 / $grid-columns));
      }
    }
  }
  .form-action-wrapper {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    @media (min-width: $screen-sm-min) {
      margin-left: percentage((3 / $grid-columns));
    }
  }
}



fieldset.panel {
  border: 0; box-shadow: none;
  margin-bottom: $grid-gutter-width;
  position: relative;
  legend.panel-heading {
    background: 0;
    float: left;
    line-height: 1em;
    margin: 0; padding: $grid-gutter-width/2 0;
    span.panel-title { font-size: $font-size-h3; }
    a.panel-title {
      color: inherit; font-size: $font-size-h3;
      display: block;
      margin: -10px -15px;
      padding: 10px 15px;
      &:hover { text-decoration: none; }
    }
    i { color: $text-muted; font-size: .7em; }
  }
  .panel-body {
    clear: both;
    display: inherit;
    padding: $grid-gutter-width/2 0 0;
  }
  &.panel-shadow {
    box-shadow: 1px 6px 50px rgba(100, 100, 100, 0.3);
    padding: 8px $grid-gutter-width $grid-gutter-width;
    margin-top: -8px;
  }
}
.page-header {
  border: none;
  margin-bottom: $grid-gutter-width*2; padding: 0;
}
.page-title {
  color: $brand-blue;
  margin-top: 0; padding-bottom: 5px;
  border-bottom: 2px solid $brand-blue;
  display: inline-block;
}
.page-subtitle {
  color: $text-muted; font-size: $font-size-h4; font-weight: 400;
  margin: 0;
}
.divider {
  background: $block-border-color;
  width: 100px; height: 3px;
  margin: $grid-gutter-width 0;
}

// --------------------------------------- Flexslider
.flexslider {
  border: none;
  .flex-viewport {
    @include make-row();
  }
  ul > li {
    padding: 0 $grid-gutter-width/2;
  }
}


// --------------------------------------- Сетка
.col-screen-wide {
  position: relative;
  min-width: 100vw;
  padding: 0;
}
.background {
  position: absolute; top: 0; left: 0; bottom: 0; right: 0;  z-index: -1;
  background-size: cover; background-repeat: no-repeat; background-position: center;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.row-screen-wide {
  justify-content: center;
}
.spot {
  flex: 0 1 auto;
  max-width: 480px;
  margin: $grid-gutter-width*2 0; padding: 40px;
  background: $brand-green-transparent;
  h2 {
    color: #fff; font-size: 5rem; font-weight: 400;
    margin: 0 0 $grid-gutter-width;
  }
  p {
    color: #fff; font-size: $font-size-large;
    margin-bottom: $grid-gutter-width;
  }
}

// --------------------------------------- Кнопки
.btn {
  @include transition(all 0.2s ease-in-out);
  .fa {
    margin-left: 10px;
    line-height: inherit;
  }
}
.btn-lg {
  font-size: 1.6em; line-height: 1;
}
.btn-wide {
  padding-left: 4em; padding-right: 4em;
}
.btn-wide-100 {
  width: 100%;
}
.btn-clear {
  @include button-variant($gray-lighter, transparent, $gray-lighter);
}
.btn-gray {
  @include button-variant(#fff, $gray-lighter, $gray-lighter);
}
.btn-white {
  @include button-variant($brand-green, #fff, #fff);
}

// --------------------------------------- Задний фон для модальных окон
#modalBackdrop {
  background: #000000;
  position: fixed; top: 0; left: 0; z-index: 5;
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  @include transition(opacity 0.2s ease-in-out);
  @include square(0);
  &.show {
    visibility: visible;
    opacity: .5;
  }
}

// --------------------------------------- Шапка
.header {
  position: relative;
  min-height: 417px;
  height: 50vh;
  margin-bottom: $grid-gutter-width*2;
  .front & {
    min-height: 80vh;
    margin-bottom: 0;
  }
  .header-gradient {
    position: absolute; top: 0; left: 0; bottom: 0; right: 0; z-index: 2;
    background: linear-gradient(to bottom, rgba(0,32,91,0.75) 0%, rgba(255,255,255,0) 75%);
    height: 50vh;
  }
  .header-logo {
    background: $block-background-color;
    position: absolute; left: 100px; top: 0;
    text-align: center;
    max-width: 200px;
    a {
      display: inline-block;
      margin-top: $grid-gutter-width*2;
    }
    .site-slogan {
      color: $brand-blue; font-size: 30px; font-weight: 500; line-height: 1.1;
      margin: $grid-gutter-width 0;
    }
  }
  .header-spot {
    .container {
      display: flex;
      justify-content: flex-end;
    }
  }
  .header-title {
    position: absolute; bottom: $grid-gutter-width*2; left: 0; right: 0;
    text-align: center;
    .title-block {
      background: $brand-green;
      color: #fff;
      display:inline-block;
      padding: $grid-gutter-width $grid-gutter-width*6;
      .category-title {
        font-size: $font-size-h1;
        margin: 0;
      }
    }
  }
}
// --------------------------------------- Popup
.popup {
  text-align: left; text-indent: 0; cursor: default;
  height: auto;
  background: #fff; border-radius: 4px;
  position: absolute; z-index: 101;
  opacity: 0;
  @include transition(all 0.3s ease-in-out);
  pointer-events: none;
  box-shadow: 1px 1px 10px #999;
}
.popup .close {
  color: #fff;
  font-size: 35px; line-height: 0; font-weight: 100;
  position: absolute; top: 24px; right: 20px;
  cursor: pointer;
}
.popup-content {
  color: $text-color;
  padding: 0 10px;
}
.popup:before,
.popup:after {
  content: '';
  position: absolute;
  margin-left: -9px;
  @include square(0);
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}
.popup.popup-top-left:before,
.popup.popup-top-left:after {
  top: -10px; left: 20px;
  border-bottom: 10px solid #fff;
}
.popup.popup-top-center:before,
.popup.popup-top-center:after {
  top: -10px; left: 50%;
  border-bottom: 10px solid #fff;
}
.popup.popup-top-right:before,
.popup.popup-top-right:after {
  top: -10px; right: 20px;
  border-bottom: 10px solid #fff;
}
.popup.popup-bottom-left:before,
.popup.popup-bottom-left:after {
  bottom: -10px; left: 11%;
  border-top: 10px solid #fff;
}
.popup.popup-bottom-right:before,
.popup.popup-bottom-right:after {
  bottom: -10px; right: 20px;
  border-top: 10px solid #fff;
}
.popup-trigger-js,
.popup-trigger {
  position: relative;
}
.popup-trigger:hover .popup,
.popup-trigger-js .popup.pop,
.popup-trigger .popup.pop {
  opacity: 1;
  pointer-events: all;
}

.popup-trigger:hover .popup { bottom : -50px; }
.popup {
  font-size: 13px; line-height: 20px; white-space: nowrap;
  bottom: -80px;
  padding: 3px 20px;
}
.btn-s1 .popup { left: 3px; }
.btn-s2 .popup { left: -55px; }
.btn-s3 .popup { left: -58px; }



// --------------------------------------- Меню в шапке
.navbar {
  &.container {
    margin-top: 0;
  }
  .menu-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    &.first {
      margin-top: $grid-gutter-width*2;
    }
  }
}
.menu {
  padding: 0; margin: 0;
  > li {
    display: inline-block;
    > a {
      color: #fff;
      display: block;
      padding: $nav-link-padding;
      position: relative; z-index: 10;
    }
  }
}
.top-menu,
.user-menu {
  > li { font-size: $font-size-base; }
}
.user-menu {
  > li > a {
    padding: 0; margin-left: $grid-gutter-width/2; margin-top: -8px;
    img { width: 40px; }
  }
}
.top-menu {
  flex: 1;
  > li > a:hover,
  > li > a:focus { text-decoration: underline; }
}

/* ------------------------------------------------- Главное меню --------------------------------------------------- */
.dropdown-menu {
  transition: all 0.2s ease-in-out;
  visibility: hidden;
  opacity: 0;
  display: block;
}
.open .dropdown-menu {
  visibility: visible;
  opacity: 1;
}

/*
    Десктопное представление
*/
.main-menu {
  flex: 1;
  @media #{$tablet} {
    > .dropdown-menu { display: block; }
  }
  @media #{$normal} {
    > .dropdown-menu { display: flex; }
  }
  a i { font-size: .7em; }
  a:hover,
  a:focus { text-decoration: none; }
  > li {
    font-size: $font-size-h3;
    position: initial;
    > a {
      border-bottom: 5px solid transparent;
      padding-bottom: 5px;
      @include transition(all 0.2s ease-in-out);
      &:hover {
        border-color: #fff;
      }
    }
    &.open {
      > a,
      > a:hover,
      > a:focus {
        border-color: #fff;
      }
    }
  }
  .level-2-wrapper {
    border: none;
    //padding: 0;
    padding-bottom: 5px;
    @media #{$tablet} {
      position: absolute; top: 100%; left: 0; z-index: 1035;
      width: 100%;
      margin: 0;
    }
    @media #{$normal} {
      left: 50%;
      max-width: 1200px; min-width: 1200px;
      overflow: visible!important;
      -ms-transform: translateX(-50%); transform: translateX(-50%);
      width: 100%;
    }
  }
  .level-2 {
    display: flex; flex-wrap: nowrap; justify-content: center;
    background-color: #fff;
    width: 100%;
    padding-left: 0;
    > li.level-2-item {
      align-items: stretch;
      display: flex;
      -ms-flex-positive: 1;
      flex-grow: 1;
      max-width: 200px;
      width: 100%;
      > a {
        color: $text-muted;
        display: block;
        line-height: 18px;
        min-height: 50px;
        padding: 5px 0;
        width: 100%; height: 100%;
        position: relative;
        &:hover {
          background-color: $block-background-color;
          color: $link-color;
        }
        @media #{$normal} {
          display: block;
          height: auto;
          padding: 20px 0;
        }
      }
      &:not(:last-child) .category-item {
        border-right: 1px solid #e8e7e4;
        height: 100%;
      }
      .category-img {
        text-align: center;
        margin-bottom: $grid-gutter-width/2; margin-left: auto; margin-right: auto;
        display: block;
        width: 100px; height: 70px;
        img { max-height: 100%; }
      }
      .category-link {
        text-align: center;
      }
      &.visible > a {
        background-color: $block-background-color;
      }
    }
  }
  .level-3-wrapper {
    background-color: #fff;
    display: none;
    position: absolute; left: 33.333%; top: 0;
    width: 66.666%; min-height: 300px;
    margin: 0;
    a { @include transition(none); }
    @media #{$normal} {
      left: 0; top: 100%;
      width: 100%;
    }
    .col-1 {
      display: flex; flex-direction: column; justify-content: flex-start;
      padding: 50px $grid-gutter-width/2 $grid-gutter-width $grid-gutter-width*1.5;
      .category-title,
      .show-more {
        flex: 0 auto;
      }
      .category-title {
        font-size: $font-size-h3;
      }
      .show-more {
        font-size: $font-size-h4;
        margin-top: 25px;
        i { font-size: .7em; }
      }
    }
    .col-2 {
      padding: 50px $grid-gutter-width/2 $grid-gutter-width;
    }
    a.show-more {
      color: $text-muted;
      flex: auto;
      &:hover { text-decoration: underline; }
    }
    .price-list {
      flex: auto;
      display: flex; align-items: flex-end;
    }
    .menu-banner {
      background: $block-background-color;
      .banner-img {
        padding: 0;
      }
      .banner-text {
        padding: $grid-gutter-width;
        p {
          color: $brand-blue; font-weight: 500;
          margin-bottom: 20px;
        }
      }
    }
  }
  .level-3 {
    padding: 0;
    @include clearfix();
    > li {
      float: left;
      width: 50%;
      position: relative;
      list-style: none;
      > a {
        padding-left: 12px;
      }
      > i { color: $text-muted; font-size: 10px; position: absolute; top: 6px; }
    }
    > li:not(:last-child) {
      margin-bottom: 10px;
    }

  }
  .visible .level-3-wrapper { display: block; }

}

// --------------------------------------- Меню пользователя
.user-menu {
  padding: 0; margin: 0;
  > li { padding: $grid-gutter-width 0; }
  .dropdown-menu {
    right: 0; left: initial;
    min-width: 200px;
    list-style: none;
    border: none;
    border-top: 1px solid #e1e1e1;
    margin: 0; padding: 8px 0 14px;
    @include transition(all 0.3s ease-in-out);
    ul {
      padding: 0;
      > li {
        &.with-icon i { display: none; }
        &.panel {
          box-shadow: none;
          border: none;
          margin-bottom: 0;
          &.visible {  }
          .panel-body { padding: 0; }
        }
        .title-link {
          display: flex;
          justify-content: space-between;
        }
        > a,
        > div > a {
          display: inline-block;
          background: none;
          color: $text-color; text-decoration: none;
          line-height: 35px;
          padding: 0 20px;
          &:hover { color: $link-color; }
          &.dropdown-link {
            padding-left: 0;
            span { @include transition(all 0.3s ease-in-out); }
          }
          &:not(.collapsed) span {
            @include rotate(-180deg);
          }
          //&.dropdown-link { float: right; }
        }
        ul.navbar-nav {
          float: none;
          padding-left: 20px;
          > li { float: none; }
        }
      }
    }
    .level-2:before {
      content: " ";
      margin: 10px 20px;
      height: 1px;
      background: #e1e1e1;
      display: block;
    }

  }
  .user-info {
    font-weight: 500;
    margin: 11px 0 14px; padding: 0 20px;
    span {
      display: block;
      color: $text-muted; font-weight: 400;
    }
  }
}


// --------------------------------------- Контент
.main {
  .content {
    margin-bottom: $grid-gutter-width;
  }
  .block {
    margin-bottom: $grid-gutter-width;
  }
  // --------------------- Меню в контенте
  .block-menu {
    text-align: center;
    .menu {
      li > a {
        color: $brand-blue; font-size: $font-size-h2;
        border-bottom: 3px solid transparent;
        &:hover,
        &:focus,
        &.active {
          border-color: $brand-blue;
          background: none;
        }
      }
    }}
}

// --------------------------------------- Top Banner
.banner-top {
  margin-bottom: $grid-gutter-width*2;
  .banner {
    .container {
      display: flex;
    }
  }
}

// --------------------------------------- Bottom Banner
.banner-bottom {
  #block-block-26 {
    padding-top: $grid-gutter-width;
  }
  .we-covenient-content {
    display: flex;
    text-align: center;
    > div {
      border: 3px solid transparent;
      border-radius: $border-radius-base;
      flex: 0 1 200px;
      padding: $grid-gutter-width/2;
      @include transition(all 0.2s ease-in-out);
      &:hover {
        border-color: #fff;
        background: $gray-lighter;
      }
    }
    img {
      min-height: 80px; width: 80px;
      display: inline-block;
      margin-bottom: $grid-gutter-width;
    }
    p {
      font-size: $font-size-large;
    }
    @media #{$phone} {
      flex-wrap: wrap;
    }
  }
}


// --------------------------------------- Списки, Views, Представления
.view {
  .view-filters {
    margin-bottom: $grid-gutter-width;
  }
  .views-exposed-widget {
    width: 50%;
  }
  &.view-list .view-item,
  &.view-table .view-item {
    padding-bottom: $grid-gutter-width;
  }
}

// --------------------------------------- Карточка Новость, Вакансия, Афиша
article {
  &.full,
  &.teaser {
  }

  &.teaser {
    display: flex; flex-wrap: wrap;
    //padding: $grid-gutter-width 0;
    margin-bottom: $grid-gutter-width;
    .top {
      flex: 100%;
      margin-bottom: $grid-gutter-width/2;
      .submitted {
        display: inline-block;
        margin-left: $grid-gutter-width;
      }
    }
    .left-side {
      flex: 0 0 70%;
      padding-right: $grid-gutter-width;
      .submitted {
        line-height: 20px;
      }
      h2 {
        font-weight: 400;
        margin-top: 0;
      }
    }
    .right-side {
      flex: 0 0 30%;
    }
    .bottom {
      color: $text-muted;
    }
  }
  .teaser:not(.vacancy) {
    border-bottom: 2px solid $block-border-color;
  }


  &.full {
    width: 100%;
    h1 { color: $brand-blue; }
    h3 { color: $brand-blue; }
    .backstep { margin-bottom: $grid-gutter-width; }
    .node-stuff {
      > span {
        color: $gray-light;
        display: inline-block;
        margin-right: $grid-gutter-width;
        i { margin-right: $grid-gutter-width/4; }
      }
    }
    .summary {
      margin-bottom: $grid-gutter-width;
    }
    .node-image {
      margin-bottom: $grid-gutter-width;
    }
  }

  /* ------------------------------------------------- Форма, встраиваемая в ноду - */
  .form-embedded {
    box-shadow: 1px 6px 50px rgba(100, 100, 100, 0.3);
    padding: 8px $grid-gutter-width $grid-gutter-width;
    h3 {
      border-bottom: 1px solid $block-border-color;
      color: $text-color; font-weight: 400;
      padding: $grid-gutter-width/2 0; margin: 0 0 $grid-gutter-width/2;
    }
  }

}

/* ------------------------------------------------- Страница препарата - */
.product-intro {
  .product-image {
  }
  .product-brief {
    background-color: $block-background-color;
    padding: $grid-gutter-width;

    .field {
      @include make-row();
      margin-bottom: $grid-gutter-width/2;
      .field-label {
        text-align: right;
        @include make-sm-column(5);
      }
      .field-items { @include make-sm-column(7); }
    }

    .field-name-commerce-price {
      .field-items { @include make-sm-column(12); }
      .field-item {
        background-color: #fff;
        border-radius: 2px;
        font-size: 24px; text-align: center;
        padding: 5px;
      }
    }

    .field-name-field-product .field-items { @include make-sm-column(12); }


    .form-horizontal {
      & > div { @include make-row(); }
      .control-label { @include make-sm-column(5);}
      .form-input-wrapper   { @include make-sm-column(7); }
      .form-action-wrapper  { @include make-sm-column-offset(5); }
    }

    .field-name-field-pd-mix-components {
      .field-item { margin-bottom: 5px; }
      .ingredients { color: $text-muted; font-size: $font-size-small; }
    }
    #edit-line-item-fields { display: none; }

    .field .field-label,
    .form-item .control-label {
      color: $brand-blue;
    }

    @media #{$phone} {
      padding: 20px;
    }
  }
}

.product-description {
  padding-top: 60px;
  overflow: hidden;

  .table {
    th {
      font-size: .9em; font-weight: 100; text-align: center;
      background-color: $brand-blue;
      color: #fff;
    }
    td {
      font-size: .85em;
      vertical-align: middle;
    }
    h5 { font-size: 1em; }
    @media #{$phone} {
      font-size: 6px; line-height: 7px;
    }
  }

  div.horizontal-tabs {
    border: none;
    position: relative;
    &::after {
      content: '';
      display: block;
      position: absolute; top: 0; right: 0; z-index: 1;
      width: 30px; height: 27px;
      visibility: visible;
      @include gradient-directional(#fff, transparent, -90deg);
    }

    .horizontal-tabs-list {
      background: none;
      border: none;
      border-bottom: 1px solid $block-border-color;
      font-size: $font-size-h3; line-height: $font-size-h3;

      display: -webkit-box; display: -ms-flexbox; display: flex;
      flex-wrap: nowrap;
      -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start;
      overflow-x: scroll; overflow-y: hidden;
      @include user-select(none);
      &::-webkit-scrollbar { display: none; }
      li {
        background: none;
        border: none;
        min-width: initial;
        padding: 0;
        a {
          color: $text-color;
          white-space: nowrap;
          padding: $grid-gutter-width/2 $grid-gutter-width $grid-gutter-width/2 0;
          strong { font-weight: 400; }
          &:hover {
            background: none;
            color: $link-hover-color;
          }
        }
        &:last-child {
          border: none; margin-right: 0;
          a { padding-right: 0; }
        }
      }
      .selected strong {
        color: $link-color;
        &:hover { color: $link-hover-color; }
      }
    }
    fieldset.horizontal-tabs-pane {
      background: none;
      padding: 15px 0;
      box-shadow: none;
      & > .panel-body { padding: 0; }
    }
    h4 {
      cursor: pointer;
      color: $brand-blue; font-weight: 400;
      i {
        margin-left: 5px;
        font-size: .8em;
        @include transition(all 0.3s ease-in-out);
      }
      &:not(.collapsed) i {
        @include rotate(-180deg);
      }
    }

    .group-tab-descr {
      p, ul {
        font-size: 17px;
        margin: 0 0 $grid-gutter-width;
      }

      /* ----------------------------------------------- Микроэлементы (Microelements) - */
      .fc-micronutrients { margin-bottom: 20px; }
      .fc-micronutrient {
        background: $brand-primary;  border-radius: 4px;
        float: left;
        color: #fff;
        height: 80px; width: 80px;
        margin: 0 15px 15px 0;
      }
      .fc-micronutrient,
      .fc-mn-number,
      .fc-mn-percent,
      .fc-mn-element,
      .fc-mn-name {
        text-align: center;
        overflow: hidden;
        transition: all 0.3s ease-in-out; -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out;
      }
      .fc-mn-number {
        font-size: 11px; text-align: right;
        height: 25%;
        padding: 3px 10px;
      }
      .fc-mn-percent {
        font-size: 17px; font-weight: 100;
        height: 60%;
        overflow: hidden;
        margin-top: -60%;
      }
      .fc-mn-element {
        font-size: 28px; font-weight: 100;
        height: 50%;
      }
      .fc-mn-name {
        font-size: 11px;
        height: 25%;
        padding: 3px 5px;
      }
      //.fc-micronutrient:hover { background: #b36500; }
      .fc-micronutrient:hover .fc-mn-number {
        opacity: 0;
        height: 0;
      }
      .fc-micronutrient:hover .fc-mn-name { height: 0; }
      .fc-micronutrient:hover .fc-mn-percent {
        margin-top: 0;
        padding-top: 30px;
      }
      .fc-micronutrient:hover .fc-mn-element { font-size: 18px; }
    }

    /* спектр активности */
    .group-tab-activity {
      .field {
        .field-collection-view { margin: 0; padding: 0; }
        .panel {
          margin-bottom: 15px;
          .panel-heading {
            color: #fff;
            h3 { margin: 0; }
          }
          .panel-body {
            padding: 20px;
            .act-class h4 { color: $text-color; margin-bottom: 5px; }
            .act-life-time { margin-bottom: 10px; }
            .act-life-time h5 {
              text-decoration: underline;
              margin-bottom: 2px;
            }
          }
          &.panel-72347 .panel-heading { @include gradient-vertical($start-color: $brand-success, $end-color: darken($brand-success, 5%)); }
          &.panel-72348 .panel-heading { @include gradient-vertical($start-color: $brand-warning, $end-color: darken($brand-warning, 5%)); }
          &.panel-72349 .panel-heading { @include gradient-vertical($start-color: $brand-danger, $end-color: darken($brand-danger, 5%)); }
          &.panel-72350 .panel-heading { @include gradient-vertical($start-color: $brand-danger, $end-color: darken($brand-danger, 5%)); }

          &.panel-72347 { border-color: $brand-success; }
          &.panel-72348 { border-color: $brand-warning; }
          &.panel-72349 { border-color: $brand-danger; }
          &.panel-72350 { border-color: $brand-danger; }
        }
      }
    }

    /* регламенты */
    .group-tab-reglaments {
      .field-collection-container {
        @include make-row();
        border: none;
      }
      .reg-category div {
        @include rotate(-90deg);
        font-size: 1.1em; letter-spacing: 1px; line-height: 1em;
        width: 20px;
        margin-top: 60px;
      }
      .reg-text {
        text-align: justify;
      }
      h5 { margin-bottom: 5px; }
      a { color: $text-color; }
      .calculation .table {
        border: none;
        h3 { margin-bottom: 5px; }
        th {
          background: none; border: none;
          span { color: $text-muted; }
        }
      }
    }

    // Применение
    .group-tab-app {
      .classes {
        padding-bottom: $grid-gutter-width;
        img {
          margin: $grid-gutter-width/2 auto;
          width: 80%;
        }
      }
      .application {
        font-size: .8em;
        padding-bottom: $grid-gutter-width;
        & > div > div { height: 40px; }
      }
      .instruction {
        font-size: .8em;
        padding-bottom: $grid-gutter-width;
        img { width: 70%; }
        & > div > div { padding-top: $grid-gutter-width; }
      }
    }

    .group-tab-certificate {
      .field-name-field-pd-certificate {
        .field-items { display: flex; }
        .field-item { flex: 1 1 350px; }
      }
    }
  }
}


// --------------------------------------- ASide
aside {
  .block {
    border: 1px solid $block-border-color;
  }
  .block-content {
    padding: $grid-gutter-width;
    text-align: center;
    img {
      width: 100%;
    }
    h3 { color: $brand-blue; }
  }
}


// --------------------------------------- Подвал
.footer {
  border-top: 10px solid $block-background-color;
  h3 { color: $brand-blue; }
  .brand {
    text-align: right;
  }
  .social-links {
    a {
      display: inline-block;
      border: 2px solid $gray-light; border-radius: 20px;
      color: $gray-light; text-align: center;
      @include square(35px);
      margin-right: 7px;
      &:last-child { margin-right: 0; }
      @include transition(all 0.2s ease-in-out);
      i {
        vertical-align: middle;
        font-size: 18px; line-height: 34px;
        @include transition(all 0.2s ease-in-out);
      }
      &:hover {
        border-color: $gray;
        i { color: $gray; }
      }
      @media #{$normal} {
        @include square(40px);
        i { font-size: 20px; line-height: 36px; }
      }
    }
  }
}

// --------------------------------------- Главная ---------------------------------------------------------------------
.front {
  .block {
      h2.block-title {
        color: $brand-blue; font-size: 4rem; font-weight: 400; text-align: center;
        margin: 0 0 $grid-gutter-width*2;
      }
    .promo-block-content {
      text-align: center;
      border: 1px solid $block-border-color;
      border-radius: $border-radius-base;
      padding: $grid-gutter-width;
      h3 {
        color: $brand-blue; font-weight: 400;
        max-height: 2.2em; min-height: 2.2em;
        overflow: hidden;
        margin-bottom: $grid-gutter-width;
      }
      .block-image {
        min-height: 190px;
      }
      .block-summary {
        color: $gray;
        max-height: 5.5em; min-height: 5.5em;
        overflow: hidden;
        margin-bottom: $grid-gutter-width;
      }
    }
  }
}

// --------------------------------------- Внутренние ------------------------------------------------------------------
/* ------------------------------------------------- Форма входа - */
.toboggan-unified {
  @include make-sm-column-offset(2);
  @include make-sm-column(8);
  @include make-md-column-offset(3);
  @include make-md-column(5);
  padding-left: 0; padding-right: 0;

  #login-message {
    text-indent: -9999px;
    width: 60px; height: 67px;
    background: url(../../../../default/files/images/logo/logo.svg); background-repeat: no-repeat; background-size: cover;
    margin: 0 auto 20px;
  }
  #login-links {
    background: $gray-lightest;
    border-top: 6px solid $brand-blue; border-left: 1px solid $gray-lighter; border-right: 1px solid $gray-lighter;
    font-size: 1em; text-align: right; line-height: inherit;
    padding: $grid-gutter-width/2;
    a {
      background: none; border: none;
      color: $text-muted;
      padding: 0;
      &.lt-active { display: none; }
      &:hover { background: none; }
    }
  }
  #register-form,
  #login-form {
    background: $gray-lightest;
    padding: 0 $grid-gutter-width/2 $grid-gutter-width/2;
    border: 1px solid $gray-lighter; border-top: none;
    .login-forgot {
      text-align: right;
      margin-bottom: 10px;
      a { color: $text-muted; }
    }
    .form-group:not(.form-actions) { margin-bottom: $grid-gutter-width; }
    .btn { width: 100%; }
    .g-recaptcha > div { margin: 0 auto; }
  }
  @media #{$tablet} {
    padding-left: $grid-gutter-width/2; padding-right: $grid-gutter-width/2;
    #login-links {
      padding: $grid-gutter-width $grid-gutter-width*2;
    }
    #register-form,
    #login-form {
      padding: 0 $grid-gutter-width*2 $grid-gutter-width;
    }
  }
}


/* ------------------------------------------------- Вертикальная карточка (Product, Field) - */
.v-card {
  text-align: center;
  overflow: hidden;
  border: 1px solid $block-border-color;
  padding: $grid-gutter-width;
  header, footer {}
  .divider {
    background: $block-border-color;
    display: inline-block;
    width: 50px; height: 3px;
    margin: $grid-gutter-width/2 0;
  }

  .v-card-image {
    padding: 0 20px;
  }
  .v-card-content {
    .btn {
      margin-bottom: $grid-gutter-width/2;
    }
  }
  .v-card-summary {
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: $grid-gutter-width/2;
  }
  .v-card-subtitle {
    color: $gray-light;
    margin: 0 0 10px 0;
    min-height: 1em;
  }
  .v-card-more {
    text-align: left;
    width: 100%;
    position: relative;
  }

  &.product .v-card-summary {
    height: 9.1em;
  }

  @media #{$wide} {
    .v-card-image {
      min-height: 250px;
    }
  }
}
