// подключаем миксины и переменные темы
@import "../../../../themes/gard/css/_include";

/* ------------------------------------------------- Калькулятор (Agrocalc) ----------------------------------------- */
#agrocalc-form-wrapper {
  > div {
    @include make-sm-column-offset(1);
    @include make-sm-column(10);
    @include make-md-column-offset(2);
    @include make-md-column(8);
  }
}
.agrocalc-form {
  fieldset .panel-body {
    @include make-row();
  }
  .form-item-culture,
  .form-item-phase,
  .form-item-area,
  .form-item-seed,
  .form-item-weeds,
  .form-item-pests,
  .form-item-fert,
  .form-item-desic,
  .form-item-region,
  .form-item-phone,
  .form-item-email,
  .form-item-name,
  .form-item-diseases {
    @include make-sm-column(6);
  }
  .form-item-desic,
  .form-item-fert {
    text-transform: uppercase;
  }
  .help-block { margin: 0; }
  .form-actions { position: relative; }

  [data-animate=true] {
    position: absolute; z-index: 1;
    display: none;
    &.animate-processed { display: block; }
    &.animate-processed.accepted { display: none; }
  }
  .help1 { top: -85px; left: -150px; }
  .help2 { top: 160px; left: 210px; }
  .help3 { top: -60px; right: 180px; }
  .help4 { right: 0; top: 125px; }
  .help5 { top: 30px; right: -20px; }
  .help6 { bottom: -70px; right: 30px; }
  .help7 { top: -5px; left: -35px; }
  .help8 { top: -140px; left: 325px; }

}
