@import "variables"; // чтобы переменные не подсвечивались

.block-front-banner {
  .swiper-slide {
    height: 635px;
    .img {
      position: absolute; top:0; bottom: 0;left:0; right: 0; z-index: 1;
      background-size: cover; background-position: center;
    }
  }
  .swiper-pagination-bullet {
    background: #fff; box-shadow: 1px 1px 10px #333333;
    border-radius: 0;
    width: 1rem; height: 1rem;
    opacity: .7;
  }
  .swiper-pagination-bullet-active {
    background: $brand-color;
  }
  .container { position: relative; }
  .text-wr {
    display: flex;
    position: absolute; z-index: 3;
    margin-top: 15rem;
    width: 100%;
    &:before {
      background: rgba(27, 30, 40, 0.50);
      content: "";
      display: block;
      flex: 1;
    }
    &:after { flex: 1;
      content: "";
      display: block;
    }
  }
  .text {
    background: rgba(27, 30, 40, 0.50);
    color: #fff;
    padding: 2rem 1rem;
    h2 {
      font-size: 1.7rem; font-weight: 700; text-shadow: 1px 1px 10px #666;
      display: block;
      margin-bottom: 2rem;
    }
    .summary {
      font-size: $font-size-h3; font-weight: 500;
    }
    .more { margin-top: 4rem; }
  }

  @media #{$pad} {
    .container { padding: 0 1rem; }
    .text-wr {
      margin-top: 180px;
      h2 {
        font-size: 50px;
        margin: 2rem 0;
      }
    }
    .text { padding: 2rem 3rem; }
  }
  @media #{$tablet} {
    .text-wr {
      margin-top: 205px;
    }
    .text { margin-right: 4rem; padding-right: 20rem; }
  }
  @media #{$laptop} {
    .swiper-slide { height: 750px; }
    .text-wr {
      margin-top: 220px;
      h2 {
        font-size: 60px;
      }
    }
    .text { margin-right: 1rem; padding-left: 1rem; }
  }
}

.block-new-products {
  .card-product-v .text { padding: 1rem 0; }

  .carousel-products {
    //.swiper { padding: 1rem 1rem 0; } // чтобы тени карточек не попадали под границы
    .swiper-slide { height: auto; }

    //@media #{$phone-only}, #{$smart-only}, #{$pad-only}, #{$tablet-only} {
    //  @include screen-width();
    //}
  }

  @media #{$laptop} {
    .card-product-v {
      transition: all 200ms;
      .text { padding: 1rem; }
    }
  }
}


#block-ext-block-custom-block-catalog { margin-bottom: 0; }


.block-catalog {
  .screen-width {
    background: $well-bkg-clr;
    min-height: 230px;
  }
  .b1 { padding: 2rem 0; }
  .category { display:flex; justify-content: center; }
  .text {
    display: flex; align-items: center;
    border-bottom: 1px solid $gray-light;
    font-size: $font-size-h2;
    margin: 1rem 0; padding: 7px 0;
    width: 20rem;
    .index { color: $brand-color; font-size: 2rem; }
    .title {
      flex: auto;
      color: $brand-color; font-weight: 500;
      padding-left: 3rem;
    }
  }

  @media #{$tablet} {
    .b1 { padding: 3rem 0; }
  }
  @media #{$laptop} {
    .b1 { padding: 5rem 0; }
  }
}

.block-video-about {
  .b2 {
    font-size: $font-size-large; font-weight: 400;
    padding: 2rem 0;
  }
  .b3 {
    display:flex; justify-content: center; align-items: center;
    height: 100%;
  }
}

.block-contacts {
  .content { padding-top: 2rem; }
  .b {
    height: 100%;
    padding: 1rem 0;
  }
  .contact {
    border-bottom: 1px solid $divider-clr;
    text-align: center;
    height: 100%;
    padding: 1rem;
    i.icon {
      color: $brand-color; font-size: 3rem;
      border-color: $brand-color;
    }
  }
  .title { margin: 1rem 0; }
  a { color: inherit; }
  .map {
    display: flex; align-items: center;
    height: 100%;
  }
}

.block-agro-services {
  .content {
    display: flex; flex-wrap: wrap; justify-content: space-between;
  }
  .service {
    flex: 0 0 100%;
    text-align: center;
    margin-bottom: 2rem;
  }
  .title {
    display: flex; align-items: center; justify-content: center;
    background: $brand-color;
    color: #fff; font-size: $font-size-h4; font-weight: 700;
    padding: 0.8rem 2rem;
  }
  .well {
    display: flex; justify-content: center; align-items: center;
    background: $well-bkg-clr;
    min-height: 15rem;
    i.icon {
      color: $brand-color; font-size: 5.5rem;
      border-color: $brand-color;
    }
  }
  a { color: inherit; }

  @media #{$tablet} {
    .service { flex: 0 0 31%; }
    .title { min-height: 70px; font-weight: 500; }
    .well { min-height: 13rem; }
    i.icon { font-size: 3.5rem; }
  }
  @media #{$laptop} {
    .service { flex: 0 0 29%; }
    .title { min-height: initial; font-weight: 700; }
    .well { min-height: 15rem; }
    i.icon { font-size: 5.5rem; }
  }
}

.block-information {
  a { color: inherit; }
  .content {
    background: $well-bkg-clr;
    padding: 2rem;
    position: relative;
  }
  .infos { padding-left: 1rem; }
  .info {
    display: flex;
    margin-bottom: 2rem;
  }
  .title { padding-bottom: .5rem; }
  .text {
    display: flex; align-content: center; flex-wrap: wrap;
    padding: 0 1rem;
  }
  .media i.icon { color: $brand-color; font-size: 4rem; }
  .b1 {
    background-image: url(../../../modules/custom/ext_block/images/plants.jpg); background-size: cover; background-position: right center;
    position: relative;
    height: 100%;
    min-height: 15rem;
  }

  @media #{$tablet} {
    .infos { padding-left: 2rem; }
    .info { margin: 2rem 0; }
    .media i.icon { font-size: 5rem; }
  }
  @media #{$laptop} {
    .infos { padding-left: 3rem; }
  }
}

.block-video-can {
  .screen-width {
    background: $well-bkg-clr;
    padding: 2rem 0;
    overflow: initial;
  }
  video { display: block; }
  .b1 {
    display: flex; flex-wrap: wrap; align-content: center;
    height: 100%;
    padding-bottom: 1rem;
  }
  @media #{$tablet} {
    .underline { margin: 0; }
  }
  @media #{$laptop} {
    .screen-width {
      margin-top: 4rem; margin-bottom: 2rem;
      padding: 0;
    }
    .b1 { padding: 1rem 4rem 1rem 0; }
  }
}

.block-app {
  .title {
    color: $brand-color; text-transform: uppercase;
    margin-bottom: 1rem;
  }
  .description {
    color: $brand-color;
    margin: 2rem 0 1rem;
  }
  .section {
    display: flex; align-items: center;
    font-weight: 600;
    padding: 1rem 0;
    .pointer {
      flex: 0 0 2em;
      display: flex; justify-content: center; align-items: center;
      width: 2em; height: 2em;
      margin-right: .5rem;
      i.icon { color: $brand-color; font-size: 3rem; }
    }
  }
  .download {
    padding: 1rem 0;
    width: 100%;
  }
  @media #{$laptop} {
    .download { padding-top: 3rem; }
  }
}

.block-video-manufacture {
  .screen-width {
    background: $well-bkg-clr;
    padding: 2rem 0;
    overflow: initial;
  }
  .b1 {
    display: flex; flex-wrap: wrap; align-content: center;
    height: 100%;
    padding-bottom: 1rem;
  }
  @media #{$tablet} {
    .underline { margin: 0; }
  }
  @media #{$laptop} {
    .screen-width {
      margin-top: 4rem; margin-bottom: 2rem;
      padding: 0;
    }
    .b1 { padding: 1rem 8rem 1rem 1rem; }
    .b2 { margin: -3rem 0; }
  }
}

.block-counters {
  .counters { text-align: center; }
  .counter {
    margin-bottom: 1rem;
    span { color: $brand-color; font-size: 5rem; font-weight: 700; }
    p {
      font-weight: 700;
      width: 215px;
      margin: 1rem auto;
    }
  }
  @media #{$tablet} {
    .counter {
      margin-bottom: 0;
      span { font-size: 4rem; }
      p { width: initial; }
    }
  }
  @media #{$laptop} {
    .counter span { font-size: 6rem; }
  }
}

.block-front-counters {
  .screen-width.row-1 {
    background: $gray-darkest;
    color: #fff;
  }
  .section-title {
    color: #fff; text-transform: uppercase;
    padding-bottom: 1rem!important;
    .underline { background: #fff; }
  }
  .description {
    font-size: $font-size-h4; font-weight: 500; text-align: center;
    padding-bottom: 2rem;
    a {
      color: inherit;
      &:hover { text-decoration: underline; }
    }
  }

  .screen-width.row-2 {
    background: $brand-color;
  }
  .counters {
    padding: 2rem 0;
    text-align: center;
  }
  .counter {
    color: #fff;
    margin-bottom: 1rem;
  }
  span { font-size: 5rem; font-weight: 700; }
  p {
    font-size: $font-size-h4; font-weight: 500;
    width: 215px;
    margin: 1rem auto;
  }

  @media #{$tablet} {
    .counters { padding: 3rem 0; }
    .counter { margin-bottom: 0; }
    span { font-size: 3rem; }
    p {
      font-size: $font-size-small;
      width: initial;
    }
  }
  @media #{$laptop} {
    .description { font-weight: 700; }
    span { font-size: 4rem; }
    p { font-size: $font-size-h4; }
  }
}

.block-about {
  font-size: $font-size-small;
  .b1 {
    background-image: url(../../../modules/custom/ext_block/images/about.jpg); background-size: cover; background-position: center center;
    height: 100%;
    min-height: 230px;
  }
}

.block-advantages {
  .advantage {
    font-size: $font-size-h4; text-align: center;
    margin-bottom: 2rem;
    p {
      display: inline-block;
      padding: 0 2rem;
    }
    img {
      display: block;
      width: 100%;
    }
  }
  .image { position: relative; z-index: -1; }
  .corner::before { background: linear-gradient(to left bottom, transparent 50%, $gray-light 0) 100% 0 no-repeat; }
}

.block-trade-net {
  .net {
    display: flex; align-items: center;
    font-size: $font-size-h4;
    padding-top: 1rem;
    span { display: inline-block; }
    span:first-child {
      color: $brand-color; font-size: 4rem; font-weight: 700;
      flex: 0 0 1.6em;
    }
  }
  .actions {
    text-align: center;
  }
  a {
    display: inline-block;
    margin-top: 1rem;
  }
  .map { padding: 2rem 0; }
  .btn.btn-underline {
    padding-left: 2rem; padding-right: 2rem;
  }

  @media #{$tablet} {
    .net { font-size: $font-size-h3; }
    span:first-child {
      font-size: 5rem;
      flex: 0 0 2em;
    }
    .actions { text-align: left; }
  }

  @media #{$laptop} {
    .net { padding: 1rem 0; }
    .btn.btn-underline {
      width: 500px;
    }
  }
}

.block-services {
  .screen-width {
    background: $well-bkg-clr;
  }
  .content { padding: 2rem 0; }
  .text {
    display: flex; flex-wrap: wrap; align-content: center;
    height: 100%;
    padding-bottom: 1rem;
  }
  .links {
    display: flex; flex-wrap: wrap; align-content: space-between;
    height: 100%;
    a {
      margin: 0 0 1rem 0;
      width: 100%;
    }
  }

  @media #{$tablet} {
    .text { padding-right: 5rem; }
    .links a {
      width: initial;
    }
    .underline { margin: 0; }
  }
}

.block-reviews {
  position: relative;
  a { color: inherit; }
  .img {
    background-image: url(../../../modules/custom/ext_block/images/reviews.jpg); background-size: cover; background-position: center;
    height: 300px;
    margin: 0 -2rem;
    overflow: hidden;
  }
  .c1, .c2, .c3 {
    position: absolute; top: 6rem;
    background: $brand-color;
    border-radius: 200px;
    overflow: hidden;
    width: 250px; height: 250px;
  }
  .c1 {
    left: -6rem; z-index: 1;
    background: $brand-color;
  }
  .c2 {
    left: -7rem; z-index: 2;
    background: #fff;
  }
  .c3 {
    left: -8rem; z-index: 3;
    background-image: url(../../../modules/custom/ext_block/images/reviews_1.jpg); background-size: cover; background-position: center;
  }
  .title {
    background: $brand-color;
    color: #fff; text-align: center;
    padding: 1rem 4rem; margin: 0 -2rem;
    position: relative; z-index: 5;
  }

  @media #{$pad} {
    .img,
    .title { margin: 0 -3rem; }
  }
  @media #{$tablet} {
    .img {
      border-bottom-left-radius: 200px; border-top-left-radius: 200px;
      height: 400px;
      margin: 0 0 2rem 0;
    }
    .c1, .c2, .c3 {
      top: 0; left: 0;
      width: 400px; height: 400px;
    }
    .c1 { left: 40px; }
    .c2 { left: 20px; }
    .c3 { left: 0; }
    .title {
      text-align: left;
      position: absolute; right: 0; bottom: 2rem;
      margin: 0;
    }
  }
}

.block-socials {
  .socials {
    text-align: center;
    padding-top: 2rem;
  }
  a {
    display: inline-block;
    margin-bottom: 2rem;
  }
}

.block-more-info {
  .info {
    display: flex; flex-direction: column;
    height: 100%;
    //padding: 0 2rem;
  }
  .img {
    flex: 0 0 auto;
    img {
      display: block;
      min-width: 100%;
      object-fit: cover;
      height: 100%;
    }
  }
  .text {
    font-size: $font-size-small;
    flex: auto;
    background: $well-bkg-clr;
    padding: 2rem;
  }
  .title {
    margin-bottom: 1rem;
  }
  .swiper-slide { height: initial; }

  .carousel {
    margin-top: 0;
    .swiper-slide { height: initial; }

    @media #{$phone-only}, #{$smart-only}, #{$pad-only}, #{$tablet-only} {
      @include screen-width();
      .swiper { padding: 0 2rem; }
    }
  }
  @media #{$tablet} {
    .info { padding-right: 0; }
  }
  @media #{$laptop} {
    .info {
      flex-direction: row;
      padding-left: 0;
    }
    .text { padding: 2rem 3rem; }
  }
}

.block-history {
  .date {
    text-align: center;
    margin-bottom: 1rem;
  }
  .info {
    display: flex; flex-direction: column;
    height: 100%;
  }
  .img {
    flex: 0 0 auto;
    img { display: block; }
  }
  .text {
    flex: auto;
    display: flex;
    background: $well-bkg-clr;
    padding: 2rem;
  }
  .milestone {
    display: inline-block;
    height: 40px; width: 140px;
    line-height: 40px;
    margin: 5px 1px 0 0;
    position: relative;
    opacity: 1;
    &:before {
      content: " ";
      height: 0; width: 0;
      position: absolute; left: -2px; z-index: 0;
      border-style: solid;
      border-width: 20px 0 20px 20px;
      border-color: transparent transparent transparent #fff;
      transition: all 200ms;
    }
    b {
      display: block;
      background: $gray-light;
      color: #fff; text-indent: 20px;
      transition: all 200ms;
      &:after {
        content: " ";
        height: 0; width: 0;
        position: absolute; right: -20px; z-index: 10;
        border-style: solid;
        border-width: 20px 0 20px 20px;
        border-color: transparent transparent transparent $gray-light;
        transition: all 200ms;
      }
      &:hover {
        background: $brand-color;
        &:after { border-color: transparent transparent transparent $brand-color; }
      }
    }

    &.swiper-pagination-bullet-active b {
      background: $brand-color;
      z-index: 100;
      &:after { border-left-color: $brand-color; }
    }

  }

  .carousel.outer-pagination.top-pagination {
    margin-top: 0;
    .swiper { padding: 0 2rem; }
    .swiper-slide { height: initial; }

    @media #{$phone-only}, #{$smart-only}, #{$pad-only}, #{$tablet-only} {
      @include screen-width();
    }
  }

  @media #{$tablet} {
    .info {
      flex-direction: row;
      margin: 0 auto;
    }
    .img { flex: 0 0 40%; }
    .text {
      align-items: center;
      padding: 1rem 2rem;
    }
    .milestone {
      width: 140px;
      &:first-child:before { border-color: transparent; }
    }

    .carousel.outer-pagination.top-pagination {
      margin-top: 4rem;
      > .swiper-pagination {
        --swiper-pagination-top: -4rem;
        --swiper-pagination-bottom: none;
        .swiper-pagination-bullet b { font-weight: 400; }
      }
    }
  }
  @media #{$laptop} {
    .info {
      padding-left: 0; padding-right: 0;
      width: 968px;
    }
    .text {
      font-size: $font-size-large;
      padding: 2rem 3rem;
    }
    .carousel.outer-pagination.top-pagination {
      > .swiper-pagination {
        .swiper-pagination-bullet {
          b { font-weight: 700; }
        }
      }
    }
  }
}

.block-features {
  .section-title { margin-bottom: 2rem; }
  .row.first { margin-bottom: 2rem; }
  .b1 { position: relative; }
  .box {
    background: $divider-clr;
    padding: 2rem;
  }
  .frame {
    border: 2px solid $divider-clr;
    width: 27rem; height: 19rem;
    position: absolute; top: 6rem; left: 2rem;
  }
  .b2 {
    background-image: url(../../../modules/custom/ext_block/images/features_1.jpg); background-size: cover; background-position: center center;
    height: 100%;
    min-height: 230px;
    margin-bottom: 2rem;
  }
  .b3 .image {
    background-image: url(../../../modules/custom/ext_block/images/features_2.jpg); background-size: cover; background-position: center center;
    min-height: 330px;
  }
  .b4 .image {
    background-image: url(../../../modules/custom/ext_block/images/features_3.jpg); background-size: cover; background-position: center center;
    min-height: 230px;
  }
  .b5 .image {
    background-image: url(../../../modules/custom/ext_block/images/features_4.jpg); background-size: cover; background-position: center center;
    min-height: 230px;
  }
  .b6 .image {
    background-image: url(../../../modules/custom/ext_block/images/features_5.jpg); background-size: cover; background-position: center center;
    min-height: 230px;
  }
  .text { padding: 2rem 0; }
  .image { position: relative; z-index: -1; }

  @media #{$pad} {
    .box {
      position: absolute; top: 4rem; z-index: 1;
      width: 28rem; height: 19rem;
    }
    .b2 { min-height: 500px; }
  }
}

.block-agro-calculator {
  margin-left: calc(-50vw + 50%);
  margin-right: calc(-50vw + 50%);
  .content {
    background-image: url(../../../modules/custom/ext_block/images/calc.jpg); background-size: cover; background-position: center center;
    display: flex; flex-direction: column; align-items: center;
    text-align: center;
    padding: 2rem;
  }
  .media {
    border-radius: 50px;
    background-color: $brand-color;
    display: flex; justify-content: center; align-items: center;
    height: 6rem; width: 6rem;
    padding: 1.3rem;
  }
  i.icon { color: #fff; font-size: 4rem; }
  .title {
    font-size: $font-size-h2; font-weight: 700;
    padding-bottom: .5rem;
  }
  .text {
    color: #fff; font-size: $font-size-h4;
    padding: 1.5rem 0 2rem;
  }

  @media #{$laptop} {
    margin: 0;
  }
}

.block-contact-us {
  .content {
    background-image: url(../../../modules/custom/ext_block/images/ask.jpg); background-size: cover; background-position: center center;
    display: flex; flex-direction: column; align-items: center;
    font-size: $font-size-h4; text-align: center;
    padding: 2rem;
  }
  .media {
    border-radius: 50px;
    background-color: $brand-color;
    display: flex; justify-content: center; align-items: center;
    height: 6rem; width: 6rem;
    padding: 1.3rem;
  }
  i.icon { color: #fff; font-size: 4rem; }
  .title {
    font-size: $font-size-h2; font-weight: 700;
    padding-bottom: .5rem;
  }
  .text {
    color: #000;
    padding: 1.5rem 0 2rem;
  }
}

.block-news {
  .screen-width {
    background: $well-bkg-clr;
  }
  .container { position: relative;}
  .swiper-slide { height: auto; }
  .news {
    background: #fff;
    height: 100%;
  }
  a { color: inherit; text-decoration: none; }
  .img img {
    display: block;
    width: 100%;
  }
  .text { padding: 1rem; }
  .title {
    font-size: $font-size-h3; font-weight: 500;
  }
  .more {
    color: $brand-color; font-size: $font-size-large;
  }

  @media #{$tablet} {
    .news { margin: 0; }

    .text {
      padding: 1rem 2rem 3rem 2rem;
      min-height: 16rem;
    }
    .more { position: absolute; bottom: 2rem; left: 2rem; }
  }
}

.block-prep-pvp {
  @media #{$laptop} {
    .view .view-row { margin-bottom: 0!important; }
  }
}

.block-recommendations {
  .instruction {
    display: flex;
    padding-top: 2rem;
    .media {
      flex: 0 0 3rem;
      margin-right: 1rem;
    }
    i.icon {
      font-size: 3rem;
    }
    .title { font-size: $font-size-large; font-weight: 700; }
    p { margin-bottom: 0; }
  }
  @media #{$tablet} {
    .instructions {
      column-count: 2;
      column-gap: $gutter*2;
    }
    .instruction {
      page-break-inside: avoid; break-inside: avoid; // содержимое не делить на разные колонки
    }
  }
  @media #{$laptop} {
    .instruction {
      .media { margin-right: 2rem; }
      .text { padding-right: 2rem; }
    }
  }

}

.block-facetapi,
.block-current-search {
  .block-title {
    font-size: $font-size-base; font-weight: 600;
  }

  [type=text] {
    padding: .35em .45rem;
    color: $text-color; font-size: $font-size-small;
    background-color: #fff; background-image: none; border: $input-border-width solid #ddd; border-radius: $input-border-radius;
  }
  .dropdown-filter {
    margin-bottom: .5rem;
  }

  ul {
    border: 1px solid #eee;
    padding: .5rem; margin: 0;
    overflow-x: auto;
    max-height: 200px;
  li {
      display: flex; align-items: flex-start;
      margin-left: 0;
      list-style: none;
      a { color: inherit; }
      .form-item { margin-bottom: 0; } // для списков c AJAX
    }
  }
  .form-type-checkbox {
    display: flex; align-items: flex-start;
    input { margin-top: 4px; margin-right: 10px; }
    label, a { font-size: $font-size-small; font-weight: 400; }
  }

  @media #{$laptop} {
    ul { max-height: 400px; }
  }
}
