@import "variables"; // чтобы переменные не подсвечивались

// --- Оформление отдельных страниц ------------------------------------------------------------------------------------

// --- 403 и 404
.page40x {
  display: flex; flex-wrap: wrap; justify-content: center;
  padding-bottom: 2rem;
  .b1 {
    flex: 1 1 100%;
    text-align: center;
  }
  .b2 {
    flex: 0 1 80%;
    padding: 0 $gutter*2;
  }
  h1 { font-size: 75px; }
  h3 {
    font-weight: 400;
    margin-bottom: $gutter*2;
  }
  ul {
    text-align: left;
    color: $text-muted;
    padding-left: $gutter*2;
    margin-bottom: $gutter*2;
  }
  p {
    margin-bottom: $gutter*2;
  }

  @media #{$tablet} {
    margin-top: 6vh; padding-bottom: 4rem;
    .b1 { flex: 1 1 50%; order: 2; text-align: left; }
    .b2 {
      flex: 1 1 50%; padding: 0 6rem;
    }
  }
}

// -- Поиск ----------------------------------------------------------
.view.view-search {
  .underline {
    height: 3px; width: 4rem;
    margin-left: 0;
  }

  .views-exposed-widgets {
    .views-widget-filter-search_api_views_fulltext {
      @include col('xs', 12);
      @include col('md', 9);
      @include col('xl', 10);
    }
    .views-submit-button {
      @include col('xs', 12);
      @include col('md', 3);
      @include col('xl', 2);
    }
  }
}

// -- Представители --------------------------------------------------
.sellers {
  margin-bottom: 2rem;
  .sellers-intro { margin-bottom: 2rem; }
  .direction {
    font-size: $font-size-h4; font-weight: 700; line-height: 2.2rem; text-align: center;
    margin-bottom: 2rem;
  }
  .underline {
    height: 3px; width: 4rem;
  }
  .sellers-content { padding-top: 2rem; }

  @media #{$tablet} {
    .direction { text-align: left; }
    .underline { margin: 0; }
  }
  @media #{$laptop} {
    margin-bottom: 4rem;
    .sellers-intro .intro { padding: 0 2rem 1rem 0; }
    .direction { margin: 2rem 0; }
    .card-contact {
      transition: all 200ms;
      &:hover {
        box-shadow: 1px 3px 17px rgba(0, 0, 0, 0.2);
        transform: translateY(-2px);
      }
    }
  }
}

.company-contacts,
.company-experts {
  margin-bottom: 2rem;

  @media #{$laptop} {
    margin-bottom: 4rem;
  }
}

// -- Калькулятор (Agrocalc) ------------------------------------------
.agrocalc {
  margin-bottom: 2rem;

  input[type=text], select { width: 100%; }

  .params,
  .request {
    @include row();
  }

  .form-item-culture,
  .form-item-stage {
    @include col('xs', 12);
    @include col('md', 6);
    @include col('xl', 4);
  }

  .form-item-area,
  .form-item-seed {
    @include col('xs', 6);
    @include col('md', 6);
    @include col('xl', 2);
  }

  .form-item-weeds,
  .form-item-pests,
  .form-item-diseases {
    @include col('xs', 12);
    @include col('md', 4);
  }

  .form-item-desic,
  .form-item-fert {
    @include col('xs', 12);
    @include col('md', 3);
  }

  .form-item-region,
  .form-item-name,
  .form-item-phone,
  .form-item-email {
    @include col('xs', 12);
    @include col('md', 6);
  }
  .form-item-name,
  .form-item-email {
    @include col('lg', 3);
  }
  .form-item-region { @include col('lg', 4); }
  .form-item-phone  { @include col('lg', 2); }

  .program-wrapper {
    margin-top: 2rem;
    .card-product-h {
      .summary {
        display: block!important;
        padding-left: 0;
      }
      .info-mobile { display: none!important; }
      // секция регламента
      .hobjects {
        font-weight: 600;
        margin: .5rem 0;
      }
      .period {
        color: $text-muted; font-size: $font-size-small;
        margin-bottom: .5rem;
      }
      .specs {
        display: flex; justify-content: space-around;
      }
      .spec {
        font-size: $font-size-small;  text-align: center;
        margin-bottom: 1rem;
        .label {
          font-size: $font-size-small;
          margin-bottom: 5px;
        }
        .text { font-size: $font-size-large; font-weight: 500;}
      }
      .spec.description {
        padding-top: 1rem;
        a {
          border-bottom: 1px dashed $text-color;
          cursor: pointer;
        }
        .tooltip { display: none; }
      }
      //&:hover {
      //  box-shadow: none;
      //  transform: none;
      //}
    }
    .view-row:not(:last-child) .card-product-h {
      border-bottom: 1px solid $text-muted;
    }
  }

  @media #{$tablet} {
    margin-bottom: 4rem;
    .program-wrapper { margin-top: 4rem; }
  }
}

// -- Админка -------------------------------------------------------------
.page-admin {
  table {
    font-size: $font-size-small;
  }
}

// -- Филиалы -------------------------------------------------------------
.branches {
  margin-bottom: 2rem;
  .map {
    height: 450px; width: 100%;
    margin-top: 2rem;
  }
  .h4 { margin: 2rem 0 0; }
  .notice { margin-bottom: 1rem; }
  a {
    color: inherit;
    transition: all 100ms;
  }
  .list {
  }
  .phone, .email a {
    color: $text-light;
    margin-top: 5px;
  }

  .branch {
    margin-bottom: .5rem;
    min-height: 40px;
    .title {
      font-weight: 500; line-height: 1.4;
    }
    .title a:hover, .title a:focus {
      color: $brand-color;
    }
    .links {
      margin-top: 1rem;
      a { color: $brand-color; }
    }
  }

  @media #{$laptop} {
    margin-bottom: 4rem;
  }
}
