// переменные Базовой темы
@import "../../cbtheme/css/variables";
// переменные Текущей темы
@import "variables";
// стили Базовой темы
@import "../../cbtheme/css/styles";

// вынесенные в отдельные файлы стили
@import "swiper";
@import "blocks";
@import "pages";

:root {
  --swiper-navigation-size: 60px;
  --swiper-navigation-color: #43B02A;
  --swiper-theme-color: #43B02A;
  //--swiper-pagination-bottom: 1rem;
}

html {
}

// иконочный шрифт
i.icon {
  font-size: 1.8rem;
  &.icon-rounded {
    border: 3px solid $text-color; border-radius: 2em;
    width: 1.7em; height: 1.7em;
    display: inline-flex; justify-content: center; align-items: center;
  }
  &:before { display: block; }
}

a { color: $brand-color; }

// --- Разметка страницы --------------------------------------------------------------
// -- висящий двойной header с лого и меню
.page > .header {
  background: none;
  box-shadow: none;
  position: absolute; top: 45px; left: 0; right: 0; z-index: 10;
  padding: 0;
  .container { padding: 0 1rem; }
  .header-wr {
    display: flex;
    width: 100%; height: 100%;
    &:before {
      background-color: $brand-color;
      content: "";
      display: block;
      flex: 1;
      margin-right: -1px; // закрыть прозрачную полосу на макбуке
    }
    &:after {
      background: rgba(27, 30, 40, 0.4);
      content: "";
      display: block;
      flex: 1;
    }
  }
  .col-1 {
    flex: 0 0 auto;
    padding-right: 30px;
  }
  .col-2 { flex: 1 0 auto; }

  .branding {
    background-color: $brand-color;
    color: #fff; font-size: .8rem; text-align: center;
    display: flex; align-items: center;
    height: 100%; width: 270px;                     // определяет ширину брендовой части меню
    padding: 15px;
    a { color: inherit; }
    .brand {
      padding-left: 0;
    }
    .logo {
      flex: 0 0 41px;
      height: 100%;
      img {
        display: block;
        max-width: 100%; max-height: 100%;
      }
    }
    .brand {
      display: flex; flex-direction: column; justify-content: center;
      padding: 0 1em;
      .ru {
        font-size: 1.3em; font-weight: 700;
        margin: 0 0 .3em;
      }
      .en { font-size: .85em; }
    }
  }
  .menu-bkg {
    display: grid; justify-content: flex-end;
    background: rgba(27, 30, 40, 0.4);
    height: 100%;
    position: relative;
  }
  .menu-wr {
    display: flex; align-items: center;
    height: 100%;
    .global {
      flex: 0 0 auto;
      padding: 0 2rem;
      a { color: #fff; }
    }
    .primary-menu { flex: 1 0 auto; }
    .secondary-menu { flex: 0 0 auto; }
    .icon-user { width: 1rem; }
  }
  .menu {
    font-size: $font-size-large;
    &.level-1 > li {
      margin: 0 .5rem;
      > a {
        color: #fff; font-weight: 500;
        padding: .8rem 1rem .8rem 0;
      }
    }
  }
  .sub-menu > li.leaf:not(.last) a { border-bottom: 1px solid $gray-lightest; }

  @media #{$tablet} {
    .branding {
      width: 300px;
      padding: 15px 30px;
    }
  }
  @media #{$laptop} {
    height: 90px;
    .branding {
      font-size: .8rem; line-height: 1;
      padding: 15px 30px 15px 15px;
      width: 360px;
      .logo { flex: 0 0 55px; }
    }
    .menu {
      font-size: 18px;
      .sub-menu {
        border-left: 5px solid $brand-color;
        min-width: 230px;
      }
    }
    .menu-bkg { justify-content: normal; }
  }
}

.page-margin {
  min-height: 120px;
  @media #{$tablet} {
    min-height: 135px;
  }
  @media #{$laptop} {
    min-height: 162px;
  }
}

// --- Breadcrumbs --------------------------------------------------------------------
.breadcrumb {
  color: $text-color;
  .first a:before,
  .delimiter:before {
    font-family: "kccc" !important; font-style: normal !important; font-weight: normal !important; font-variant: normal !important; text-transform: none !important;
    speak: none;
    line-height: 1; vertical-align: middle;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .first a {
    color: #606060; font-size: 1rem;
    &:before {
      content: "\e01a";
    }
    &:hover { color: $brand-color; }
  }
  .delimiter {
    display: inline-block;
    margin: 0 .3rem;
    position: relative;
    visibility: hidden;
    width: 14px;
    &:before {
      position: absolute; top: .17rem;
      visibility: visible;
      content: "\e01b";
      color: $brand-color; font-size: .8rem;
    }
  }
  a {
    color: $text-color;
    transition: color 100ms ease-out;
  }
}


.nav-mobile {
  .search { padding: 0 1rem; }

  // аккордеон в мобильном меню (+js)
  .menu {
    .expanded > a {
      display: flex; align-items: center;
      cursor: pointer;
      &::after {
        flex-shrink: 0;
        width: 1.25rem; height: 1.25rem;
        margin-left: auto;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
        background-repeat: no-repeat; background-size: 1.25rem;
        content: "";
        transition: transform 200ms ease-out;
      }
    }

    .show.expanded > a::after,
    .slidedown.expanded > a::after {
      transform: rotate(-180deg);
    }

    li:not(.show) .sub-menu {
      display: none;
    }
  }

  .global {
    padding: 0 1rem;
    div { border-top: 1px solid #bbb; }
    a {
      display: block;
      color: #fff;
      padding: 1rem;
    }
  }
}

.page-title h1 {
  font-size: $font-size-h3;
  margin-top: 0;
}

.page-highlighted {
  position: relative;
  .page-context-menu .screen-width { background-color: #383838; }

  @media #{$laptop} {
    .search {
      position: absolute; top: 156px; right: 0; z-index: 9;
      max-width: 330px;
    }
  }
}

.page-banner {
  .screen-width { height: 220px; }

  .banner-title-wrapper {
    color: #fff;
    display: flex; align-items: flex-end;
    height: 100%; max-width: 58%;
    padding-bottom: 2rem;
  }
  .banner-title {
    display: flex; align-items: center;
    font-size: 2rem; text-transform: uppercase;
  }
  i.icon {
    font-size: 3rem;
    margin-right: 1rem;
  }

  @media #{$pad} {
    .screen-width { height: 300px; }
    i.icon { font-size: 5rem; }
  }
  @media #{$laptop} {
    .screen-width { height: 350px; }
  }
}

.page-footer {
  color: $text-color; font-size: $font-size-small;
  a { color: inherit; }
  .b {
    display:flex; flex-direction: column;
    height: 100%;
  }

  .branding {
    display: flex; align-items: center;
    font-size: .8em;
    height: 90px;
    padding: 1rem 0; margin-right: -1rem;
    .logo {
      flex: 0 0 auto;
      height: 100%;
      img {
        display: block;
        max-width: 100%; max-height: 100%;
      }
    }
    .brand {
      display: flex; flex-direction: column; justify-content: center;
      padding: 0 1em;
      .ru {
        font-size: 1.3em; font-weight: 700;
        margin: 0 0 .3em;
      }
      .en { font-size: .85em; }
    }
  }
  .legal-name {
    padding: 1rem 0;
    span {
      white-space: nowrap;
    }
  }
  .phone,
  .email { margin-bottom: .5rem; }

  .menu {
    padding-top: 1rem;
    .title {
      font-size: $font-size-h4; font-weight: 700; text-transform: uppercase;
      margin-bottom: 1rem;
    }
    ul { padding: 0; list-style: none; margin: 0; }
    li a {
      display: inline-block;
      padding: .3rem 0;
    }
    li.socials {
      a {
        margin-right: .5rem;
        margin-top: 0.5rem;
      }
      i.icon {
        font-size: $font-size-h3;
        &.icon-rounded { border-width: 2px; }
      }
    }
  }
  .subscribe {
    padding-top: 1rem;
    .title {
      font-size: $font-size-h5; font-weight: 700; text-transform: uppercase;
    }
    .btn { padding: 0 .5rem; }
  }

  @media #{$tablet} {
    //.branding { font-size: .7rem; }
    .legal-name { font-size: $font-size-small; }
  }
  @media #{$laptop} {
    //.branding { font-size: .85rem; }
  }
}

// --- Вспомогательные -----------------------------------------------------------------
//span.phone {
.phone {
  line-height: 1.3em;
  white-space: nowrap;
}

.notice {
  color: $text-muted; font-size: $font-size-small;
}
.message {
  font-size: $font-size-large; font-weight: 500;
}

.hover-raise {
  transition: all 200ms;
  &:hover {
    box-shadow: 1px 3px 17px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
  }
}
.hover-zoom {
  transition: all 200ms;
  &:hover { transform: scale(1.05);  }
}

.btn {
  &.btn-huge {
    line-height: 1;
    min-height: initial;
    padding-top: 0.35em; padding-bottom: 0.35em;
  }
}

.corner {
  &:before {
    content: ' ';
    position:absolute;
    background: linear-gradient(to left bottom, transparent 50%, $brand-color 0) 100% 0 no-repeat;
    width: 50px; height: 50px;
  }
  &.corner-2x:before {
    width: 85px; height: 85px;
  }
  &.corner-top-left:before {
    top: 0; left: 0;
    transform: rotate(90deg);
  }
  &.corner-bottom-right:before {
    position:absolute; bottom: 0; right: 0;
    transform: rotate(270deg);
  }
}

.image img {
  display: block;
  width: 100%;
}
.image-note {
  color: $text-light; font-size: $font-size-small;
  padding: .5rem 1rem;
  span { color: $text-muted; }
}


// --- Блоки ---------------------------------------------------------------------------
.block-title {
  font-size: $font-size-h4; text-align: center;
  margin-top: 0;
  &:after {
    content: " ";
    background-color: $brand-color;
    display: block;
    height: 2px; width: 4rem;
    margin: .5rem auto 0;
  }
}
.block-menu-block {
  margin-bottom: 0;
}
.block-attention {
  text-align: center;
  margin-bottom: 3rem;
  .h4 { margin-bottom: 1rem; }

  @media #{$tablet} {
    margin-bottom: 0;
    .h4 { margin-bottom: 2rem; }
  }
}

// --- Меню ----------------------------------------------------------------------------
ul.action-links {
  display: flex;
  padding: 0;
  li {
    list-style: none;
    margin-bottom: .5rem; padding: 0;
    a {
      color: $text-color;
      background: $gray-lightest;
      display: block;
      padding: .6rem 1rem;
      transition: all 200ms;
    }
    &.active-trail a,
    a:hover,
    a:focus { background: $brand-color; color: #fff; }
  }
}

.page-highlighted .menu-block-wrapper {
  font-size: $font-size-small;
  position: relative;
  &:after {
    content: '';
    display: block;
    position: absolute; top: 0; right: 0; z-index: 1;
    width: 50px; height: 100%;
    visibility: visible;
    background-image: linear-gradient(-90deg,#383838,transparent);
  }
  ul {
    display: flex;
    padding: 0; margin: 0;
    list-style: none;
    overflow-x: scroll; overflow-y: hidden;
    &::-webkit-scrollbar { display:none; }
    scrollbar-width: none; // mozilla ff
    li {
      list-style: none;
      padding: .5rem 0;
      a {
        display: block;
        border-left: 3px solid #bbb;
        color: #bbb; font-weight: 700;
        padding: .3rem 1rem; margin-right: 4rem;
        transition: all 200ms;
      }
      &.active a,
      &.active-trail a,
      a:hover,
      a:focus {
        border-color: $brand-color;
        color: $brand-color;
      }
    }
  }
}

// --- Views и прочие списки ---------------------------------------------------------------------------
.view {
  .view-filters {
    margin-bottom: 1rem;
    .form-text,
    .form-select { width: 100%; }
  }

  .views-exposed-widgets {
    @include row();
    .views-exposed-widget:not(.views-submit-button) {
      @include col('xs', 12);
      @include col('md', 6);
      @include col('lg', 3);
    }
  }

  .card {
    border-radius: 5px;
    color: $text-color;
    &.card-contact { margin-bottom: 1.5rem; }
  }
  .card.card-contact { padding: .5rem; }
  .card.card-product-h { padding: 1rem 0; }

  &.view-admin-views-user {
    .views-table { width: 100%; }
  }

  @media #{$laptop} {
    .view-filters { margin-bottom: 1.5rem; }

    .node-teaser,
    .card {
      transition: all 200ms;
      &:hover {
        box-shadow: 1px 3px 17px rgba(0, 0, 0, 0.2);
        transform: translateY(-2px);
      }
    }
  }
}

.pager {
  li.pager-ellipsis,
  li.pager-current {
    display: inline-flex; align-items: center; justify-content: center;
    height: 40px; width: 40px;
    margin: 0; padding: 0;
  }
  li.pager-previous,
  li.pager-first,
  li.pager-next,
  li.pager-last,
  li.pager-item {
    margin: 0; padding: 0;
    a {
      border-radius: 5px;
      display: inline-flex; align-items: center; justify-content: center;
      color: $text-color;
      height: 40px; width: 40px;
      transition: all 200ms;
      &:hover {
        box-shadow: 1px 3px 17px rgba(0, 0, 0, 0.2);
        transform: translateY(-2px);
      }
    }
  }
}

.page-content,
.page-right {
  .view {
    .view-content { @include row(); }

    // таблица со списком контента
    .vbo-views-form { @include col('xs', 12); }

    .view-row,
    .views-row { margin-bottom: 1rem; }
  }
}

.page-content {
  @media #{$laptop} {
    .view {
      .view-row,
      .views-row { margin-bottom: 1.5rem; }
    }
  }
}

// на планшете блок переносится вниз
// и содержимое выстраивается по горизонтали
.page-right {
  .view {
    .view-row,
    .views-row {
      @include col('md', 4);
      @include col('lg', 12);
    }
  }
}

// --- Карточки ------------------------------------------------------------------------

.card-product-v {
  position: relative;
  text-align: center;
  .category-icon {
    position: absolute; top: .5rem; right: .5rem;
    width: 3rem;
  }
  i.icon {
    font-size: 3rem;
  }
  a { color: inherit; }
  .text {
    display: flex; flex-direction: column;
    padding: 1rem;
    min-height: 12.2rem;
    > div { flex: 0 0 100%; }
  }
  .title {
    color: $brand-color; font-size: $font-size-h4; font-weight: 700;
  }
  .components {
    font-size: $font-size-small;
    margin: 1rem 0;
    .nowrap { white-space: normal; }
  }
  .more { margin-top: auto; }
}

.card-product-h {
  display: flex; flex-wrap: wrap;
  a { color: inherit; }
  .title {
    font-size: $font-size-h3; font-weight: 700;
    margin-bottom: .5em;
  }
  .image {
    flex: 100%;
    text-align: center;
  }
  .product-info { flex: 100%; }
  .components {
    color: $text-light; font-size: $font-size-small; font-weight: 700;
    margin-bottom: 1em;
  }

  @media #{$pad} {
    flex-wrap: nowrap;
    .image {
      flex: 0 0 27%;
      text-align: left;
    }
    .product-info { flex: auto; }
    .components { font-weight: 500; }
  }
  @media #{$laptop} {
    .product-info { padding: 0 1em; }
    .components {
      font-weight: 700;
      margin-bottom: 1em;
    }
  }
}

.card-contact {
  display: flex;
  font-size: $font-size-small;
  .image {
    flex: 0 0 90px;
    img { display: block; }
  }
  .contact-info { padding: 0 0 0 1rem; }
  .direction { margin-bottom: 1rem; }
  .name {
    font-size: $font-size-base; font-weight: 700;
    margin: .2rem 0;
  }
  .phones {
    font-size: $font-size-base;
    margin-top: .5rem;
  }
  .email {
    font-size: $font-size-base;
    margin-top: .2rem;
  }
  a { color: inherit; }

  @media #{$tablet} {
    .contact-info { padding: 0 1rem; }
  }
  @media #{$laptop} {
    .image { flex: 0 0 140px; }
    .contact-info { padding: 0 2rem 0 1rem; }
    .name {
      font-size: $font-size-h4;
      margin: .5rem 0;
    }
    .phones,
    .email {
      //font-size: $font-size-h4;
      margin-top: .5rem;
    }

  }
}

.card-handbook {
  text-align: center;
  margin-bottom: 2rem;
  .delimiter {
    background-color: $brand-color;
    padding: .5rem 1rem;
  }
  .title {
    font-size: $font-size-h4; font-weight: 700;
    padding: 1rem;
  }
  .counter {
    font-size: $font-size-small;
    padding-bottom: 1rem;
  }
  .image img {
    display: block;
    width: 100%;
  }
  a { color: inherit; }

  @media #{$tablet} {
    margin-bottom: 2rem;
  }
}

.card-reglament {
  padding: 0 2rem;
  min-height: 350px;

  .content {
    background: $well-bkg-clr;
    border-radius: 20px;
    margin: 30px 0 0 30px; padding: 1rem;
    position: relative;
  }
  .decor-line {
    position: absolute; top: 0; left: -30px;
    width: 30px; height: 280px;
    background: $brand-color;
    border-bottom-left-radius: 25px;
  }
  .decor-circle {
    display: flex; justify-content: center; align-items: center;
    position: absolute; top: -30px; left: -50px; z-index: 10;
    background: #E3FFD6;
    border: 2px solid $brand-color; border-radius: 60px;
    width: 80px; height: 80px;
    i { color: $brand-color; font-size: 5rem; }
  }
  .cultures {
    text-align: center;
    padding: 0 2rem; margin-bottom: 1rem;
  }
  .hobjects {
    font-size: $font-size-small; text-align: center;
    padding: 0 2rem; margin-bottom: 1rem;
    min-height: 50px;
    a { color: inherit;
      &:hover { text-decoration: underline; }
    }
  }
  .b {
    text-align: center;
    margin-bottom: 1.2rem;
  }
  .title {
    font-size: $font-size-small;
    margin-bottom: 5px;
  }
  .text { font-size: $font-size-large; font-weight: 500; }

  @media #{$tablet} {
    padding-right: 0;
    .content {
      margin: 40px 0 0 80px;
      padding: 1rem 2rem;
    }
    .decor-line {
      left: -40px;
      width: 40px;
    }
    .decor-circle {
      left: -80px;
      width: 120px; height: 120px;
    }
  }
}

// --- Ноды ----------------------------------------------------------------------------
.node {
  > .node-info {
    display: flex; justify-content: space-between; align-items: center;
    .stats {
      display: flex; align-items: center;
      .media {
        display: flex;
        margin-right: 1rem;
      }
    }
  }
}

.node-teaser {
  > .node-info {
    background-color: $brand-color;
    color: #fff; font-weight: 500;
    padding: .5rem 1rem;
  }
  .title {
    font-weight: 700;
    padding: 1rem;
  }
  a { color: inherit; }
  .image img { display: block; }

  // тизер в сайдбаре
  .page-right & {
    .title {
      font-size: $font-size-small; font-weight: 500; text-align: center;
      padding: 1rem .5rem;
    }
  }

}

.node-full {
  margin-bottom: 2rem;    // проверить для всех нод, вместо индивидуального оформления
  .node-title {
    font-size: $font-size-h3; font-weight: 700;
    padding-bottom: 2rem;
  }
  .author {
    padding-bottom: 2rem;
  }
  > .node-info {
    color: $text-light;
    padding-bottom: 2rem;
    .stats .icon {
      filter: brightness(0) invert(.7);
    }
  }
  .node-summary { margin-bottom: 1rem; }
  .node-images {
    margin-bottom: 1rem;
    .image { display: flex; align-items: center; justify-content: center; }
    img {
      display: block;
      max-height: 100%;
    }
  }

  blockquote {
    font-weight: 500;
    border: 1px solid $text-color; border-width: 1px 0;
    position: relative;
    margin: 3rem 0 2rem; padding: 1rem 0;
    &:after,
    &:before {
      content: '';
      position: absolute;
      background-repeat: no-repeat; background-size: 35px 27px; background-color: #fff;
      width: 50px; height: 27px
    }
    &:after {
      background-image: url(../images/icons/quotes-left.svg); background-position: 0 100%;
      left: 0; top: -27px;
    }
    &:before {
      background-image: url(../images/icons/quotes-right.svg); background-position: 100% 0;
      right: 0; bottom: -27px;
    }
    .field { margin-bottom: 0; }
  }

  @media #{$tablet} {
    .node-images .image {
      min-height: 250px;
    }
  }
  @media #{$laptop} {
    margin-bottom: 4rem;
    .node-summary,
    .node-images { margin-bottom: 2rem; }
  }
}
.node-full .node-text,
.node-full blockquote,
.cke_editable {
  line-height: 1.4;
}
.cke_editable { padding: 0 1rem; }


.node-preparation {
  .product-intro {
    margin-bottom: 2rem;
    .product-info {
      display: flex; flex-direction: column; justify-content: space-between;
      height: 100%;
    }
    .top { text-align: center; }
    .title {
      font-size: $font-size-h2; font-weight: 300;
      padding-bottom: 1rem;
    }
    .summary {
      font-size: $font-size-h4;
      padding-bottom: 1rem;
    }
    .specification {
      background: $well-bkg-clr;
      border-radius: 5px;
      font-weight: 500;
      padding: 1.5rem 2rem;
      i.icon { font-size: 2em; }
    }
    .components,
    .formulation {
      display: flex; align-items: center;
      .icon {
        flex: 0 0 30px;
        display: flex; align-items: center;
        margin-right: 1rem;
      }
    }
    .components { margin-bottom: 1rem; }
    .actions {
      text-align: center;
      margin-top: 2rem;
    }

    @media #{$tablet} {
      .top { text-align: left; }
      .title { font-size: $font-size-h3; font-weight: 300; }
      .summary { font-weight: 500; }
      .actions { text-align: left; }
    }
    @media #{$laptop} {
      margin-bottom: 4rem;
      .image { padding-right: 4rem; }
      .title {
        font-size: $font-size-h1;
        padding-bottom: 2rem;
      }
      .specification {
        font-weight: 700;
        i.icon { font-size: 3em; }
      }
      .components .icon,
      .formulation .icon { flex: 0 0 40px; }
      .bottom { margin-bottom: 3rem; }
    }
  }

  .product-advantages {
    margin-bottom: 2rem;
    .advantage {
      box-shadow: 1px 1px 10px #ccc;
      color: $text-light; text-align: center;
      padding: 1rem 1.5rem; margin-bottom: 1rem;
      .media { display: flex; justify-content: center; }
      i.icon {
        color: $brand-color; font-size: 8rem;
      }
      .underline {
        background-color: $text-muted;
        height: 2px;
      }
      .text {
        font-weight: 500;
        padding-top: 1rem;
      }
    }

    @media #{$pad} {
      .advantage {
        height: 100%;
        margin-bottom: 0;
      }
    }
    @media #{$tablet} {
      margin-bottom: 4rem;
      .advantage {
        i.icon { font-size: 5rem; }
      }
    }
    @media #{$laptop} {
      .advantage {
        padding: 2rem;
        i.icon { font-size: 8rem; }
        .text { font-weight: 700; }
      }
    }
  }

  .product-specs {
    margin-bottom: 2rem;
    .screen-width {
      background-image: url(../images/bkg/specs.jpg); background-size: cover; background-position: center;
      padding-bottom: 2rem;
    }

    .spec {
      display: flex; align-items: center;
      padding-top: 2rem;
      page-break-inside: avoid; break-inside: avoid;
      .media {
        flex: 0 0 4rem; height: 4rem;
        display: flex; justify-content: center; align-items: center;
        border-radius: 1rem;
        background-color: #F6ECFF;
        margin-right: 1rem;
        i.icon { font-size: 3rem; }
      }

      .text { color: #fff; font-size: $font-size-large; font-weight: 500; text-shadow: 1px 1px 5px #777; }
    }

    @media #{$tablet} {
      margin-bottom: 4rem;
      .specs {
        column-count: 2;
        column-gap: $gutter*2;
      }
    }
    @media #{$laptop} {
      .spec {
        padding-right: 2rem;
        page-break-inside: avoid; break-inside: avoid; // содержимое не делить на разные колонки
        .media {
          flex: 0 0 5rem; height: 5rem;
          i.icon { font-size: 4rem; }
        }
        .text { font-weight: 700; }
      }
    }
  }

  .product-reglaments {
    margin-bottom: 2rem;
    .carousel-reglaments {
      .swiper { padding: 0 2rem 0 1rem; }
      @media #{$phone-only}, #{$smart-only}, #{$tablet-only} {
        @include screen-width();
      }
    }

    @media #{$tablet} {
      margin-bottom: 4rem;
    }
  }

  .product-how-it-works {
    margin-bottom: 2rem;
    .banner {
      display: flex; justify-content: center;
      padding: 1rem 0;
    }
    .how-it-works {
      display: flex; flex-direction: column;
      text-align: center;
      margin-bottom: 2rem; padding-top: 2rem;
      .media { flex: 0 0 9rem; }
      i.icon {
        font-size: 8rem;
      }
    }
    .text {
      flex: auto;
      display: flex; align-items: center;
      background-color: $well-bkg-clr;
      border-radius: 10px;
      padding: 1rem 1.5rem;
    }

    @media #{$tablet} {
      margin-bottom: 4rem;
      .how-it-works {
        display: flex; align-items: center;
        text-align: center;
        height: 100%;
        margin-bottom: 0;
        .media { margin-right: 1rem; }
      }
    }
    @media #{$laptop} {
      .text { padding: 2rem; }
    }
  }

  .product-instructions {
    margin-bottom: 2rem;
    .instruction {
      display: flex;
      padding-top: 2rem;
      .media {
        flex: 0 0 3rem;
        margin-right: 1rem;
      }
      i.icon {
        font-size: 3rem;
      }
      .title { font-size: $font-size-large; font-weight: 700; }
      p { margin-bottom: 0; }
    }
    @media #{$tablet} {
      margin-bottom: 4rem;
      .instructions {
        column-count: 2;
        column-gap: $gutter*2;
      }
      .instruction {
        page-break-inside: avoid; break-inside: avoid; // содержимое не делить на разные колонки
      }
    }
    @media #{$laptop} {
      .instruction {
        .media { margin-right: 2rem; }
        .text { padding-right: 2rem; }
        .title { font-size: $font-size-h4; }
      }

    }
  }

  @media #{$tablet} {
    .block { margin-bottom: 4rem; }
  }
}

.node-page {
  .files {
    margin-bottom: 2rem;
  }
  .field-type-file .field-item { margin-bottom: 1rem; }

  @media #{$laptop} {
    .files {
      margin-bottom: 4rem;
    }
  }
}

.video {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
  iframe {
    position: absolute; top: 0; left: 0;
    width: 100%; height: 100%;
  }
}

.category-1 .category-clr,    .category-clr-1 { color: $brand-herbicide!important; }
.category-2 .category-clr,    .category-clr-2 { color: $brand-fungicide!important; }
.category-3 .category-clr,    .category-clr-3 { color: $brand-insecticide!important; }
.category-4 .category-clr,    .category-clr-4 { color: $brand-seedtreater!important; }
.category-5 .category-clr,    .category-clr-5 { color: $brand-desiccant!important; }
.category-6 .category-clr,    .category-clr-6 { color: $brand-fertilizer!important; }
.category-406 .category-clr,  .category-clr-406 { color: $brand-other!important; }

.category-1 .category-bkg { background-color: $brand-herbicide!important; }
.category-2 .category-bkg { background-color: $brand-fungicide!important; }
.category-3 .category-bkg { background-color: $brand-insecticide!important; }
.category-4 .category-bkg { background-color: $brand-seedtreater!important; }
.category-5 .category-bkg { background-color: $brand-desiccant!important; }
.category-6 .category-bkg { background-color: $brand-fertilizer!important; }
.category-406 .category-bkg { background-color: $brand-other!important; }

.category-1 .category-brd { border-color: $brand-herbicide!important; }
.category-2 .category-brd { border-color: $brand-fungicide!important; }
.category-3 .category-brd { border-color: $brand-insecticide!important; }
.category-4 .category-brd { border-color: $brand-seedtreater!important; }
.category-5 .category-brd { border-color: $brand-desiccant!important; }
.category-6 .category-brd { border-color: $brand-fertilizer!important; }
.category-406 .category-brd { border-color: $brand-other!important; }



// --- Формы ----------------------------------------------------------------------------
.block-webform {
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  padding: 2rem;
}

.webform-client-form {
  // перекрытие сообщением об отправке остальных элементов формы
  position: relative;
  .complete {
    background: #fff;
    position: absolute; top: 0; bottom: 0; left: 0; right: 0; z-index: 1
  }
  fieldset {
    border: none;
    padding: 0;
    legend {
      font-weight: 700;
      margin-bottom: 1rem;
    }
  }
}

.webform-client-form-14,
.webform-client-form-15 {
  .form-actions { text-align: center; }
  .block-attention .actions a { max-width: 275px; }

  @media #{$tablet} {
    .form-actions { text-align: left; }
  }
}
.webform-client-form-15 {
  .form-radios {
    display: flex;
    .form-type-radio { margin-right: 2rem; }
  }
}

.user-auth-form-wrapper {
  margin-bottom: 2rem;
  h1 { margin: 0; }
  .user-links { margin: .5rem 0 2rem; }

  @media #{$laptop} {
    margin-bottom: 4rem;
  }
}

.page-user-register {
  .form-submit { width: 100%; }
}

.page-user-edit {
  .group-row {
    @include row();
    > .group-col {
      @include col('xs', 12);
      @include col('md', 6);
    }
  }
}
.page-admin-people-create {
  .page-content { margin-bottom: 2rem; }
  [id^="user-register-form"] > div {
    @include row();
    > .group-row,
    #edit-profile-main,
    .form-actions {
      @include col('xs', 12);
      @include col('md', 6);
    }
  }
}

.page-node-add-review {
  .filter-wrapper { display: none;}
}

.form-item-fz152-agreement {
  color: $text-light; font-size: .8em;
  a { color: inherit; text-decoration: underline; }
}

.node-season-form {
  fieldset[id*=format] {
    display: none;
  }
  .container-inline-date {
    .form-item { margin-bottom: 0; }
    .description { display: none; }
  }
  .tabledrag-toggle-weight-wrapper { display: none; }
  table {
    td { padding: 1rem; }
  }

  table#field-pvp-check-values > tbody > tr.even,
  table#field-pvp-check-values > tbody > tr.odd {
    border-top: 1rem solid $brand-green;
  }
  table#field-pvp-treat-values > tbody > tr.even,
  table#field-pvp-treat-values > tbody > tr.odd {
    border-top: 1rem solid $brand-orange;
  }
  fieldset[id*=images] {
    border: none;
    padding: 0; margin: 0;
    table { width: 100%; }
  }
  .field-name-field-datetime ,
  .field-name-field-pvp-check-culture-comment ,
  .field-name-field-pvp-check-hobjects-comment,
  .field-name-field-comment,
  .field-name-field-pvp-check-culture-images,
  .field-name-field-pvp-treat-images,
  .field-name-field-pvp-check-hobjects,
  .field-name-field-pvp-treat-preparations,
  .field-name-field-pvp-treat-mix-spend {
    margin-bottom: 2rem;
    > div > div > label,
    .form-type-date-combo > label,
    .form-type-textarea > label,
    fieldset > legend span,
    .field-multiple-table .field-label label  {
      display: block;
      font-size: $font-size-large;
      font-weight: 700;
      margin-bottom: 6px;
    }
  }
  .field-name-field-pvp-check-culture-images,
  .field-name-field-pvp-check-hobjects-images,
  .field-name-field-pvp-treat-images {
    table > thead { display: none; }
  }
  .field-name-field-pvp-check-hobjects,
  .field-name-field-pvp-treat-preparations {
    table {
      width: 100%;
      > tbody > tr { border: 1px solid #ccc; }
    }
  }
  .field-name-field-pvp-treat-preparations .field-multiple-table td:nth-child(2),
  .field-name-field-pvp-check-hobjects .field-multiple-table td:nth-child(2) {
    display: flex; align-items: flex-start; flex-wrap: wrap;
    > div {
      flex: auto;
      padding: 0 2rem 0 0;
    }
    .field-name-field-hobject {
      input { width: 100%; }
    }
  }
  .image-widget-data .form-type-textfield {
    width: 100%;
    label { display: none; }
    input { width: 100%; }
  }
  .image-action {
    position: relative;
    input[name*=remove] {
      background: none;
      border: none;
      color: #ccc; font-size: $font-size-small; text-transform: lowercase;
      height: initial; min-height: initial;
      display: inline;
      padding: 0;
      position: absolute; bottom: 0; right: 0;
    }
  }

  @media #{$laptop} {
    .field-name-field-pvp-treat-preparations .field-multiple-table td:nth-child(2),
    .field-name-field-pvp-check-hobjects .field-multiple-table td:nth-child(2) {
      flex-wrap: nowrap;
      .field-name-field-hobject {
        flex: 0 0 34%;
      }
    }
  }
}

[id^=ext-form-search-form] ,
[id^=ext-form-subscribe-form] {
  .form-text { width: 100%; }
}

.field-type-datestamp {
  .date-form-element-content-multiline {
    border: none;
    padding: 0;
  }
  .date-form-element-content {
    display: flex;
    .date-no-float { width: initial; }
    .form-type-date-popup {
      display: flex;
      label { margin: 0.5rem 0.5rem 0; }
      .description { display: none; }
    }
  }
}

// --- Элементы оформления -------------------------------------------------------------
.underline {
  background: $brand-color;
  width: 8em; height: 0.5rem;
  margin: 0.5rem auto;
  &.underline-left {
    margin: 0;
  }
}

.section-title {
  color: $brand-color; font-size: $font-size-h3; font-weight: 700; text-align: center; text-transform: uppercase;
  padding: 1rem 0 2rem;
  position: relative;

  .underline {
    width: 4em; height: 3px;
    margin: 0.5rem auto;
  }

  &.invert {
    background: $brand-color;
    color: #fff;
    padding: 1rem 2rem;
    .underline { background: #fff; }
  }

  .more-all {
    color: $brand-color; font-size: $font-size-base; font-weight: 500; text-align: center; text-transform: none;
  }


  @media #{$tablet} {
    &:not(.invert) { padding-bottom: 3rem; }
    .more-all { position: absolute; top: 2rem; right: 2rem; }
  }
  @media #{$laptop} {
    font-size: $font-size-h3;
  }
}

.intro {
  font-size: $font-size-h4;
  &:after {
    content: ' ';
    background-color: $brand-color;
    display: block;
    width: 9rem; height: 10px;
    margin: 2rem 0;
  }
  @media #{$laptop} {
    &:after { margin-bottom: 4rem; }
  }
}

.tm {
  font-size: .9em;
  vertical-align: top;
  //display: inline-block; убрано при корректировке в карточках товара
  //margin-top: 0.2em;
}


// --- Оформление разделов (без отдельных css файлов) ------------------------------------------------------------------
.company-contacts,
.company-experts {
  margin-bottom: 2rem;
  @media #{$laptop} {
    margin-bottom: 4rem;
  }
}

.field-type-file {
  .field-item {
    margin-bottom: 2rem;
    .file {
      display: flex;
      .file-img {
        display: flex; align-items: center;
        margin-right: .5rem; margin-left: -9px;
        i.icon { color: $brand-color; font-size: 3.4rem; }
      }
      .file-info {
        flex: 0 1 600px;
        a {
          color: $text-color; font-weight: 700;
          &:hover { text-decoration: underline; }
        }
        span {
          display: flex; align-items: center;
          color: $text-muted; font-size: $font-size-small;
          margin-top: 4px;
        }
      }
      .file-download {
      //display: flex; align-items: center;
        //padding-top: 3px;
      }
    }
  }
}

.form-managed-file {
  line-height: 1;
  .input-group { flex: auto; }
  .file-img { margin-bottom: -4px; }
  .file-widget-data,
  .form-group,
  .file {
    display: flex; align-items: center;
  }
  .file-img { margin-right: 5px; }
  .form-group { margin-right: 2rem; }
  .file { margin-right: 1rem; }
  .btn { margin: 0; }
  .badge { color: $text-light; }
  &.file-widget { align-items: center; } // выровнять добавление файлов в админке
}

// --- профиль пользователя
.profile {
  margin: 0 0 2rem;
  .profile-left .image img { width: initial; }
  .profile-name {
    font-size: $font-size-h3; font-weight: 700; line-height: 2.2rem;
    margin-bottom: 2rem;
  }
  .profile-role {
    font-size: $font-size-h4; font-weight: 500;
    margin-bottom: 1rem;
  }
  .profile-info .field {
    font-size: $font-size-large;
  }
  .profile-counts {
    display: flex;
    margin-bottom: 1rem;
    .profile-count {
      flex: 0 0 auto;
      border-radius: 4px;
      background-color: $brand-color;
      color: #fff; text-align: center;
      margin-right: 1rem; padding: 1rem;
    }
    .count-amount {
      font-size: $font-size-h2; font-weight: 700;
    }
  }
  .underline {
    height: 3px; width: 4rem;
  }
  a { color: inherit; }

  .profile-qr {
    padding: 2rem;
    image { max-width: 500px; }
  }

  @media #{$tablet} {
    margin-bottom: 4rem;
    .underline { margin: .5rem 0; }
    .profile-role { margin-bottom: 2rem; }
    .profile-counts {
      margin-bottom: 2rem;
      .profile-count { margin-right: 2rem;  }
    }
  }
}

[id^=user-profile-form] {
  margin-bottom: 2rem;
  h3 {
    font-size: $font-size-h4;
    margin-top: 0;
  }

  @media #{$laptop} {
    margin-bottom: 4rem;
  }
}

.node-type-list {
  margin-bottom: 2rem;
  dt { font-weight: 500; }
  dd {
    color: $text-light; font-size: $font-size-small;
    margin: 0 0 .5rem 0;
  }

  @media #{$laptop} {
    margin-bottom: 4rem;
  }
}

// --- Препараты в поле
.pvp-teaser {
  text-align: center;
  height: 100%;
  position: relative;
  display: flex; flex-direction: column;
  > div {
    margin-bottom: .8rem;
    flex: 0 0 auto;
  }
  > .text {
    flex: 1 0 auto;
    padding: 0 .5rem;
    > div {
      margin-bottom: .8rem;
    }
  }
  .date {
    background: $gray-lightest;
    color: $gray-dark; font-weight: 500;
    padding: .5rem;
  }
  .region {
    font-size: $font-size-large; font-weight: 700;
  }
  .comment {
    color: $text-light; font-size: $font-size-small;
    span {
      display: block;
      color: $text-color; font-size: $font-size-base;
    }
    a {
      color: inherit;
      &:hover { text-decoration: underline; }
    }
  }
  .image img { display: block; }
}



.node-season {
  .pvp-event-check,
  .pvp-event-treat {
    --swiper-pagination-color: #FBBA00;
    --swiper-pagination-bullet-inactive-color: #fff;
    --swiper-pagination-bullet-inactive-opacity: 1;
    .swiper-pagination { --swiper-pagination-top: 1rem; }
    height: 100%;
    > div { margin-bottom: 1rem; }
    a { color: inherit; }
    .event-title {
      color: #fff; font-weight: 700; text-transform: uppercase; letter-spacing: 1px; text-align: center;
      padding: .8rem; margin: 0 35px 1rem 2rem;
      height: 42px;
      // стрелка справа
      position: relative;
      &::after {
        content: "";
        width: 21px; height: 42px;
        clip-path: polygon(0 0, 1px 0, 100% 50%, 1px 100%, 0 100%);
        background-color: $gray-lightest;
        position: absolute; top: 0; right: -20px;
      }
    }
    .date { text-align: center; }
    .header {
      font-size: $font-size-large; font-weight: 700; text-align: center;
      margin: 2rem 0 1rem;
    }
    .list {
      padding: 0 1rem; margin-bottom: 1rem;
      a:hover { text-decoration: underline; }
    }
    .comment {
      padding: 0 1rem;
      p { margin: 0 0 .5em 0; }
    }
  }

  .pvp-event-check .event-title {
    background: $brand-green;
    &::after { background: $brand-green; }
  }

  .pvp-event-treat {
    .event-title {
      background: $brand-orange;
      &::after { background: $brand-orange; }
    }
    .preparation {
      font-size: 11px;
      margin: 0 .8rem; // отступ для тени от hover-raise
      .image { flex: 0 0 27%; }
      .product-info {
        flex: 0 0 73%;
        padding: 0 .5em;
      }
    }
    .prep-spend,
    .mix-spend {
      font-size: 1rem;
      span { font-size: 1.2rem; font-weight: 700; }
    }
    .mix-spend {
      margin: 1rem 0 0 3rem;
    }
  }

  @media #{$tablet} {
    .pvp-event-check,
    .pvp-event-treat {
      .event-title {
        margin: 0 21px 1rem 0;
      }
      .header { margin-top: 0; }
      .comment,
      .list { padding: 0; }
      .culture,
      .process { min-height: 490px; }
    }
  }

}
