$sh-gutter-width: 1rem;
$sh-column-b-width: 25%;
$sh-block-header-height: 25%;

html {
    @media only screen and (min-width : 0) and (max-width : 768px) { font-size: 3px!important; }
    @media only screen and (min-width : 769px) and (max-width : 1024px) { font-size: 4px!important; }
    @media only screen and (min-width : 1025px) and (max-width : 1280px) { font-size: 5px!important; }
    @media only screen and (min-width : 1281px) and (max-width : 1440px) { font-size: 6px!important; }
    @media only screen and (min-width : 1441px) and (max-width : 1920px) { font-size: 8px!important; }
}
body {
    .page-shedule { overflow: hidden; }
}
.shedule {
    background: white;
    display: flex;
    flex-wrap: wrap;
    height: 100%; max-width: 100%;
    overflow: hidden;
    .group {
        flex: auto;
        display: flex;
        margin-top: $sh-gutter-width;
        max-height: 100%;
    }
    .block {
        flex: auto;
        display: flex; flex-direction: column;
        margin: 0 $sh-gutter-width/2;
        overflow: hidden;
        //&.disabled { opacity: .8; }
        .header {
            background: #0019d6;
            flex: 0 0 10rem;
            color: white;
            padding: 1rem;
            display: flex; flex-wrap: nowrap;
            position: relative;
            .box1 {
                border-right: 1px solid white;
                display: flex; align-items: center; justify-content: center;
                font-size: 6rem;
                flex: 0 0 6rem;
                padding-right: 1rem;
            }
            .box2 {
                display: flex; align-items: center; flex-wrap: wrap;
                font-size: 3rem;
                flex: auto;
                padding: 0 2rem;
                div { flex: 100%; }
            }
            .line1 { line-height: 1.2; }
            .line1 span,
            .line2 { font-weight: 100; white-space: nowrap; }
            .add-link {
                color: white;
                position: absolute; right: 1rem; top: 1rem; opacity: 0;
                transition: all 0.3s ease-in-out;
                i { font-size: 3rem; }
            }
            &:hover .add-link { opacity: 1; }
        }
        .content {
            background: #17ba23;
            flex: auto;
            color: white; font-size: 2rem;
            padding: 1rem;
            max-height: 100%;
            .event {
                display: flex;
                position: relative;
                &:not(:last-child) { margin-bottom: 1rem; }
                //&.started { color: #f9f100; }
                .edit-link {
                    color: white;
                    position: absolute; right: 10px; top: 10px; opacity: 0;
                    transition: all 0.3s ease-in-out;
                }
                &:hover .edit-link { opacity: 1; }
            }
        }
    }
    .column-a,
    .column-b {
        .content {
            .row1 {
                flex: 0 0 1px;
                font-size: 3rem;
                justify-content: center;
                padding-right: 2rem;
            }
            .row2 { flex: auto; }
            .line1 { font-weight: 600; font-size: 3rem; }
            .line2 { font-weight: 100; font-size: 2rem; }
        }
    }
    .column-a {
        flex: 100%-$sh-column-b-width;
        display: flex;
        flex-direction: column;
        height: 80%;
        .group {
            flex: 50%;
            .block {
                height: 100%;
                &:first-child { margin-left: 0; }
            }
        }
        .group-a .block { flex: 50%; }
        .group-b .block { flex: 33.3%; }
    }
    .column-b {
        flex: $sh-column-b-width;
        display: flex;
        flex-direction: column;
        height: 80%;
        .block { margin-right: 0; }
    }

    .column-f {
        flex: 100%;
        height: 20%;
        display: flex;
        flex-direction: column;
        .group {
            margin: 0;
        }
        .block {
            margin: 0;
            .content {
                color: #333;
                background: white;
                display: flex;
            }
            .event {
                display: flex; align-items: center;
                flex: 0 0 auto;
                margin-right: 10rem;
            }
            .row1 { flex: auto; }
            .line1 { font-size: 6rem; line-height: 1; }
            .line2 { font-size: 4rem; white-space: nowrap; }
            .row2 {
                display: flex;
                font-size: 10rem;
                flex: 0 0 auto;
                padding-left: 2rem;
                i.fa-long-arrow-alt-left {
                    overflow: hidden;
                    width: 5rem;
                }
                i.fa-running,
                i.fa-walking { margin-left: 1rem; }
                i.fa-running {
                    animation: blinker 2s linear infinite;
                    @keyframes blinker {
                        50% { opacity: 0; }
                    }
                }
            }
        }
    }
    .block-l {
        flex: 0 0 20vh;
        .content {
            flex-direction: column;
            padding-bottom: 0;
        }
        .logo {
            flex: 1 0 auto;
            background: url(/sites/all/themes/gard/images/logo/logo_blue.png) no-repeat;
            background-size: contain;
            background-position: center;
            width: 100%;
        }
        .clock {
            color: #21396e; font-weight: 600; font-size: 3rem; text-align: center;
            flex: 0 0 auto;
            .seconds { color: #aaa; font-size: 2rem; font-weight: 400; }
        }
    }
}
