// подключаем миксины и переменные темы
@import "../../../../themes/gard/css/_include";

.structure {
  padding: 30px 150px;
  .s-level {
    .s-boxes {
      min-height: 150px;
      display: flex; justify-content: space-around; flex-wrap: wrap;
      position: relative;
      padding-top: 15px;
    }
  }

  .box-wrapper {
    .box {
      position: relative;
      width: 220px; height: 50px;
      margin: 15px 15px 30px 15px;
      .box-shell {
        color: #eee; font-size: 14px; line-height: 1.1em;
        padding: 3px 25px 3px 15px;
        width: 200px; height: 50px;
        background: url("../images/deepblue.png");
        position: absolute; z-index: 10;
        display: flex; align-items: center;
      }
      .box-card {
        background: #fefefe;
        border-radius: 5px; box-shadow: 1px 1px 5px rgba(122,122,122,.5);
        width: 215px; height: 50px;
        position: absolute; top: 5px; left: 5px; z-index: 0;
        @include transition(all 0.2s ease-in-out);
      }
      .box-trace {
        border-left: 4px dotted orange;
        width: 5px;
        opacity: 0;
        position: absolute; top: 60px; bottom: 0; left: 50%;
        @include transition(all 0.2s ease-in-out);
      }
      .box-content {
        font-size: .8em; line-height: 1em;
        position: relative;
        padding: 10px 15px;
        display: flex; align-items: center;
        height: 100%;
        opacity: 0;
        @include transition(all 0.2s ease-in-out);
      }
      .box-photo {
        //opacity: 0;
        background: #fff;
        border-radius: 40px;
        box-shadow: 1px 1px 5px rgba(122,122,122,.5);
        width: 80px; height: 80px;
        position: absolute; top: -15px; right: -50px; z-index: 11;
        @include transition(all 0.2s ease-in-out);
        img { width: 100%; }
      }

      &:hover {
        z-index: 11;
        .box-card { top: 45px; }
        .box-photo { top: 40px; }
        .box-content { opacity: 1; }
      }
    }
    .box-sublevel {
      opacity: 0;
      border-top: 4px dotted orange;
      min-height: 150px;
      position: absolute; bottom: -165px; left: 0; right: 0;
    }
    &.open {
      z-index: 10;
      > .box {
        z-index: 11;
        > .box-card { top: 45px; }
        > .box-card .box-content { opacity: 1; }
        > .box-trace { opacity: 1; }
        @media #{$tablet} {
          > .box-card { top: 5px; left: 180px; }
          > .box-shell .box-photo { top: -15px; right: -220px; }
        }
      }
      > .box-sublevel {
        opacity: 1;
      }
    }
    &.shade {
      z-index: 1;
      > .box {
        opacity: .2;
        &:hover {
          z-index: 12;
          opacity: 1;
        }

      }
    }

    &.orange {
      > .box > .box-shell { background: url("../images/orange.png"); }
    }
    &.blue {
      > .box > .box-shell { background: url("../images/blue.png"); }
    }
    &.purple {
      > .box > .box-shell { background: url("../images/purple.png"); }
    }
    &.red {
      > .box > .box-shell { background: url("../images/red.png"); }
    }
  }
}
