@charset "UTF-8";

@font-face {
  font-family: "kccc";
  src:url("fonts/kccc.eot");
  src:url("fonts/kccc.eot?#iefix") format("embedded-opentype"),
    url("fonts/kccc.woff") format("woff"),
    url("fonts/kccc.ttf") format("truetype"),
    url("fonts/kccc.svg#kccc") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "kccc" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "kccc" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-001:before {
  content: "\e001";
}
.icon-013:before {
  content: "\e002";
}
.icon-002:before {
  content: "\e003";
}
.icon-003:before {
  content: "\e004";
}
.icon-004:before {
  content: "\e005";
}
.icon-005:before {
  content: "\e006";
}
.icon-006:before {
  content: "\e007";
}
.icon-007:before {
  content: "\e008";
}
.icon-008:before {
  content: "\e009";
}
.icon-009:before {
  content: "\e00a";
}
.icon-010:before {
  content: "\e00b";
}
.icon-011:before {
  content: "\e00c";
}
.icon-012:before {
  content: "\e00d";
}
.icon-014:before {
  content: "\e00e";
}
.icon-015:before {
  content: "\e00f";
}
.icon-016:before {
  content: "\e010";
}
.icon-017:before {
  content: "\e011";
}
.icon-018:before {
  content: "\e012";
}
.icon-019:before {
  content: "\e013";
}
.icon-020:before {
  content: "\e014";
}
.icon-021:before {
  content: "\e015";
}
.icon-022:before {
  content: "\e016";
}
.icon-023:before {
  content: "\e017";
}
.icon-024:before {
  content: "\e018";
}
.icon-025:before {
  content: "\e019";
}
.icon-026:before {
  content: "\e01a";
}
.icon-027:before {
  content: "\e01b";
}
.icon-028:before {
  content: "\e01c";
}
.icon-029:before {
  content: "\e01d";
}
.icon-030:before {
  content: "\e01e";
}
.icon-033:before {
  content: "\e01f";
}
.icon-031:before {
  content: "\e020";
}
.icon-032:before {
  content: "\e021";
}
.icon-036:before {
  content: "\e022";
}
.icon-034:before {
  content: "\e023";
}
.icon-035:before {
  content: "\e024";
}
.icon-037:before {
  content: "\e025";
}
.icon-038:before {
  content: "\e026";
}
.icon-039:before {
  content: "\e027";
}
.icon-040:before {
  content: "\e028";
}
.icon-041:before {
  content: "\e029";
}
.icon-042:before {
  content: "\e02a";
}
.icon-043:before {
  content: "\e02b";
}
.icon-044:before {
  content: "\e02c";
}
.icon-045:before {
  content: "\e02d";
}
.icon-047:before {
  content: "\e02e";
}
.icon-046:before {
  content: "\e02f";
}
.icon-048:before {
  content: "\e030";
}
.icon-049:before {
  content: "\e031";
}
.icon-050:before {
  content: "\e032";
}
.icon-051:before {
  content: "\e033";
}
.icon-052:before {
  content: "\e034";
}
.icon-053:before {
  content: "\e035";
}
.icon-054:before {
  content: "\e036";
}
.icon-055:before {
  content: "\e037";
}
.icon-056:before {
  content: "\e038";
}
.icon-057:before {
  content: "\e039";
}
.icon-058:before {
  content: "\e03a";
}
.icon-059:before {
  content: "\e03b";
}
.icon-060:before {
  content: "\e03c";
}
.icon-061:before {
  content: "\e03d";
}
.icon-062:before {
  content: "\e03e";
}
.icon-063:before {
  content: "\e03f";
}
.icon-064:before {
  content: "\e040";
}
.icon-065:before {
  content: "\e041";
}
.icon-066:before {
  content: "\e042";
}
.icon-067:before {
  content: "\e043";
}
.icon-068:before {
  content: "\e044";
}
.icon-069:before {
  content: "\e045";
}
.icon-071:before {
  content: "\e046";
}
.icon-070:before {
  content: "\e047";
}
.icon-072:before {
  content: "\e048";
}
.icon-073:before {
  content: "\e049";
}
.icon-074:before {
  content: "\e04a";
}
.icon-075:before {
  content: "\e04b";
}
.icon-076:before {
  content: "\e04c";
}
.icon-077:before {
  content: "\e04d";
}
.icon-078:before {
  content: "\e04e";
}
.icon-079:before {
  content: "\e04f";
}
.icon-080:before {
  content: "\e050";
}
.icon-081:before {
  content: "\e051";
}
.icon-082:before {
  content: "\e052";
}
.icon-083:before {
  content: "\e053";
}
.icon-084:before {
  content: "\e054";
}
.icon-085:before {
  content: "\e055";
}
.icon-086:before {
  content: "\e056";
}
.icon-087:before {
  content: "\e057";
}
.icon-088:before {
  content: "\e058";
}
.icon-089:before {
  content: "\e059";
}
.icon-090:before {
  content: "\e05a";
}
.icon-091:before {
  content: "\e05b";
}
.icon-092:before {
  content: "\e05c";
}
.icon-093:before {
  content: "\e05d";
}
.icon-094:before {
  content: "\e05e";
}
.icon-095:before {
  content: "\e05f";
}
.icon-096:before {
  content: "\e060";
}
.icon-097:before {
  content: "\e061";
}
.icon-098:before {
  content: "\e062";
}
.icon-099:before {
  content: "\e063";
}
.icon-100:before {
  content: "\e064";
}
.icon-101:before {
  content: "\e065";
}
.icon-102:before {
  content: "\e066";
}
.icon-103:before {
  content: "\e067";
}
.icon-104:before {
  content: "\e068";
}
.icon-105:before {
  content: "\e069";
}
.icon-106:before {
  content: "\e06a";
}
.icon-107:before {
  content: "\e06b";
}
.icon-108:before {
  content: "\e06c";
}
.icon-109:before {
  content: "\e06d";
}
.icon-110:before {
  content: "\e06e";
}
.icon-111:before {
  content: "\e06f";
}
.icon-112:before {
  content: "\e070";
}
.icon-113:before {
  content: "\e071";
}
.icon-114:before {
  content: "\e072";
}
.icon-115:before {
  content: "\e073";
}
.icon-116:before {
  content: "\e074";
}
.icon-117:before {
  content: "\e075";
}
.icon-118:before {
  content: "\e076";
}
.icon-119:before {
  content: "\e077";
}
.icon-120:before {
  content: "\e078";
}
.icon-121:before {
  content: "\e079";
}
.icon-122:before {
  content: "\e07a";
}
.icon-123:before {
  content: "\e07b";
}
.icon-124:before {
  content: "\e07c";
}
.icon-125:before {
  content: "\e07d";
}
.icon-126:before {
  content: "\e07e";
}
.icon-127:before {
  content: "\e07f";
}
.icon-128:before {
  content: "\e080";
}
.icon-129:before {
  content: "\e081";
}
.icon-130:before {
  content: "\e082";
}
.icon-131:before {
  content: "\e083";
}
.icon-132:before {
  content: "\e084";
}
.icon-133:before {
  content: "\e085";
}
.icon-134:before {
  content: "\e086";
}
.icon-135:before {
  content: "\e087";
}
.icon-136:before {
  content: "\e088";
}
.icon-137:before {
  content: "\e089";
}
.icon-138:before {
  content: "\e08a";
}
.icon-139:before {
  content: "\e08b";
}
.icon-140:before {
  content: "\e08c";
}
.icon-141:before {
  content: "\e08d";
}
.icon-142:before {
  content: "\e08e";
}
.icon-143:before {
  content: "\e08f";
}
.icon-144:before {
  content: "\e090";
}
.icon-146:before {
  content: "\e091";
}
.icon-145:before {
  content: "\e092";
}
.icon-148:before {
  content: "\e000";
}
