/* блок погоды */
/* stuff */
.weather.stuff   { border: 5px solid #fff; color: #fff; height:390px; margin:0 0 10px 10px; overflow:hidden; text-shadow: 1px 1px 10px #000; width:668px; }
.weather.stuff h2 { color: #fff; font:16px/20px open_sansbold; margin:0 0 15px 0; text-align:right; text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5); }
.weather.stuff .bg { background-color: rgba(0,176,240,0.7); height: 100%; padding:4px 10px 10px 10px;  }
.weather.stuff .today { padding-bottom:5px; width:100%; }
.weather.stuff .info { padding:5px 0 0 15px; width:100%; }
.weather.stuff .temp { font-size:67px; float:left; margin-left:15px; width:42%; }
.weather.stuff .temp img{ height:60px; margin-bottom:10px;}
.weather.stuff .cloud { float:left; line-height:90px; padding:0 10px; text-align:center; width:22%; }
.weather.stuff .cloud span { display:inline-block; font:12px/13px open_sansregular; vertical-align:middle; }
.weather.stuff .detail { float:left; padding:10px 0 0 10px; }

.weather.stuff .forecast { border-top: 1px dashed #ddd; padding-top:15px; width:100%; }
.weather.stuff .forecast .item { float:left; text-align: center; width:105px; }
.weather.stuff .forecast .item .weekday { font:8px/8px 'open_sanslight'; }
.weather.stuff .forecast .item .icon { padding-top:5px; }
.weather.stuff .forecast .item .weather_type { font-size:0; line-height:40px; }
.weather.stuff .forecast .item .weather_type span{ display:inline-block; font:12px/13px open_sansregular; vertical-align:middle; }
.weather.stuff .forecast .item img { height:40px; }
/* главная */
.weather.front { color: #fff; text-shadow: 1px 1px 10px #000;  }
.weather.front { background-image: url("../images/weather_front_bg.jpg");  }
.weather.front .bg { background-color: rgba(50,50,50,0.2); font: 13px/15px open_sansregular; height: 100%; padding:4px 5px 10px 10px;  }

.weather.front .today { float:left; padding-bottom:5px; width: 255px; }
.weather.front .info { padding:5px 0 0 15px; width:100%; }
.weather.front .fact { font-size:50px; float:left; height: 60px; margin-left:15px; overflow:hidden; }
.weather.front .fact .icon{ float:left; width:120px; height:40px; text-align:center; padding-top: 12px; }
.weather.front .fact .icon img{ height:40px;  }
.weather.front .fact .temp{ float:left; width:120px; padding-top: 20px; }
.weather.front .disclaimer{ font:8px/10px open_sansregular; color: rgba(255,255,255,0.3); }
.weather.front .disclaimer:hover{ color: #fff; }
.weather.front .forecast { float:left; padding:0 0 0 20px; position: relative; }
.weather.front .forecast .item { float:left; text-align: center; width:78px; }
.weather.front .forecast .item:hover { background-color: rgba(50,50,50,0.1); }
.weather.front .forecast .pointer { text-align: center; height:10px; width:78px; border-bottom:1px solid #fff; }
.weather.front .forecast .pointer.active { position: relative; }
.weather.front .forecast .pointer.active:before { left: 30px; border: solid transparent; content: " "; position: absolute; border-bottom-color: #fff; border-width: 8px; margin-top: -7px; }
.weather.front .forecast .detail { background-color: rgba(0,0,0,0.2); border: 1px solid #fff; border-top: none; height: 42px; width:702px; }
.weather.front .forecast .item .day { position:absolute; height: 41px; width:696px; display:none; top:82px; left: 23px; }
.weather.front .forecast .item:first-child .day{ display:block; }
.weather.front .forecast .day_part { float:left; height: 41px; width:174px; text-align:center; padding:5px 0 0 10px; }
.weather.front .forecast .day_part .part{ float:left; font: 12px/22px open_sanslight; padding:5px 15px 0 5px; }
.weather.front .forecast .day_part .icon{ float:left; font: 12px/24px open_sansregular; padding:5px 0 0 5px; }
.weather.front .forecast .day_part .temp{ float:left; font: 12px/24px open_sansregular; padding:5px 0 0 2px; }
/* главная мини */
.weather.front.mini { height:190px; width:331px; }
.weather.front.mini .today { width: 306px; }
.weather.front.mini .info { font: 10px/15px open_sanslight; float:left; padding:5px 0 0 10px; width:150px; }
.weather.front.mini .info span a{ color:#fff; font: 20px/22px open_sansregular; }
.weather.front.mini .fact { font-size:35px; margin-left: 5px; }
.weather.front.mini .fact .icon{ width:auto; min-width: 90px; padding-top: 10px; }
.weather.front.mini .fact .temp{ width:auto; padding-top: 15px; }
.weather.front.mini .disclaimer{ float:left; }
.weather.front.mini .forecast { padding:0; }
.weather.front.mini .forecast .item { font: 11px/12px open_sanslight; width:74px; }
.weather.front.mini .forecast .item .icon{ padding-top:2px; }
.weather.front.mini .forecast .detail { width:300px; }
.weather.front.mini .forecast .item .day { position:absolute; height: 41px; width:296px; display:none; top:57px; left: 0; }
.weather.front.mini .forecast .item:first-child .day{ display:block; }
.weather.front.mini .forecast .day_part .icon{ font: 12px/24px open_sansregular; padding:0; width: 50px; text-align: right; }
.weather.front.mini .forecast .day_part .icon img{ height:20px;  }
.weather.front.mini .forecast .day_part .temp{ font: 12px/12px open_sansregular; padding:0; }
.weather.front.mini .forecast .day_part .part{ font: 9px/10px open_sanslight; padding:0 0 0 5px; width:70px; }
.weather.front.mini .forecast .day_part { padding:5px 0 0 0; width:74px;  }
.weather.front.mini .forecast .pointer.active:before { border-width: 6px; margin-top: -3px; }
/* главная мини2 */
.weather.block_1_1 .bg { background-color: rgba(0,176,240,0.4); }
.weather.block_1_1 .today { width: 306px; }
.weather.block_1_1 .info { font: 10px/15px open_sanslight; float:left; padding:5px 0 0 10px; width:150px; }
.weather.block_1_1 .info span a{ color:#fff; font: 20px/22px open_sansregular; }
.weather.block_1_1 .fact { font-size:35px; margin-left: 5px; }
.weather.block_1_1 .fact .icon{ width:auto; min-width: 80px; padding-top: 10px; }
.weather.block_1_1 .fact .temp{ width:auto; padding-top: 15px; }
.weather.block_1_1 .disclaimer{ float:left; }
.weather.block_1_1 .forecast { padding:0; }
.weather.block_1_1 .forecast .item { font: 11px/12px open_sanslight; width:74px; }
.weather.block_1_1 .forecast .item .weekday{ float:left; text-align:left; }
.weather.block_1_1 .forecast .item .icon{ padding-top:2px; }
.weather.block_1_1 .forecast .item{ border: none; border-bottom: 1px solid #fff; float:left; padding:4px 1px 5px 7px }
.weather.block_1_1 .forecast .item .temp{ text-align: center; padding-left: 18px; font: 14px/14px open_sanssemibold; }
.weather.block_1_1 .forecast .item.active { border: 1px solid #fff; border-bottom: none; padding:3px 0 6px 6px; }
.weather.block_1_1 .forecast .detail { width:300px; height:50px;}
.weather.block_1_1 .forecast .item .day { position:absolute; height: 41px; width:296px; display:none; top:57px; left: 0; }
.weather.block_1_1 .forecast .item:first-child .day{ display:block; }
.weather.block_1_1 .forecast .day_part .icon{ font: 12px/24px open_sansregular; padding:0; width: 50px; text-align: right; }
.weather.block_1_1 .forecast .day_part .icon img{ height:20px;  }
.weather.block_1_1 .forecast .day_part .temp{ font: 12px/12px open_sansregular; padding:0; }
.weather.block_1_1 .forecast .day_part .part{ font: 9px/10px open_sanslight; padding:0 0 0 5px; width:70px; }
.weather.block_1_1 .forecast .day_part { padding:0; width:74px;  }
.weather.block_1_1 .forecast .detail { background-color: transparent; border:none; }

/* страница */
.weather.page { background:#fff; color:#121212; padding:20px 70px; margin-bottom: 10px; }
.weather.page .today { height:120px; }
.weather.page .today>div{ display:inline-block; height:100px; vertical-align: top; }
.weather.page .today .common-info { margin-left:50px; min-width:180px;}
.weather.page .today .common-info .cell{ font: 12px/20px open_sanslight; }
.weather.page .today .common-info .cell span{ float:right; width:50px; font: 12px/20px open_sansregular; }
.weather.page .today .common-info .cell .wind { display:inline-block; font: 12px/20px open_sanslight; }
.weather.page .today .common-info .cell .wind img{ width:20px; }
.weather.page div.info { font: 14px/20px open_sanslight; margin-top:10px; vertical-align: bottom; }
.weather.page .info span{ font: 34px/38px open_sansregular; }
.weather.page .fact { font: 62px/62px open_sansregular; padding:0 0 0 50px; }
.weather.page .fact img{ width:80px; }
.weather.page .forecast { position: relative; height: 500px; }
.weather.page .forecast .item{
    border: none; border-bottom: 1px solid #2b8aff;
    border-right: 2px solid #fff;
    background-color: #F0FAFF;
    float:left; padding: 10px 15px 0 15px;
    height:100px; width:123px;
    cursor: pointer;
}
.weather.page .forecast .item:hover { background-color: #fff; }
.weather.page .forecast .item .temp{ text-align: center; padding-left: 18px; font: 14px/14px open_sanssemibold; }
.weather.page .forecast .item.active {
    border: 1px solid #2b8aff; border-bottom: none;
    background-color: #fff;
    padding: 9px 14px 0 14px;
}
.weather.page .forecast img{ width:58px; }
.weather.page .forecast .day { font: 14px/24px open_sansregular; position:absolute; display:none; top:140px; left: 0; }
.weather.page .forecast .day>div{ float:left; }
.weather.page .forecast .day .part { height:25px; }
.weather.page .forecast .day .icon { height:65px; }
.weather.page .forecast .day img { width:60px; }
.weather.page .forecast .item:first-child .day{ display:block; }
.weather.page .forecast .weekday{ float: left; font: 15px/34px open_sanssemibold; }
.weather.page .forecast .name { width:300px; }
.weather.page .forecast .name .cell { font: 14px/24px open_sanslight; text-align:left; }
.weather.page .forecast .name .temp{ height:70px; margin-bottom:5px; }
.weather.page .forecast .day_part { text-align:center; width:130px; }
.weather.page .forecast .day_part .cell,
.weather.page .forecast .day_part .temp{ font: 14px/24px open_sansregular; text-align:center; padding:0; }
.weather.page .forecast .day_part .temp{ color:#fff; font: 20px/28px open_sansregular; text-shadow: 2px 2px 5px rgba(0,0,0,1); height:70px; position:relative; margin-bottom:5px;}
.weather.page .forecast .day_part .temp div{ bottom:0; background:#eee; position:absolute; width:100%; }
.weather.page .forecast .day_part .wind { font: 12px/22px open_sanslight; }
.weather.page .forecast .day_part .wind img{ width:20px; }
.weather.page .drctn_e img{ -webkit-transform:rotate(90deg); -moz-transform:rotate(90deg); transform:rotate(90deg); }
.weather.page .drctn_ne img{ -webkit-transform:rotate(45deg); -moz-transform:rotate(45deg); transform: rotate(45deg); }
.weather.page .drctn_se img{ -webkit-transform:rotate(135deg); -moz-transform:rotate(135deg); transform: rotate(135deg); }
.weather.page .drctn_nw img{ -webkit-transform:rotate(-45deg); -moz-transform:rotate(-45deg); transform: rotate(-45deg); }
.weather.page .drctn_sw img{ -webkit-transform:rotate(-135deg); -moz-transform:rotate(-135deg); transform: rotate(-135deg); }
.weather.page .drctn_w img{ -webkit-transform:rotate(-90deg); -moz-transform:rotate(-90deg); transform: rotate(-90deg); }
.weather.page .drctn_s img{ -webkit-transform:rotate(180deg); -moz-transform:rotate(180deg); transform: rotate(180deg); }
.weather.page .forecast .common-info { height:160px; margin-bottom:5px; }
.weather.page .forecast .common-info .date{ font: 16px/22px open_sansregular; }
.weather.page .forecast .common-info .cell{ font: 12px/18px open_sanslight; }
.weather.page .forecast .common-info .cell span{ float:right; width:230px; font: 12px/18px open_sansregular; }