
.section-news 	#bg1 { background-image: url("../images/backgrounds/sunflowers.jpg"); }
.section-catalog #bg1{ background-image: url('../images/backgrounds/trees_bg.jpg'); }
.section-catalog.page-node-375 #bg1{ background-image: url('../images/backgrounds/tolling_pbg.jpg'); }
.section-catalog.page-node-409 #bg1{ background-image: url('../images/backgrounds/tolling_pbg.jpg'); }
.section-catalog.page-node-1183 #bg1{ background-image: url('../images/backgrounds/tolling_pbg.jpg'); }
.section-support #bg1{ background-image: url('../images/backgrounds/sunflowers.jpg'); }
.section-toboggan #bg1{ background-image: url('../images/backgrounds/sunflowers.jpg'); } 


.field .field-label { font-weight: 500; }
.form-required { color: #de242a; }
.form-submit.form-button-disabled { background:#aaa; }
.form-submit.form-button-disabled:hover { background:#aaa; }
.hidden { display: none; }
.blur { filter: blur(3px); -webkit-filter: blur(3px); }







/* общее для нод */
.full {
    background: #fff; border-radius: 4px;
    position: relative;
}
.full .img-wrap {
    float: left;
    position:relative; overflow:hidden;
    margin: 0 30px 20px 0;
}
.full .text-wrap { padding: 10px 70px 30px 70px; }
.full .text-wrap  p,
.full .text-wrap  ol,
.full .text-wrap  ul {
    font-size: 15px; line-height: 20px;
    margin: 0 0 10px 0;
    text-align: justify;
}
.full .text-wrap  p:last-child,
.full .text-wrap  ol:last-child,
.full .text-wrap  ul:last-child { margin: 0; }
.full .text-wrap  h2    { font-size: 18px; line-height: 24px; margin: 25px 0 12px 0; }
.full .text-wrap  h3    { font-size: 17px; line-height: 22px; margin: 10px 0 5px 0; }
.full .text-wrap  h4    { font-size: 16px; line-height: 20px; margin: 8px 0 4px 0; }
.full .text-wrap  a     { color: #2b8aff; }

/* для описания продукции */
.group-tab-descr h4 { font-weight: 100; }
.page-herbicides    .group-tab-descr h4 { color: #E31E25; }
.page-insecticides  .group-tab-descr h4 { color: #01A0E2; }
.page-desiccants    .group-tab-descr h4 { color: #F29313; }
.page-fungicides    .group-tab-descr h4 { color: #60497F; }
.page-disinfectants .group-tab-descr h4 { color: #A32275; }
.page-surfactants   .group-tab-descr h4 { color: #9CC328; }
.page-mineral-fertilizers .group-tab-descr h4 { color: #089244; }
.page-mixes         .group-tab-descr h4 { color: #334E91; }


/* текстовый редактор */
.cke_editable p,
.cke_editable ol,
.cke_editable ul {
    font-size: 14px; line-height: 19px;
    margin: 0 0 5px 0;
    text-align: justify;
}
.cke_editable h2 { font-size: 18px; line-height: 24px; margin: 25px 0 12px 0; }
.cke_editable h3 { font-size: 17px; line-height: 22px; margin: 10px 0 5px 0; }
.cke_editable h4 { font-weight: 100; }
.cke_editable a  { color: #2b8aff; }
.cke_editable p:last-child,
.cke_editable ol:last-child,
.cke_editable ul:last-child { margin: 0; }




/* список вакансий */
.search-all .vacancy.teaser { background:#fff; border: none; padding:20px 40px 10px; }

/* системные вкладки */
.tabs-primary { background: #fff; margin:0 10px; padding:0 10px; }
.tabs-primary li { padding:2px 15px; }
.tabs-secondary { background: #fff; margin:0 10px; padding:0 10px; }
.tabs-secondary li { float: right; padding:2px 15px; margin-top: 10px; }


/* информация */
.information.full { padding: 20px; }
.information.full .embedded { margin: 0 0 10px 20px; }
.information.full .divider { clear: both; display: block; margin-bottom: 15px; padding-top: 15px; width: 100%; }








/* список афиши */
/*.node-agenda {  background: #fff; padding: 20px; }*/
/* страница афиши */
/*.agenda.full { font-size: 16px; line-height: 24px; font-weight: 100; }*/
/*.agenda.full .field{ margin-top:20px; }*/
/*.agenda.full .over-wrap {*/
    /*position: absolute; top: 50px; left: 100px;*/
    /*color: #fff; text-shadow: 1px 1px 1px #333;*/
    /*margin-right: 100px;*/
/*}*/
/*.agenda.full .over-wrap .title { font-size: 37px; line-height: 39px; font-weight: 700; margin-bottom: 20px; text-transform: uppercase; }*/
/*.agenda.full .over-wrap .period { font-size: 26px; line-height: 30px; font-weight: 500; margin-bottom: 60px; }*/
/*.agenda.full .over-wrap .location { font-size: 26px; line-height: 30px; }*/

.agenda.teaser .title{ margin-bottom: 5px; }
.agenda.teaser .date-wrap { margin-bottom: 5px; height: 20px; }
.agenda.teaser .field-type-text-with-summary { font-size: 16px; line-height: 22px; font-weight: 100; }







  /* страница вывода корневых категорий продукции */
.page-catalog .category.teaser { height: initial; width: 247px; }
.page-catalog .category.teaser .photo { height: initial; }

  /* слайдер */
.view.agro-slider  .views-field-description { position: absolute; text-align: center; text-shadow: 0 2px 0 rgba(0, 0, 0, 0.471); background: rgba(0, 0, 0, 0.3); font-size:16px; line-height:16px; margin:0; left: 10%; bottom: 30%; min-width: 30%; }
.view.agro-slider  .views-field-description p{ line-height:40px; margin:0 30px; }
.views_slideshow_cycle_main a { color:#fff; }

  /* толлинг */
[id*="block-views-slider-tolling-1-block"] { margin-bottom: 10px; position:relative; }
.view.slider-tolling-1 { border:10px solid #fff; }
.view.slider-tolling-1 .view-header{ position:relative; }
.view.slider-tolling-1 .views-field-description{ background:rgba(0, 0, 0, 0.3); color:#fff; padding:10px 30px; position:absolute; left:80px; top:80px; margin-right:100px; }
.view.slider-tolling-1 .views-field-description p{ color:#fff; font-size: 16px; text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.80); margin:0;}
.view.slider-tolling-1 .view-footer { color:#000; background:#FFECCE; font-size: 14px; text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.30); padding: 20px; }

.view.slider-tolling-1 .views-slideshow-controls-bottom  { position:absolute; top:85%; right:0; z-index:20; }
.view.slider-tolling-1 .views-slideshow-controls-bottom .views-slideshow-pager-fields { margin:0 130px 0 0; }
.view.slider-tolling-1 .views-slideshow-controls-bottom .views-slideshow-pager-field-item { box-shadow: 1px 1px 2px rgba(50, 50, 50, 0.706); border: 3px solid #fff; background-color:#2b8aff; float:left; height: 18px; width:18px; margin:15px 10px 0 0; }
.view.slider-tolling-1 .views-slideshow-controls-bottom .views-slideshow-pager-field-item:hover { background-color: #f2a500; }
.view.slider-tolling-1 .views-slideshow-controls-bottom .views-slideshow-pager-field-item.active { background-color: #f2a500; }
.view.slider-tolling-1 .views-slideshow-controls-bottom .views-slideshow-pager-field-item .views-content-name { display:none; }

.block_7 { background: #fff; width: 100%; height: 275px; position:relative; }
.block_7 a.submit-button { border: 2px solid #2b8aff; color: #2b8aff; }
.block_7 a.submit-button:hover { background: #2b8aff; }

.block_8 { background: #fff; width: 100%; height: 80px; }
.slider-tolling-1 .skin-default{ position:relative; }


/* промышленная химия */
[id*="block-views-slider-promchem-block"] { margin-bottom:20px; position:relative; }
.view-slider-promhim { border:10px solid #fff; margin-top:-10px; }
.view-slider-promhim .view-header{ position:relative; }
.view-slider-promhim .views-field-description{ background:rgba(0, 0, 0, 0.3); padding:10px 30px; position:absolute; left:80px; top:80px; margin-right:100px; }
.view-slider-promhim .views-field-description p{ color:#fff; font-size: 16px; text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.80); margin:0;}
.view-slider-promhim .view-footer { color:#000; background:#FFECCE; font-size: 14px; text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.30); padding: 20px; }


/* поиск */
#block-views-exp-search-page,
#block-views-exp-search-all-page,
.view-empty {
    background: #fff;
    border-radius: 4px;
    padding: 20px; margin-bottom: 10px;
}
.view-empty { min-height: 450px; }
#block-views-exp-search-all-page .form-submit { margin-top: 4px; }
#block-views-exp-search-all-page .views-widget-filter-search_api_views_fulltext { width: 720px; }
#block-views-exp-search-all-page .views-widget-filter-search_api_views_fulltext input { width: 100%; }
#block-views-exp-search-all-page .views-submit-button { padding: .3em 1em 0 0; }
#block-views-exp-search-all-page .views-reset-button { padding: .3em 0 0 0; }
.search-all-list .type {
    font-size: 12px;
    background-color:#2b8aff; color:#fff;
    position: absolute; top: 0; right: 0;
    padding: 5px 20px;
}

/* ------------------- блоки фильтров на странице всей продукции ------------------------------------------------- */
.block-facetapi {
    color: #40ae1a;
    background: #fff; border: 5px solid #FFFFFF;
    padding: 10px 2px 10px 10px;
}
.block-facetapi input { margin-top: 2px; }
.block-facetapi .leaf {
    font-size: 12px; line-height: 15px;
    margin-bottom: 6px;
    list-style: none;
}
.block-facetapi .leaf a{ font-size: 12px; line-height: 15px; }
.block-facetapi ul { padding: 3px 0 0 10px; }






/* страница товара */
.product .field-components .field-items { line-height: 15px; }
.product .field-components .field-item { margin-bottom: 7px; }
.product .field-components .ingredients { font-size: 10px; }

.product.full { background: none; }
.product.full .agro,
.product.full .fert,
.product.full .joy,
.product.full .chem,
.product.full .info {
    background-color: #fff; border-radius: 4px;
    margin-bottom: 10px;
}
.product.full .joy {
    padding: 10px;
    transition: all 0.3s ease-in-out; -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out;
}
.product.full .field-field-product-photo { padding:20px; width:100%; }
.product.full .field-type-commerce-product-reference { width: 100%; }

.product.full .buy-table {
    border: 1px solid #dfebed; box-shadow: 1px 1px 2px rgba(0,0,0,.1);
    font-size: 13px;
    margin: 20px 40px 10px 0;
    min-height: 455px;
}
.product.full .buy-table .grid-row { margin-bottom: 0; padding: 20px 10px; width: 100%; }
.product.full .buy-table .growth a { color:#2b8aff; }
.product.full .buy-table .field-label,
.product.full .buy-table label {
    color: #000; font-size: 13px; font-weight: 500;
    display:inline-block;
    min-height: 35px;
    padding-left: 20px; text-align: left;
    width: 45%;
}
.product.full .buy-table .field-items { font-size: 13px; }
.product.full .buy-table .add-comment { padding: 5px 20px 20px; line-height: 15px; }
.product.full .buy-table .field-name-field-product .form-item { margin: 0; }

.product.full .price .field-label { min-height:25px; }
.product.full .price .field-commerce-price {
    background-color:#e5e5e5;
    text-align: center;
    padding: 10px 25px; margin-bottom: 10px;
}
.product.full .price .field-name-commerce-price .field-item {
    font-size: 22px; line-height: 24px; font-weight: 500;
    text-shadow: 1px 1px 5px rgba(110, 110, 110, 0.4);
}
.product.full .price .field-name-commerce-price .field-item .old-price {
    display: inline-block;
    color: #fff; font-size: 24px; line-height: 24px; font-weight: 500;
    text-decoration: line-through;
    text-shadow: 1px 1px 5px rgba(0,0,0,0.5);
    margin-left: 10px;
}

/* на время акции -10% до 28дек16 */
/*.product.full .agro div[id^="edit-redirect"].form-item { float: left; margin-left: 198px; }*/
/*.product.teaser .field-items .field-item div[id^="edit-redirect"].form-item { float: left; margin-left: 146px; }*/


.product.full .submit { background-color: #f2f8fd; }
.product.full .brief .field-label { line-height: 15px; min-height: 25px; }
.product.full .brief .field-items { display:table; line-height:15px; }
.product.full .brief .growth .field-label { height:100%; }
.product.full .group-main-cltrs .field-item,
.product.full .group-hrmf-obj .field-item{ float:left; width:50%; }
.product.full .group-main-cltrs .taxonomy,
.product.full .group-hrmf-obj .taxonomy { padding:0; }
  /* агрохимия */
.product.full .agro .price { width:100%; }
.product.full .agro .price .field-commerce-price { margin: 0 20px 10px 20px; }
.product.full .agro .form-submit { float: left; margin-left: 198px; }
.page-herbicides    .product.full .form-submit { background-color: #E31E25; }
.page-insecticides  .product.full .form-submit { background-color: #01A0E2; }
.page-desiccants    .product.full .form-submit { background-color: #F29313; }
.page-fungicides    .product.full .form-submit { background-color: #60497F; }
.page-disinfectants .product.full .form-submit { background-color: #A32275; }
.page-mineral-fertilizers .product.full .form-submit { background-color: #089244; }
.page-mixes         .product.full .form-submit { background-color: #334E91; }
  /* удобрения */
.product.full .fert .form-submit { float: left; margin-left: 198px; }
  /* joy */
.product.full .joy .body { padding: 10px; margin-bottom:0; overflow: hidden; }
.product.full .joy .read-more { padding: 10px 50px; text-align: right; }
.product.full .joy .read-more a { color:#2b8aff; }
.product.full .joy .price { padding: 0 10px; margin-top: 10px; }
.product.full .joy .price .field-commerce-price{ float:left; }
.product.full .joy .price .shipping { float: left; margin-left: 20px; padding-top: 5px; }
.product.full .joy .price .shipping span{ display: block; background: url("../images/icons/shipping.png") no-repeat transparent; height:33px; width: 40px; }
.product.full .joy .submit { padding: 15px 10px; min-height: 30px; width: 100%; }
.product.full .joy .submit .form-item-quantity { float: left; margin: 0; }
.product.full .joy .submit label { display: inline-block; padding: 0 20px; }
.product.full .joy .form-submit { float: left; margin-left: 20px; }
    /* промхимия */
.product.full .chem .commerce-add-to-cart .submit-button { float: left; margin-left: 198px;  }



/* регламенты */
.reglaments h4 {
    font-size: 0.8em; font-weight: 400;
    padding: 3px 8px; margin: 5px 0 3px 0;
}
.calculation {
    float: right;
    width: 580px;
}
.calculation .calc-title span {
    font-size: 12px; font-weight: 100;
    color: #999;
}
.calculation th,
.calculation td {
    height: 34px;
    padding: 2px 10px;
}
.calculation td:first-child { text-align: right; }
.calculation td input { height: 28px; width: 100%; }



/* таблица */
.table { background-size: cover; line-height: normal; margin-bottom: 18px; }
.table tbody { background: none; }
.table td { background: none; }
.table > tbody > tr > th,
.table > tbody > tr > td { border: 1px solid #ccc; color: #404040; font-size: 14px; padding: 8px; }
.table > tbody > tr > td p { margin: 0; }
.table .actions a { font-size: 11px; line-height: 12px; font-weight: 100; }
.table .empty { border-right: none; border-left: none; }
.table th.text90 { white-space:nowrap; position:relative; height: 155px; min-width: 25px; }
.table th.text90.double { min-width: 38px; }
.table th.text90 div {
    -webkit-transform: rotate(-90deg); -moz-transform: rotate(-90deg); -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg); transform: rotate(-90deg);
    font-size: 13px; line-height: 14px; color: #000; font-weight: 100;
    position: absolute; bottom: 8px; left: 5px;
    margin: 0; padding: 0;
    width: 0; height: 0;
}
.table td.text90 { padding: 15px 0; height: 150px }
.table td.text90 div {
    -webkit-transform: rotate(-90deg); -moz-transform: rotate(-90deg); -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg); transform: rotate(-90deg);
    font-size: 13px; line-height: 14px; color: #fff; letter-spacing: 1px;
    width: 20px;
    margin: 60px 0 0 8px;
}

.table .y-fade { padding: 0; }
.table .y-fade .prep { padding: 8px 4px; min-width: 165px; width: 100%; position: relative; z-index: 0; font-size: 13px; }
.table .y-fade .proc { height: 0; width: 100%; position: relative; z-index: 1; }
.table .y-fade .proc span {
    display: block; overflow: hidden;
    font-size: 12px; line-height: 15px; text-align: justify;
    height: 0; width:100%;
    opacity: 0; padding: 0 10px;
    transition: all 0.3s ease-in-out; -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out;
}
.table .y-fade:hover .proc span { height: initial; padding: 10px; opacity: 0.99; }

.table .x-fade {
    color: #fff; text-align: center; text-shadow: 2px 2px 5px rgba(0,0,0,0.8);
    padding: 0; width: 38px;
    max-width: 38px; /* safari */
}
.table .x-fade .prep { padding: 10px 0 10px 0; width: 100%; float: left; }
.table .x-fade .proc { width: 0; float: left; position: relative; z-index: 1; }
.table .x-fade .proc span {
    display: block; overflow: hidden;
    height: 38px; width: 0;
    opacity: 0;
    padding: 10px 10px 10px 0;
    transition: all 0.3s ease-in-out; -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out;
    margin-left: -13px;
    text-align: left; white-space: nowrap;
}
.table .x-fade:hover .proc span { width: 170px; opacity: 0.99; }

.table .action {
    text-align: center;
    width: 40px; padding: 5px 20px;
    transition: all 0.3s ease-in-out; -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out;
}
.table .action a {
    color: #fff; text-shadow: 2px 2px 5px rgba(0,0,0,0.8);
    display: block;
    transition: all 0.3s ease-in-out; -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out;
}
.table .action:hover { background-color: #fff!important; }
.table .action:hover a { color: #000; text-shadow: none; }

.table .faded { color: #aaa; }

.page-herbicides    .bg-main { background: #E31E25; }
.page-herbicides    .bg-light { background: #E31E251A; }
.page-herbicides    .bg-light h4,
.page-herbicides    .bg-light.rate.active,
.page-herbicides    .bg-light.rate:hover { background: #E31E2533; }
.page-insecticides  .table .bg-main { background: #01A0E2; }
.page-insecticides    .bg-light { background: #01A0E21A; }
.page-insecticides    .bg-light h4,
.page-insecticides    .bg-light.rate.active,
.page-insecticides    .bg-light.rate:hover { background: #01A0E233; }
.page-desiccants    .table .bg-main { background: #F29313; }
.page-desiccants    .bg-light { background: #F293131A; }
.page-desiccants    .bg-light h4,
.page-desiccants    .bg-light.rate.active,
.page-desiccants    .bg-light.rate:hover { background: #F2931333; }
.page-fungicides    .table .bg-main { background: #60497F; }
.page-fungicides    .bg-light { background: #60497F1A; }
.page-fungicides    .bg-light h4,
.page-fungicides    .bg-light.rate.active,
.page-fungicides    .bg-light.rate:hover { background: #60497F33; }
.page-disinfectants    .table .bg-main { background: #A32275; }
.page-disinfectants    .bg-light { background: #A322751A; }
.page-disinfectants    .bg-light h4,
.page-disinfectants    .bg-light.rate.active,
.page-disinfectants    .bg-light.rate:hover { background: #A3227533; }
.page-surfactants      .table .bg-main { background: #9CC328; }
.page-mineral-fertilizers .table .bg-main { background: #089244; }
.page-mineral-fertilizers    .bg-light { background: #0892441A; }
.page-mineral-fertilizers    .bg-light h4,
.page-mineral-fertilizers    .bg-light.rate.active,
.page-mineral-fertilizers    .bg-light.rate:hover { background: #08924433; }
.page-mixes    .table .bg-main { background: #334E91; }
.page-mixes    .bg-light { background: #334E911A; }
.page-mixes    .bg-light h4,
.page-mixes    .bg-light.rate.active,
.page-mixes    .bg-light.rate:hover { background: #334E9133; }



/* рекомендации */
.shop-product-recommendations .view-header {
    background: #fff; border-radius: 4px;
    padding: 10px 20px; margin: 0 0 5px 0;
}
.product.teaser.tgrid.recomendation .photo {
    height: 170px;
    overflow: hidden;
}

/* справочники */
.search-all .teaser { margin-right: 0; }
.odd .handbook.teaser { margin-right: 0; }
.search_content-item.even .handbook.teaser { margin-right: 0; }
.handbook.teaser .img-wrap { height: 150px; width: 150px; }
.handbook.full { font-size: 13px; }

    /* список категорий справочника Агродокументы */
.agrodocuments {
    background: #fff;
    border-radius: 4px;
    padding: 20px; margin-bottom: 10px;
}
.agrodocuments .grid-row .field-content a {
    border: 2px solid #2b8aff;
    display:block;
    margin: 0 15px;
    font-weight: 500; line-height: 32px; text-decoration:none;
    height:38px; width:initial;
    transition: all 0.3s ease-in-out; -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out;
}
.agrodocuments .grid-row .field-content a:hover {
    color:#fff;
    background-color: #2b8aff;
}



.search .view-empty,
.search-all .view-empty { padding: 20px; }


.view-filters {
    background: #fff; border-radius: 4px;
    padding: 20px; margin-bottom: 10px;
}
.views-exposed-form .views-exposed-widget .form-submit { margin-top: 19px; }

    /* агродокументы */

.agrodocument .field-name-field-doc-pub-date,
.agrodocument .field-name-field-doc-chg-date { color: #bbb; }
.agrodocument .field-name-field-doc-link { float: right; }

.agrodocument.teaser .field-name-field-doc-pub-date,
.agrodocument.teaser .field-name-field-doc-chg-date { float: left; padding-right: 30px; }
.agrodocument.teaser .field-read-more { float: right; }
.agrodocument.teaser h2 a { color: #000; text-decoration: none; }
.agrodocument.teaser h2 a:hover { text-shadow: 1px 1px 10px rgba(0,0,0,0.4); }

.agrodocument.full .field-name-field-doc-pub-date,
.agrodocument.full .field-name-field-doc-chg-date { padding: 0 70px; }
.agrodocument.full .field-name-field-doc-pub-date { padding-top: 40px; }
.agrodocument.full .text-wrap p { margin:0; }
.agrodocument.full .field-name-body { padding: 40px 70px; }
.agrodocument.full .field-name-body ul { list-style: none; }

  /* вкладки */
div.horizontal-tabs { border: none; margin: 0; }
.horizontal-tabs ul.horizontal-tabs-list { background-color: #2b8aff; border: none; }
.page-herbicides    .horizontal-tabs ul.horizontal-tabs-list { background-color: #E31E25; }
.page-insecticides  .horizontal-tabs ul.horizontal-tabs-list { background-color: #01A0E2; }
.page-desiccants    .horizontal-tabs ul.horizontal-tabs-list { background-color: #F29313; }
.page-fungicides    .horizontal-tabs ul.horizontal-tabs-list { background-color: #60497F; }
.page-disinfectants .horizontal-tabs ul.horizontal-tabs-list { background-color: #A32275; }
.page-surfactants   .horizontal-tabs ul.horizontal-tabs-list { background-color: #9CC328; }
.page-mineral-fertilizers .horizontal-tabs ul.horizontal-tabs-list { background-color: #089244; }
.page-mixes         .horizontal-tabs ul.horizontal-tabs-list { background-color: #334E91; }
.horizontal-tabs ul.horizontal-tabs-list li { background: #2b8aff; border-right: 2px solid #fff; padding: 0; }
.page-herbicides    ul.horizontal-tabs-list li { background: #E31E25; }
.page-insecticides  ul.horizontal-tabs-list li { background: #01A0E2; }
.page-desiccants    ul.horizontal-tabs-list li { background: #F29313; }
.page-fungicides    ul.horizontal-tabs-list li { background: #60497F; }
.page-disinfectants ul.horizontal-tabs-list li { background: #A32275; }
.page-surfactants   ul.horizontal-tabs-list li { background: #9CC328; }
.page-mineral-fertilizers ul.horizontal-tabs-list li { background: #089244; }
.page-mixes         ul.horizontal-tabs-list li { background: #334E91; }
.horizontal-tabs ul.horizontal-tabs-list li.selected { padding: 0; }
.horizontal-tabs ul.horizontal-tabs-list li.selected a { padding:9px 15px; }
.horizontal-tabs ul.horizontal-tabs-list li.selected a:hover { background: #fff; }
.horizontal-tabs ul.horizontal-tabs-list li a { color: #fff; font-size: 12px; padding: 9px 15px; }
.horizontal-tabs ul.horizontal-tabs-list li a strong{ font-weight: 400; }
.horizontal-tabs ul.horizontal-tabs-list li a:hover { background: #2176de; }
.horizontal-tabs ul.horizontal-tabs-list li a:hover strong { color: #fff; }
.page-herbicides    .horizontal-tabs ul.horizontal-tabs-list li a:hover { background: #BD1E25; }
.page-insecticides  .horizontal-tabs ul.horizontal-tabs-list li a:hover { background: #0184bb; }
.page-desiccants    .horizontal-tabs ul.horizontal-tabs-list li a:hover { background: #cb7c13; }
.page-fungicides    .horizontal-tabs ul.horizontal-tabs-list li a:hover { background: #3f3054; }
.page-disinfectants .horizontal-tabs ul.horizontal-tabs-list li a:hover { background: #7b2258; }
.page-surfactants   .horizontal-tabs ul.horizontal-tabs-list li a:hover { background: #87a824; }
.page-mineral-fertilizers .horizontal-tabs ul.horizontal-tabs-list li a:hover { background: #089244; }
.page-mixes         .horizontal-tabs ul.horizontal-tabs-list li a:hover { background: #20315a; }
.horizontal-tabs ul.horizontal-tabs-list li:hover,
.horizontal-tabs ul.horizontal-tabs-list li:focus { background-color: #fff; }
.horizontal-tabs fieldset.horizontal-tabs-pane { padding: 30px; }
.horizontal-tabs fieldset.group-main-cltrs,
.horizontal-tabs fieldset.group-hrmf-obj { padding: 10px 10px 0 10px; }
.horizontal-tabs fieldset.group-main-cltrs .field-item,
.horizontal-tabs fieldset.group-hrmf-obj .field-item { padding: 0 10px 10px 0; }
.horizontal-tabs fieldset.group-main-cltrs .field-item.odd,
.horizontal-tabs fieldset.group-hrmf-obj .field-item.odd { padding-right: 0; }

.horizontal-tabs .table-wrap { padding: 0 100px 40px 100px; }
.horizontal-tabs .table-wrap span { text-align: center; display: block; font-size: 22px; line-height: 24px; margin-bottom: 10px; }
.horizontal-tabs .table-wrap td { padding: 5px 10px; }



/* тип контента page */
.node-page {
    background:#fff; border-radius: 4px;
    margin-bottom: 10px;
    min-height: 250px;
}
.page-node-421 .node-page { padding: 30px; }
.page-node-460 .node-page { background:none; min-height: 0; }


/* entityform types */

/*div[id^="edit-field-eft-text-"],*/
/*div[id^="edit-field-eft-cb-"] { margin-bottom: 10px; }*/
/*div[id^="edit-field-eft-cb-"] .form-type-radios>label,*/
/*div[id^="edit-field-eft-text-"] .form-type-textarea>label,*/
/*div[id^="edit-field-eft-cb-"] .form-type-checkboxes>label { color:#2b8aff; font-size: 20px; line-height: 24px; font-weight: 100; margin-bottom: 15px; }*/
/*div[id^="edit-field-eft-text-"] .form-textarea-wrapper { margin: 0 30px 40px 20px; }*/
/*div[id^="edit-field-eft-cb-"] .form-item { margin: 0 0 5px 10px; }*/
/*div[id^="edit-field-eft-cb-"] .option { font-size: 14px; line-height: 18px; font-weight: 100; padding-left: 5px; }*/
    /*!* опросы - surveys*!*/
/*div[id^="edit-field-eft-txt-"] { margin: 0 30px 40px 20px; }*/
/*div[id^="edit-field-eft-txt-"] .form-type-textarea>label { color:#5A5A5A; font-size: 14px; line-height: 24px; font-weight: 100; margin: 0 0 0 23px; }*/


  /* опросный лист */
/*.entitytype-eft_order_list-form .form-type-radios>label,*/
/*.entitytype-eft_order_list-form .form-type-checkboxes>label,*/
/*.entitytype-eft_order_list-form .form-type-textarea>label,*/
/*.entitytype-eft_order_list-form .form-type-textfield>label,*/
/*.entitytype-eft_order_list-form h3{ font-size: 12px; line-height: 18px; margin: 0; }*/
/*.entitytype-eft_order_list-form .group-a label,*/
/*.form-type-textarea.form-item-field-toll-customer-materials-und-0-value>label { margin-bottom: 5px; }*/
/*.entitytype-eft_order_list-form label.option { font-size: 12px; line-height: 14px;  margin: 0;}*/
/*.field-name-field-toll-name { float:left; width:65%; padding-right:15px; }*/
/*.field-name-field-toll-volume { float:left; width:15%; padding-right:15px; }*/
/*.field-name-field-toll-date { float:left; width:20%; }*/
/*.field-name-field-toll-target, .field-group-div { margin-bottom:20px; }*/
/*#edit-field-toll-target-und>div { float:left; margin-right:20px; }*/
/*.form-item-field-toll-customer-pack-und>label, .form-item-field-toll-works-und>label{ display:none; }*/
/*.entitytype-eft_order_list-form .group-b { float:left; width:50%; padding:0 20px 0 0;}*/
/*.entitytype-eft_order_list-form .group-c { float:left; width:50%; height:550px; padding:0 0 0 20px;}*/
/*.entitytype-eft_order_list-form .group-d { float:left; width:100%; }*/
/*.entitytype-eft_order_list-form .form-radios { margin-bottom:10px; }*/
/*.entitytype-eft_order_list-form .form-radios>div { padding:0 0 0 10px; }*/
/*.entitytype-eft_order_list-form .form-checkboxes  { margin-bottom:10px; }*/
/*.entitytype-eft_order_list-form .form-checkboxes>div { padding:0 0 0 10px; }*/
/*.entitytype-eft_order_list-form #edit-field-toll-works-und>div { float:left; width:50%; }*/
/*.entitytype-eft_order_list-form .form-actions { float:left; width:100%; }*/

/*.form-type-textarea.form-item-field-toll-name-und-0-value>label,*/
/*.form-type-textfield.form-item-field-toll-date-und-0-value>label,*/
/*.form-type-textfield.form-item-field-toll-volume-und-0-value>label,*/
/*.form-type-textarea.form-item-field-toll-customer-materials-und-0-value>label,*/
/*.field-group-div h3,*/
/*.form-type-radios.form-item-field-toll-target-und>label { color:#000; background-color:#eee; padding:2px 15px; }  */

/*.field-name-field-toll-customer-materials { float:left; width:100%; margin-bottom:15px; }*/



/* user, пользователь */
.action-links { float: right; list-style: none; }
#user-login,
#user-register-form,
#user-pass-reset,
#user-pass{ padding:20px 20px 20px 250px; background:#fff; }
.toboggan-unified .form-item-name,
.toboggan-unified .form-item-mail,
.toboggan-unified .form-item-pass { margin-bottom:20px; }
.toboggan-unified .form-item .description { font-size: 10px; line-height: 12px; font-weight: 100;; margin: 5px 0 0 2px; }
.toboggan-unified {
    background-color: #fff; border-radius: 4px;
    margin-bottom: 10px; padding: 20px;
    font-size: 12px; line-height: 14px;
}
.toboggan-unified #login-message { display:none; }
.toboggan-unified #login-links { background:#fff; text-align:left; padding-left:250px; }
.toboggan-unified #login-links a {
    border: none; background:#fff;
    font-size: 14px; line-height: 16px;
    text-decoration:none;
    padding: 10px 20px;
}
.toboggan-unified #login-links a:hover { background: #2176de; border:none; color:#fff; }
.toboggan-unified #login-links a.lt-active { border: none; background:#2176de; color:#fff; }
.toboggan-unified #login-links a.lt-active:hover { background: #2176de; border:none; }

.toboggan-unified .form-item label{ display: block; font-size: 12px; line-height: 14px; font-weight: 500; color: #000; padding-bottom: 5px; }
.toboggan-unified label.option{ font-size: 12px; line-height: 14px; padding-bottom: 0; }
.toboggan-unified #edit-field-user-type { margin-bottom: 20px; }
.toboggan-unified .form-type-radio{ float:left; width:200px; }
.toboggan-unified div.form-item div.password-suggestions{ padding: 0.6em 0.5em; }
.toboggan-unified .password-suggestions li{ height: 12px; }
.toboggan-unified div.password-confirm{ width: 18.3em; }

/* captcha капча */
.captcha { margin-bottom:25px; }
.captcha .field-prefix{ margin-right:15px; }


/* node */
.node-form,
.preview {
    background:#fff; border-radius: 4px;
    padding: 20px; margin-bottom: 10px;
}
.node-form label { display: block; }
.node-form table th,
.node-form table td { padding: 8px 10px; }
.node-form .form-type-radio label,
.node-form .form-type-checkbox label { display: inline; }
.node-form .horizontal-tabs { border: 1px solid #ccc; }
.node-form div.vertical-tabs .vertical-tabs-panes {
    /*margin: 0 0 0 265px;*/
    padding: 10px 15px 10px 0;
}

    /* настройки по формам */
.node-form .ief-entity-table,
.node-form .field-group-htabs-wrapper,
.node-form div>.form-field-type-text-long,
.node-form div>.form-field-type-list-text,
.node-form div>.form-field-type-text,
.node-form div>.form-item { margin-bottom: 15px; }

.node-form .ief-entity-operations input {
    background: none;
    color: #2b8aff; font-size: 12px; line-height: 16px;
    padding: 0;
}
.node-form .field-name-field-pd-ai-active-ingredient { float: left; width: 65%; margin-bottom: 10px; }
.node-form .field-name-field-pd-ai-concentration { float: left; width: 35%; margin-bottom: 10px; }
.node-form .form-field-name-field-pd-formulation .chosen-container-single { width: 400px!important; }
.field-name-field-pd-ai-active-ingredient .chosen-container-single { width: 90%!important; }


/* список заказов */
.view.commerce-orders .form-item-order-identifier label{ display:inline; margin-right:5px; }
.view.commerce-orders #commerce-order-ui-redirect-form .form-submit{ margin: -2px 0 15px 0; }
.page-admin .view th { font-size: 12px; line-height: 14px; font-weight: 500; padding: 8px; text-align:center; }
.page-admin .view td { font-size: 12px; line-height: 14px; padding: 2px 10px; }
.page-admin .view tr:hover td{ background:#eee; }
.page-admin .view ul.operations{ list-style: none; padding:0; }
.page-admin .view ul.operations li{ font-size: 11px; line-height: 12px; font-weight: 100;  display: inline-block; margin-right:5px; }
.page-admin .view .active img { margin:0 0 1px 3px; }
.page-admin .view .views-table { margin-bottom:10px; }
.view.commerce-orders th.views-field-operations{ width:200px; }
.view.commerce-orders th.views-field-status{ width:130px; }
.view.commerce-orders th.views-field-order-number{ width:90px; }

/* информация о заказе */
.field-name-commerce-order-total .commerce-price-formatted-components {
    border: none;
    margin-top: 10px;
    width: 100%;
}
.commerce-price-formatted-components td { border: none; padding: 4px 8px;  }
.commerce-price-formatted-components tr.component-type-commerce-price-formatted-amount {  }
.commerce-price-formatted-components .component-total { color:#2b8aff; width: 200px; }
.commerce-price-formatted-components .component-title { text-align: right; }


/* стили для сотрудников в админке */
.page-admin #main-content,
.page-taxonomy-term-edit #main-content {
    background: #fff; border-radius: 4px;
    padding: 20px;
    width: 1003px;
}
.page-admin .vertical-tabs ul.vertical-tabs-list .summary { font-size: 11px; }
.page-admin .vertical-tabs fieldset.vertical-tabs-pane { padding: 10px 15px 15px 15px; }
.page-admin .admin-list dd { border-bottom: 1px solid #eee; font-size:11px; margin: 0; padding: 3px 0 7px 5px; }
.page-admin .admin-list dt { padding-top: 3px; }
.tabs.secondary {
    text-align: right; list-style: none;
    margin-bottom: 10px; padding: 6px;
}
.tabs.secondary li { display: inline; padding: 0 10px; }

.page-admin table { font-size: 12px; }


    /* программы защиты */
/* устарело */
table.prot-program { border:0; text-align:center; table-layout:fixed; }
table.prot-program > tbody { background:none; }
table.prot-program { background-image: url('../images/backgrounds/grain_bg.jpg'); }
table.prot-program th { white-space:nowrap; position:relative; height: 130px; }
table.prot-program th p { -webkit-transform: rotate(-90deg); -moz-transform: rotate(-90deg); -ms-transform: rotate(-90deg); -o-transform: rotate(-90deg); transform: rotate(-90deg); }
.information.full .prot-program th p { font-size: 12px; line-height: 14px; position: absolute; bottom: 8px; left: 5px; margin: 0; padding: 0; width: 0px; height: 0px;}
table.prot-program > tbody > tr > th { border: 0; border-right:1px solid #ddd; border-bottom: 6px solid #fff; line-height:initial; }
table.prot-program > tbody > tr > td {
    background:none;
    border:0; border-top:1px solid #fff;
    border-right: 1px solid #fff; color:#fff;
    font-size: 12px; line-height: 14px; text-shadow: 2px 2px 5px rgba(0,0,0,0.8); text-align: center;
    height: 38px; padding: 2px 6px;
}
table.prot-program > tbody > tr > td.bgpurple { background-color:#2b8aff; }
table.prot-program > tbody > tr > td.bgred { background-color:#de242a; }
table.prot-program > tbody > tr > td.bggreen { background-color:#40ae1a; }
table.prot-program > tbody > tr > td.bglilac { background-color:#433185; }
table.prot-program > tbody > tr > td.bgpurple:hover { background-color:#097AB7; }
table.prot-program > tbody > tr > td.bggreen:hover { background-color:#379A16; }
table.prot-program > tbody > tr > td.bgred:hover { background-color:#D24900; }
table.prot-program > tbody > tr > td.bglilac:hover { background-color:#2C205A; }
table.prot-program > tbody > tr > td a { color:#fff; display:inline-block; }
table.prot-program .title { font-size: 14px; line-height: 16px; text-align: left; padding: 0 0 0 20px; }

/* иконки */
span.icons { display: block; width: 35px; height: 35px; line-height: 35px; position: relative; background: url(../images/icons/icons.png) 0 0 no-repeat; }
span.icons.dnld { background-position: -266px -265px;; }

/* autocomplete */
#autocomplete { border: 1px solid #aaa; }
#autocomplete ul { background: #fff; }
#autocomplete li { border-bottom: 1px solid #ddd; font-size: 12px; line-height: 14px; padding: 4px 8px; }
#autocomplete li .highlight{ color:#2b8aff; }
#autocomplete li .parents{ color:#aaa; font-size: 11px; line-height: 14px; }
#autocomplete li:hover{ background: #ddd; }
input.kladr-error { color:#2b8aff; }
input.kladr-error:focus { color:#2b8aff; }




.fleft   { float: left; }
.fright { float: right; }
.tleft   { text-align:left; }
.tright { text-align:right; }
.tcenter { text-align:center; }
.hide { display:none; }
.ctext { color: #404040; }
.cwhite { color: #FFF; }
.cyellow { color: #FFBE60; }
.cred { color: #de242a; }
.cgreen { color:#40ae1a; }
.cblue { color: #2b8aff; }
.cblack { color:#000; }
.cpurple { color:#7504FF; }
.cgray { color:#bbb; }
.bgpurple { background-color:#7504FF; }
.bgred { background-color:#E84F00; }
.bggreen { background-color:#40ae1a; }
.bglilac { background-color:#433185; }
.semibold { font-weight: 500; }
.caps { text-transform: uppercase; }
.pos-rel { position: relative; }
.mb10 { margin-bottom:10px; }
.mb12 { margin-bottom:12px; }
.mb20 { margin-bottom:20px!important; }
.mb30 { margin-bottom:30px!important; }
.mt10 { margin-top:10px; }
.mt20 { margin-top:20px; }
.mt30 { margin-top:30px; }
.mr10 { margin-right:10px; }
.mr20 { margin-right:20px; }
.mr30 { margin-right:30px; }
.ml10 { margin-left:10px; }
.ml20 { margin-left:20px; }
.ml30 { margin-left:30px; }
.pl10 { padding-left: 10px; }
.pl30 { padding-left: 30px; }
.pr10 { padding-right: 10px; }
.pr30 { padding-right: 30px; }
.pt10 { padding-top: 10px; }
.lh15 { line-height: 15px; }
.fs15 { font-size: 15px; }
.fs36 { font-size: 36px; }



/* Throbber */
.ajax-progress,
.form-managed-file div.ajax-progress, .form-managed-file div.throbber {
    border-radius: 6px;
    display: inline-block;
    position: fixed; left: 45%; top: 40%;
    height: 100px; width: 100px;
    padding: 0;
    z-index:1000;
}
.ajax-progress .throbber {
    background: transparent url('../images/icons/ajax-loader.gif') no-repeat center center;
    background-size: 100px;
    float: none;
    height: 100px;
    margin: 0;
    width: 100px;
}
.ajax-progress .message {
    padding-left: 20px;
}
tr .ajax-progress .throbber {
    margin: 0 2px;
}
.ajax-progress-bar {
    width: 16em;
}

/* простая таблица */
table.simple { border: 1px solid rgba(0, 0, 0, 0.1); }
table.simple > tbody > tr > th { border: 1px solid rgba(0, 0, 0, 0.1); line-height:40px; }
table.simple > tbody > tr > td { border: 1px solid rgba(0, 0, 0, 0.1); line-height:15px; padding: 5px 12px; }
table.simple > tbody > tr:hover > td{ background-color: #fff; }
table.simple > tbody > tr:nth-child(2n) > td{ background-color: #fff; }
table.simple > tbody > tr.cgrey > td{ background-color: #eee; }

table.noborder,
table.noborder > tbody > tr > th,
table.noborder > tbody > tr > td { border: none; }

table.border > tbody > tr > th,
table.border > tbody > tr > td { border: 1px solid rgba(0, 0, 0, 1); }

table.stripe { border: none; }
table.stripe tr th { background-color: #fff; border: none; }
table.stripe tr td { background-color: #eee; border: none; border-bottom: 2px solid #fff; padding: 7px 12px; }
table.stripe tr:hover td { background-color: #ddd; }






/* Встроенный в текст блок с картинкой, комп+пад - 50%, смарт - 100% */
[class*="embed-"] {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 10px;
    overflow: hidden;
}
.embed-40 {
    width: 40%;
}

/* отзывы */
.reviews-item { margin-bottom:10px; }
.review .text-wrap h2 { margin-top: 0; }
.review.teaser { padding: 20px; }
.review.full { padding: 20px; }

/* blogs - блоги */
.form-item-field-tags-und .hierarchical-select-wrapper .hierarchical-select .create-new-item-input { width: 100%; }
.form-item-field-tags-und .hierarchical-select-wrapper .hierarchical-select input[type="submit"].create-new-item-create,
.form-item-field-tags-und .hierarchical-select-wrapper .hierarchical-select input[type="submit"].create-new-item-cancel,
.hierarchical-select-wrapper .hierarchical-select input[type="submit"].add-to-dropbox,
input[name="field_promo_image_und_0_upload_button"] {
    background: none; border: none;
    color: #2b8aff; font-size: 13px; line-height: 16px; text-align: left;
    padding: 6px 0;  margin-left: 10px;
}
.form-item-field-tags-und .hierarchical-select-wrapper .hierarchical-select input[type="submit"].create-new-item-cancel:hover,
.form-item-field-tags-und .hierarchical-select-wrapper .hierarchical-select input[type="submit"].create-new-item-create:hover,
.hierarchical-select-wrapper .hierarchical-select input[type="submit"].add-to-dropbox:hover,
input[name="field_promo_image_und_0_upload_button"]:hover {
    background: none;
    color: #2b8aff; text-decoration: underline;
}
.form-field-name-field-promo-image .form-managed-file input[name="field_promo_image_und_0_upload_button"].form-submit { margin: 0 0 10px 10px; }

.form-item-field-tags-und .selects { width: 315px; }
.form-item-field-tags-und .hierarchical-select-wrapper .hierarchical-select .create-new-item {
    padding: 0;
    border: 0;
    width: 388px;
}
.form-item-field-tags-und .dropbox { width: 388px; }
.form-item-field-tags-und .dropbox-selected-item { font-weight: 400; }
.form-item-field-tags-und .dropbox-remove { width: 75px; }
.form-item-field-tags-und .dropbox table { border: none; width: 100%; }
.form-item-field-tags-und .dropbox td { border: none; background: #eee; padding: 5px 15px; }


    /* добавление записи*/
.node-blog-form .group-1 { overflow: initial; padding-right: 20px; }
.node-blog-form .chosen-container { width: 100% !important; }

.blog.full {
    padding: 20px;
    margin-top: 10px;
}

  /* вывод записей + для отзывов*/
.post-info {
    color: #808080; font-size: 13px; font-weight: 100;
    margin-bottom: 15px;
}
.post-info a { color: #2b8aff; }
.post-info>div { display: inline-block; padding: 0 20px 2px 0; }

.blog-tags-list {
    border-top: 1px solid #ddd;
    margin-top: 20px; padding-top: 15px;
}
.blog-tags-list a { opacity: .5; }
.blog-tags-list a:hover { opacity: 1; }

/*.author { padding: 15px; }*/
/*.author.full .img-wrap { margin-bottom: 0; width: 130px; }*/
/*.author.full .text-wrap { float:left; padding: 0; }*/
/*.author.full .name { font-size: 20px; margin-top: 5px; height: 25px; }*/
/*.author.full .name a { color: #000; }*/
/*.author.full .post { color: #5A5A5A; font-size: 13px; margin-top: 5px; height: 20px;}*/
/*.author.full .company { color: #000; font-size: 14px; height: 25px;}*/
/*.author.full .date-wrap { float: right; font-size: 18px; font-weight: 100; padding: 15px; }*/
/*.author.full .date-wrap span { display: block; text-align: center; }*/
/*.author.full .date-wrap .year { font-size: 25px; line-height: 30px; }*/

/* болезни */
.fungi.full { padding: 30px; }
.fungi.full .img-wrap {
    width: 350px;
}
.fungi.full .info-wrap {
    float: left;
    font-size: 14px;
    width: 550px;
}
.fungi.full .info-wrap .field {
    margin-bottom: 10px;
}
.fungi.full .info-wrap .field-label {
    width: 185px;
    padding-right: 10px;
}
.fungi.full .info-wrap .field-items {
    width: 365px;
}
.fungi.full .info-wrap .summary {
    text-align: justify;
    margin-top: 20px; padding: 0;
}
.fungi.full .info-wrap .field-name-field-fungi-preparations .field-item {
    margin-bottom: 5px;
}
.fungi.full .info-wrap .field-name-field-fungi-preparations .p-img {
    float: left;
    width: 70px;
}
.fungi.full .info-wrap .field-name-field-fungi-preparations .p-title {
    float: left;
    font-size: 15px; line-height: 22px;
    margin-top: 5px;
    width: 275px;
}
.fungi.full .info-wrap .field-name-field-fungi-preparations .p-ingr {
    float: left;
    font-size: 12px; line-height: 14px; color: #aaa;
    font-style: italic;
    width: 275px;
}
.fungi.full .text-wrap p {
    font-size: 14px; line-height: 19px;
    margin: 0 0 5px 0;
}
.fungi.full .text-wrap {
    float: left;
    padding: 10px 0 0 0;
    width: 100%;
}
.fungi.full .text-wrap .field-name-field-fungi-sources {
    margin-top: 15px;
}
.fungi.full .text-wrap .field-name-field-fungi-sources .field-label {
    font-size: 18px; line-height: 24px; font-weight: 500; margin: 25px 0 12px 0;
}




/* ui-dialog */
.ui-dialog { padding: 0; }
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br { border-bottom-right-radius: 0; }
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl { border-bottom-left-radius: 0; }
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr { border-top-right-radius: 0; }
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl { border-top-left-radius: 0; }
.ui-widget-content { border: none; }
.ui-dialog .ui-dialog-titlebar {
    background: #2b8aff; border: none;
    color: #fff; font-size: 20px; line-height: 24px;
    padding: 7px 70px 7px 20px;
}
.ui-dialog .ui-dialog-titlebar-close {
    background: none; border: none;
    top: 10px; right: 20px; z-index: 10;
    cursor: pointer;
}
.ui-dialog .ui-dialog-content { padding: 20px; }
.ui-state-default .ui-icon {
    background: url(../images/icons/btn-close-w.png);
    width: 25px; height: 25px;
    margin-top: -2px;
}
.ui-widget-content { line-height: 22px; }
.ui-widget-content a { color: #2b8aff; }

.atc-confirmation-dialog .text { margin-bottom: 15px; }
.atc-confirmation-dialog .text span {
    background: #eee;
    display: block;
    margin: 0 0 10px 0; padding: 5px 15px;
}
.atc-confirmation-dialog .links { text-align: right; }
.atc-confirmation-dialog .links a:last-child { margin-left: 15px; }
.ui-widget-overlay { background: #000; opacity: .6; }

/* прочие страницы */
.page-yamoney #content-container {
    border-radius: 4px;
    line-height: 24px;
    padding: 30px; margin: 0 10px 10px;
    min-height: 300px;
}

#test_form { background: #fff; padding: 20px; }

#field-collection-item-form { background: #fff; padding: 20px; }
.node-type-harmful-objects .full .img-wrap { max-width: 450px; }