// подключаем миксины и переменные темы
@import "../../../../themes/ya/css/_include";

.representatives {
  position: relative;
  .section-title {
    border-bottom: 1px solid #ddd;
    margin-bottom: 15px;
    h3 {
      font-weight: 400;
      i {
        color: #b3b3b3;
        font-size: .7em;
      }
    }
    p {
      color: #b3b3b3;
      margin-top: -5px;
    }
  }
  .media:first-child { margin-top: $grid-gutter-width/2; }
}

.map {
  position: relative;
  /*overflow: hidden; не видно часть всплывающих окон*/
  > img {
    margin-left: -15px;
    z-index: 0;
  }
}


//.rep-box .header,
//.rep .header {
//  background: #3A9027;
//  border-top-left-radius: 4px; border-top-right-radius: 4px;
//  padding: 5px 15px;
//  width: 100%;
//  color: #fff; font-size: 16px; line-height: 28px;
//}
//.rep .header .icon  {
//  margin-right: 10px;
//  width: 30px;
//}
//.rep .contact-card {
//  padding: 20px;
//}


.last-box {
  color: #fff; font-size: 15px;
  background: #3A9027;
  a {
    color: #fff;
    position: absolute;
    bottom: 30px; right: 50px;
    text-decoration: underline;
  }
  a.mail { left: 30px; }
  i {
     font-size: 12px;
     position: absolute; top: 5px; right: -20px;
  }
  .last-item {
    position: relative;
    padding: 30px;
    height: 200px;
  }
  @media only screen and (min-width : 0) and (max-width : 768px) {
    .last-item {
      padding: 15px 30px;
      height: 110px;
    }
  }
}



@media only screen and (min-width : 0) and (max-width : 1440px) {
  .map > img { height: initial; width: 100%; }
  .rep { display: none; }
}


#RU-KRM,
#RU-SV { transform: scale(0.3); }

.map .mapsvg-tooltip {
  font-size: 1em;
  padding: 10px 15px;
  h4 {
    border-bottom: 1px solid #ddd;
    margin: 0 0 10px 0;
    padding-bottom: 4px;
  }
  p { margin-bottom: 4px; }
  span {
    color: $text-muted; font-size: $font-size-small;
  }
}
