.representatives {
    position: relative;
}

.rep-title {
    border-bottom: 1px solid #ddd;
    margin-bottom: 15px;
}
.rep-title h3 {
    font-weight: 400;
}

.map {
    position: relative;
    /*overflow: hidden; не видно часть всплывающих окон*/
}
.map > img {
    margin-left: -15px;
    z-index: 0;
}
.map-title {
    border-bottom: 1px solid #ddd;
}
.map-title h3 {
    font-weight: 400;
}
.map-title h3 i {
    color: #b3b3b3;
    font-size: .7em;
}
.map-title p {
    color: #b3b3b3;
    margin-top: -5px;
}


.rep {
    position: absolute;
    width: 30px;
}
.rep.altai          { top: 431px; left: 417px; height: 75px; }
.rep.amur           { top: 367px; left: 741px; height: 82px; }
.rep.bashkortostan  { top: 340px; left: 235px; height: 67px; }
.rep.belgorod       { top: 263px; left: 96px; height: 52px; }
.rep.vladimir       { top: 247px; left: 165px; height: 31px; width: 19px; }
.rep.voronezh       { top: 291px; left: 119px; height: 41px; width: 19px; }
.rep.ivanovo        { top: 246px; left: 182px; height: 35px; width: 15px; }
.rep.kaliningrad    { top: 139px; left: 71px; height: 58px; width: 26px; }
.rep.kirov          { top: 258px; left: 236px; height: 53px; width: 12px; }
.rep.kostroma       { top: 238px; left: 208px; height: 48px; width: 19px; }
.rep.krasnodar      { top: 312px; left: 55px; height: 58px; }
.rep.krasnoyarsk    { top: 350px; left: 510px; height: 58px; }
.rep.kursk          { top: 245px; left: 114px; height: 55px; width: 14px; }
.rep.lipetsk        { top: 264px; left: 126px; height: 51px; width: 20px; }
.rep.novosibirsk    { top: 394px; left: 392px; height: 58px; }
.rep.nnovgorod      { top: 259px; left: 195px; height: 26px; width: 16px; }
.rep.omsk           { top: 364px; left: 355px; height: 80px; }
.rep.orenburg       { top: 349px; left: 204px; height: 60px; }
.rep.penza          { top: 296px; left: 163px; height: 52px; width: 18px; }
.rep.perm           { top: 295px; left: 270px; height: 46px; }
.rep.mary-el        { top: 270px; left: 207px; height: 29px; width: 25px; }
.rep.mordoviya      { top: 280px; left: 176px; height: 46px; width: 18px; }
.rep.rostov         { top: 314px; left: 88px; height: 49px; }
.rep.stavropol      { top: 367px; left: 78px; height: 45px; }
.rep.tambov         { top: 279px; left: 145px; height: 52px; width: 18px; }
.rep.tatarstan { top: 299px; left: 212px; height: 42px; width: 25px; }
.rep.tyumen { top: 327px; left: 327px; height: 60px; }
.rep.udmurtia { top: 279px; left: 249px; height: 56px; width: 16px; }
.rep.ulyanovsk { top: 307px; left: 188px; height: 40px; width: 13px; }
.rep.chelyabinsk { top: 343px; left: 272px; height: 60px; }
.rep.chuvashiya { top: 285px; left: 198px; height: 41px; width: 16px; }
.rep.yaroslavl { top: 221px; left: 177px; height: 24px; width: 20px; }

.rep-box .header,
.rep .header {
    background: #3A9027;
    border-top-left-radius: 4px; border-top-right-radius: 4px;
    padding: 5px 15px;
    width: 100%;
    color: #fff; font-size: 16px; line-height: 28px;
}
.rep .header .icon  {
    margin-right: 10px;
    width: 30px;
}
.rep .contact-card {
    padding: 20px;
}



/* анимация */
.rep .popup-trigger-js {
    display: block;
    width: 100%; height: 100%;
    outline: none;
    text-indent: -9000px;
    text-decoration: none;
}
.rep .popup {
    width: 350px; height: auto;
    margin: 0 0 5px -40px;
    position: absolute; left: 15px; bottom: 130px;
    pointer-events: none; opacity: 0;
    -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; -ms-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out;
    z-index: 2;
}
.rep .popup-2x { margin-left: -75px; width: 700px; }
.rep .popup-2x .contact-card { width: 50%; float: left; }
.rep .popup-3x { margin-left: -110px; width: 1050px; }
.rep .popup-3x .contact-card { width: 33%; float: left; }
.rep.head .popup{ opacity: 1; }

.rep .popup.pop { opacity: 1; bottom: 50px; pointer-events: all; }

.rep .reg {
    background: 0 0 no-repeat;
    background-size: contain;
    opacity: 0;
    position: absolute;
    pointer-events: none;
    -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; -ms-transition: all 0.3s ease-in-out;
    max-width: inherit;
}
.rep .popup-trigger-js:hover .reg{ opacity: .7; }
.rep .popup-trigger-js.selected .reg{ opacity: 1; }


.reg.altai          { top: 6px; left: -32px; }
.reg.RU-AMU           { top: 4px; left: -53px; }
.reg.bashkortostan  { top: -1px; left: -15px; }
.reg.RU-BEL       { top: 27px; left: -11px; }
.reg.vladimir       { top: 15px; left: -2px; }
.reg.voronezh       { top: 14px; left: -9px; }
.reg.RU-IVA        { top: 22px; left: -7px; }
.reg.kaliningrad    { top: 21px; left: -2px; }
.reg.kirov          { top: 6px; left: -26px; }
.reg.kostroma       { top: 18px; left: -21px; }
.reg.RU-KDA      { top: 28px; left: -21px; }
.reg.krasnoyarsk    { top: -191px; left: -54px; }
.reg.kursk          { top: 1px; left: -50px; }
.reg.lipetsk        { top: 24px; left: -5px; }
.reg.novosibirsk    { top: 0; left: -21px; }
.reg.nnovgorod      { top: 25px; left: -27px; }
.reg.omsk           { top: 6px; left: -29px; }
.reg.orenburg       { top: 1px; left: -16px; }
.reg.penza          { top: 16px; left: -6px; }
.reg.perm           { top: -9px; left: -22px; }
.reg.mary-el        { top: 27px; left: -6px; }
.reg.mordoviya      { top: 23px; left: -15px; }
.reg.tatarstan      { top: 16px; left: -14px; }
.reg.rostov         { top: 20px; left: -16px; }
.reg.stavropol      { top: 1px; left: -21px; }
.reg.tambov         { top: 23px; left: -13px; }
.reg.tyumen         { top: -134px; left: -39px; }
.reg.udmurtia       { top: 35px; left: -18px; }
.reg.ulyanovsk      { top: 16px; left: -13px; }
.reg.RU-CHE    { top: 14px; left: -26px; }
.reg.chuvashiya     { top: 22px; left: -8px; }
.reg.yaroslavl      { top: 25px; left: -6px; }


.rep-box {
    border: 1px solid #eee; border-right: none; border-bottom: none;
    margin-top: 15px;
    height: 235px;
    position: relative; top: initial; left: initial;
}

.rep-box .media-heading {
    color: #3A9126; font-size: 16px;
}
.rep-box .media-heading img { width: 30px; }

.rep-box.user-card .phone a,
.rep-box.user-card .email a {
    float: none;
    width: initial;
}

.rep-box.last {
    color: #fff; font-size: 15px;
    background: #3A9027;
    border: none;
    padding: 30px;
}
.rep-box.last a i {
    font-size: 12px;
    position: absolute; top: 5px; right: -20px;
}
.rep-box.last a {
    color: #fff;
    position: absolute;
    bottom: 30px; right: 50px;
    text-decoration: underline;
}
.rep-box.last a.mail { left: 30px; }

.rep-item.contact-card { min-height: 150px; }

@media only screen and (min-width : 0) and (max-width : 1440px) {
    .map > img { height: initial; width: 100%; }
    .rep { display: none; }
}
@media only screen and (min-width : 0) and (max-width : 768px) {
    .rep-box.last {
        padding: 15px 30px;
        height: 110px;
    }
}