//@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,500,700');

// настройки цветов
.brand-green     { color: $brand-green; }
.brand-blue      { color: $brand-blue; }
.brand-red       { color: $brand-red; }
.brand-orange    { color: $brand-orange; }

.brand-green-bkg     { background-color: $brand-green; }
.brand-blue-bkg      { background-color: $brand-blue; }
.brand-red-bkg       { background-color: $brand-red; }
.brand-orange-bkg    { background-color: $brand-orange; }

// Drop shadows.
@mixin box-shadow($shadow) {
  -webkit-box-shadow: $shadow;
     -moz-box-shadow: $shadow;
          box-shadow: $shadow;
}

.field-name-commerce-price,
.price_field { visibility: hidden; }

* {
  outline: 0 !important;
}
html {
  height: 100%;
  &.overlay-open .navbar-fixed-top {
    z-index: 400;
  }
  &.js {
    // Collapsible fieldsets.
    fieldset.collapsed {
      border-left-width: 1px;
      border-right-width: 1px;
      height: auto;
    }
    // Throbbers.
    input.form-autocomplete { background-image: none; }

    // Autocomplete.
    input.form-autocomplete { background-image: none; }

    // Autocomplete (fallback throbber, no icon).
    .autocomplete-throbber {
      background-position: 100% 2px;
      background-repeat: no-repeat;
      display: inline-block;
      height: 15px;
      margin: 2px 0 0 2px;
      width: 15px;
    }
    .autocomplete-throbber.throbbing { background-position: 100% -18px; }
  }
}
body {
  height: 100%;
  overflow-y: scroll;
  // Fix horizontal scrolling on iOS devices.
  // http://drupal.org/node/1870076
  position: relative;
  &.admin-expanded.admin-vertical.admin-nw .navbar,
  &.admin-expanded.admin-vertical.admin-sw .navbar {
    margin-left: 260px;
  }
  // Add padding to body if various toolbar or navbars are fixed on top.
  &.navbar-is-fixed-top {
    padding-top: 64px;
  }
  &.navbar-is-fixed-bottom {
    padding-bottom: 64px !important;
  }
  &.toolbar {
    padding-top: 30px !important;
    .navbar-fixed-top {
      top: 30px;
    }
    &.navbar-is-fixed-top {
      padding-top: 94px !important;
    }
  }
  &.toolbar-drawer {
    padding-top: 64px !important;
    .navbar-fixed-top {
      top: 64px;
    }
    &.navbar-is-fixed-top {
      padding-top: 128px !important;
    }
  }
  // Admin_menu toolbar.
  &.admin-menu {
    .navbar-fixed-top {
      top: 29px;
    }
    &.navbar-is-fixed-top {
      padding-top: 93px !important;
    }
  }
  div#admin-toolbar {
    z-index: 1600;
  }
  // Override box-shadow styles on all "admin" menus.
  #toolbar, #admin-menu, #admin-toolbar {
    @include box-shadow(none);
  }
  // Override #admin-menu style.
  #admin-menu {
    margin: 0;
    padding: 0;
    position: fixed;
    z-index: 1600;
    .dropdown li {
      line-height: normal;
    }
  }
    .admin-menu-search label { display: none; }
}

// чтобы изображение препарата на планшете выравнивалось по центру
.img-responsive {
  margin: 0 auto;
}

strong, b, dt {
  font-weight: 500;
}

option:disabled { color: $text-muted; }
a, a:hover, a:focus {
  //@include transition(all 0.2s ease-in-out);
}

// Adjust z-index of core components.
#overlay-container,
.overlay-modal-background,
.overlay-element {
  z-index: 1500;
}
#toolbar {
  z-index: 1600;
}
// Adjust z-index of bootstrap modals
.modal {
  z-index: 1620;
}
.modal-dialog {
  z-index: 1630;
}
.ctools-modal-dialog .modal-body {
  width: 100% !important;
  overflow: auto;
}
.modal-backdrop {
  z-index: 1610;
}
.footer {
  background: #fff;
  box-shadow: 0 -10px 60px 20px rgba(0,0,0,.12);
  position: absolute; bottom: 0; left: 0; right: 0;
  padding-top: 10px; padding-bottom: 10px;
  text-align: center;
  > .row { display: flex;  }
  .logo img { height: 40px; }

  .social { padding-left: 30px; }

  h1 {
      font-size: 1em; font-weight: 400;
      padding: 10px 0; margin: 0;
  }
    .social-title {
        font-size: 18px; font-weight: 500;
        margin: 10px 0;
    }
  .contact {
    margin: 0 30px;
    ul {
      font-size: 14px;
      padding: 0;
      margin: 0;
      min-height: 70px;
      a { color: $text-color; font-size: 12px; }
    }
    .carousel-control {
      color: $text-muted;
      width: 20px;
      &.left,
      &.right {
        background: none;
      }
      &.left { left: -30px; }
      &.right { right: -30px; }
      i { font-size: 18px; }
    }
  }
  .logo {
    display: block;
    margin-top: 7px;
  }
  .menu {
      display: inline-block;
    padding: 10px 0;
    li {
      float: left;
      &:after {
        content: "|"; color: $gray-light; padding-right: 5px;
      }
      &:last-child:after {
        content: none;
      }
      a {
        display: inline-block;
        color: $gray-light; font-size: 14px; font-weight: 500;
        padding: 0 5px 0 0;
        &:hover,
        &:focus {
          text-decoration: underline;
          background: none;
        }
      }
      @media #{$tablet} {
          &:after { padding-right: $grid-gutter-width/2; }
        a { font-weight: 500; padding-right: $grid-gutter-width/2; }
      }
    }
  }
  .region-footer {
    position: relative; z-index: -9999;
  }

  @media #{$normal} {
      text-align: initial;
      .menu { float: right; }
    .social-title { font-size: 19px; }
    .social-links {
      a {
        @include square(40px);
        i { font-size: 20px; line-height: 36px; }
      }
    }
    .navbar-brand { text-align: right; }
  }

}


.btn.btn-wide {
    padding-left: $grid-gutter-width *2;
    padding-right: $grid-gutter-width *2;
}
.btn.btn-wide-full {
    width: 100%;
}

// Element invisible fix
.element-invisible {
  margin: 0;
  padding: 0;
  width: 1px;
}

// общие настройки лого
.navbar-brand {
  float: none;
  flex: 0 1 250px;
  display: inline-block;
  text-align: center;
  height: initial; width: 100%;
  padding: 0 15px; margin-top: 10px;
  img {
    width: 100%; max-width: 54px;
    display: inline;
      @media #{$phone} {
          max-width: 40px;
      }
  }
}

// панель Header
.navbar {
    display: flex; justify-content: space-between;
  position: fixed; z-index: 16; left: 0; right: 0;
  background-color: #fff;
  border-radius: 0; border: 0;
  box-shadow: 0 10px 60px 20px rgba(0,0,0,.12);
  font-size: 21px; text-align: center;
  height: $header-xs-height;
  margin-bottom: 0;

  > div { padding: 0; }
    .primary-d-menu {
        flex: auto;
        display: flex;
        justify-content: center;
    }

    // кнопки справа
    .right-menu {
      flex: 0 0 120px;
      display: flex;
      justify-content: flex-end;
      img { vertical-align: initial; }
        .user-menu {
            //float: right;
            padding: 0; margin: 0;
            > li {
              position: initial;
              height: 100%;
            }
            .dropdown-menu {
                right: 0; left: initial;
                min-width: 200px;
                list-style: none;
                border: none;
                border-top: 1px solid #e1e1e1;
                margin: 0; padding: 8px 0 14px;
                @include transition(all 0.3s ease-in-out);
                ul {
                    padding: 0;
                    > li {
                        &.with-icon i.fa-cog { display: none; }
                        &.panel {
                            box-shadow: none;
                            border: none;
                            margin-bottom: 0;
                            &.visible {  }
                            .panel-body { padding: 0; }
                        }
                        > a {
                            display: inline-block;
                            background: none;
                            color: $text-color; text-decoration: none;
                            line-height: 35px;
                            padding: 0 20px;
                          position: relative;
                            &:hover { color: $link-color; }
                            &.dropdown-link {
                                padding-left: 0;
                                i { @include transition(all 0.3s ease-in-out); }
                            }
                            &:not(.collapsed) i {
                                @include rotate(-180deg);
                            }
                            &.dropdown-link { float: right; }
                        }
                        ul.navbar-nav {
                            float: none;
                            padding-left: 20px;
                            > li { float: none; }
                        }
                    }
                }
                .level-2:before {
                    content: " ";
                    margin: 10px 20px;
                    height: 1px;
                    background: #e1e1e1;
                    display: block;
                }

            }
            .user-info {
                font-weight: 500;
                margin: 11px 0 14px; padding: 0 20px;
                span {
                    display: block;
                    color: $text-muted; font-weight: 400;
                }
            }
        }
        @include clearfix();
    }

  .btn-header {
    background: transparent;
    border: 0; border-left: 1px solid #eee; border-radius: 0;
    &.active { box-shadow: none; }
    display: block;
    line-height: 20px;
    padding: 20px 13px;
    height: 100%; max-height: 100%;
    position: relative;

    @include transition(all 0.3s ease-in-out);
    img {
      @include transition(all 0.3s ease-in-out);
    }
    &.open,
    &:hover {
      .btn-mark,
      img { transform: scale(1.2, 1.2); }
    }
    i, span { vertical-align: middle; }
    &.btn-s1 i { position: relative; }
    &.btn-s4 {
      border: 0;
      flex: 0 0 39px;
      .fa-times { display: none; }
      .btn-mark {
        font-size: 17px;
        margin-left: 8px;
        @include transition(all 0.3s ease-in-out);
      }
    }
    &.btn-s3 {
      i { position: relative; }
    }

    @media #{$tablet} {
      padding: 25px 17px;
    }
  }

  .right-menu-links {
    padding: 18px 4px;
  }
  .link-header-white,
  .link-header-white:hover {
    color: #fff;
    text-shadow: 1px 1px 8px #333;
  }

  .link-header-black,
  .link-header-black:hover { color: $text-color; }

  @media (max-width: 767px) {
    .right-menu-links {
      display: none;
    }
  }

  // отображение кнопки меню
  &.slide-in .fa-bars { display: none; }
  &.slide-in .btn-s4 .fa-times { display: inline-block; }

    // лого
    .navbar-brand {
        float: none;
        flex: 1 1 100%;
        display: flex; align-items: center; justify-content: center;
        margin-top: 0;
        height: initial; width: 40%;
        @media #{$tablet} {
            flex: 0 0 auto;
            padding: 0 8px;
            width: initial;
        }
    }

  // панель поиска
  #search-pane {
    background: #fff;
    position: absolute; top: 0; right: 0;
    height: 100%; width: 100%;
    @include transition(all 0.3s ease-in-out);
    .spane { display: inline-flex; width: 100%; }
    .sp1 { flex: 1 1 auto; padding: 13px; }
    .sp2 { flex: 0 0 $header-button-xs-width; }
    .sp3 { flex: 0 0 $header-button-xs-width; }
  }

  @media #{$tablet} {
    height: $header-sm-height;
    .btn .fa,
    .btn .fas { font-size: 25px; line-height: 1; width: 22px; }
    #search-pane {
      .sp1 { padding: 20px; }
      .sp2, .sp3 { flex-basis: $header-button-sm-width; }
    }
  }

  @media #{$wide} {
    width: $container-lg;
    margin: 0 auto;
  }
}

.button-notice,
.header-notice {
  color: $text-muted; font-size: .8em;
  margin-top: 5px;
  a {
    color: $text-muted;
    text-decoration: underline;
  }
}
.header-notice { font-size: .9em; }

// Paragraphs.
p:last-child {
  //margin-bottom: 0;
}

// Help region.
.region-help {
  > .glyphicon {
    font-size: $font-size-large;
    float: left;
    margin: -0.05em 0.5em 0 0;
  }
  .block {
    overflow: hidden;
  }
}


// Action Links
ul.action-links {
  margin: $padding-base-horizontal 0;
  padding: 0;
  li {
    display: inline;
    margin: 0;
    padding: 0 $padding-base-vertical 0 0;
  }
  .glyphicon {
    padding-right: 0.5em;
  }
}

// Form elements.
input, textarea, select, .uneditable-input {
  max-width: 100%;
  width: auto;
}
input.error {
  color: $brand-danger;
  border-color: $brand-danger;
}
fieldset.panel {
  border: 0; box-shadow: none;
  margin-bottom: $grid-gutter-width;
    position: relative;
  legend.panel-heading {
    background: 0;
    float: left;
    line-height: 1em;
    margin: 0; padding: $grid-gutter-width/2 0;
    span.panel-title { font-size: 1.1em; }
    a.panel-title {
      color: inherit; font-size: 1.1em;
      display: block;
      margin: -10px -15px;
      padding: 10px 15px;
      &:hover { text-decoration: none; }
    }
    i { color: $text-muted; font-size: .7em; }
  }
  .panel-body {
    clear: both;
    display: inherit;
    padding: $grid-gutter-width/2 0 0;
  }
    &.panel-shadow {
        box-shadow: 1px 6px 50px rgba(100, 100, 100, 0.3);
        padding: 8px $grid-gutter-width $grid-gutter-width;
        margin-top: -8px;
    }
}

.form-group {
  > label {
    color: $text-muted; font-weight: 300; text-align: right;
  }
  //.form-group { margin-bottom: 0; }          отключено, так как нет отступов, например, в корзине
}

// Exposed filters
.form-horizontal .form-group label {
  position: relative;
  min-height: 1px;
  margin-top: 0; margin-bottom: 0;
  padding-top: 7px;
  padding-left:  ($grid-gutter-width / 2);
  padding-right: ($grid-gutter-width / 2);

  @media (min-width: $screen-sm-min) {
    float: left;
    width: percentage((3 / $grid-columns));
  }
}
.form-horizontal .form-group .form-textarea-wrapper,
.form-horizontal .form-group .form-input-wrapper {
  min-height: 1px;
  @media (min-width: $screen-sm-min) {
    float: left;
    width: percentage((9 / $grid-columns));
  }
}
.form-horizontal .form-action-wrapper {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  @media (min-width: $screen-sm-min) {
    margin-left: percentage((3 / $grid-columns));
  }
}



.form-group:last-child,
.panel:last-child {
  //margin-bottom: 0; из-за того, что при оборачивании в col- этот стиль всегда срабатывает
}
.form-horizontal .form-group {
  margin-left: 0;
  margin-right: 0;
}
.form-actions{
  clear: both;
  @include clearfix;
    button:not(:last-child) {
        margin-right: $grid-gutter-width/2;
    }
}
.managed-files.table {
  td:first-child {
    width: 100%;
  }
}
div.image-widget-data {
  float: none;
  overflow: hidden;
}

table {
    th, td {
        font-size: 80%;
        padding: 10px;
    }
    th:first-child,
    td:first-child { padding-left: 20px }
    th:last-child,
    td:last-child { padding-right: 20px }
    th {
        color: $text-muted; font-weight: 400;
        .icon-after {
                top: 2px;
                margin-left: 5px;
        }
        a { opacity: .8; }
    }

    // Radio and checkbox in table fixes
    .radio input[type="radio"],
    .checkbox input[type="checkbox"] {
        max-width: inherit;
    }
    &.sticky-header {
        z-index: 1;
    }
    > caption { margin-bottom: $grid-gutter-width; }
    &.table-condensed { padding: 5px; }
    .form-group { margin-bottom: 0; }
}

.resizable-textarea textarea {
  border-radius: $border-radius-base $border-radius-base 0 0;
}
.text-format-wrapper {
  // Use same value as .form-group.
  margin-bottom: 15px;
  > .form-type-textarea,
  .filter-wrapper {
    margin-bottom: 0;
  }
}
.filter-wrapper {
  border-radius: 0 0 $border-radius-base $border-radius-base;
  .panel-body {
    padding: 7px;
  }
  .form-type-select {
    min-width: 30%;
    .filter-list {
      width: 100%;
    }
  }
}
.filter-help {
  margin-top: 5px;
  text-align: center;
  @media #{$tablet} {
    float: right;
  }
  .glyphicon {
    margin: 0 5px 0 0;
    vertical-align: text-top;
  }
}
.radio, .checkbox {
  margin-top: 7px; margin-bottom: 15px;
  &:first-child { margin-top: 0; }
  &:last-child { margin-bottom: 0; }
  label { color: $text-muted; font-weight: 300; }
}
.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
    margin-top: .4em;
}

.form-type-checkbox {
  input {
    position: absolute; z-index: -1;
    opacity: 0;
  }
  .control-label {
    font-weight: 300;
    padding: 0;
    display: flex; align-items: center;
  }
  input + .cb-mark:before {
    font-family: "Font Awesome 5 Free"; font-style: normal; font-variant: normal; text-rendering: auto; -webkit-font-smoothing: antialiased;
    font-weight: 900;
    content: " ";

    display: inline-block;
    color: $brand-primary; text-align: center; font-size: 13px; line-height: 1.5;
    margin-right: $grid-gutter-width/2;
    width: 20px; height: 20px;
    border: 1px solid $gray-lighten;
    vertical-align: middle;
  }

  input:checked + .cb-mark:before { content: "\f00c"; }
  input:disabled + .cb-mark:before {
    background: #eee;
    color: #aaa;
  }
}

.form-item-quantity,
[class*=form-item-cart-contents-form-cart-contents-form-view-edit-quantity]
{
  .form-input-wrapper {
    display: flex; flex-wrap: nowrap;
    .commerce-quantity-plusminus-link {
      flex: 0 0 35px;
      border: 1px solid $input-border;
      border-radius: $input-border-radius;
      background: $input-bg;
      //height: 39px;
      display: flex;
      justify-content: center;

      a.button {
        display: block;
        width: 100%; height: 100%;
        padding: 6px; margin: 0;
        color: $text-muted; font-weight: 400;
        &:hover { color: $text-color; }
        &:hover,
        &:focus {
          background: none;
          text-decoration: none;
        }
      }
    }
    input {
      flex: auto;
      margin: 0 $grid-gutter-width/2;
      text-align: center;
    }
  }
}


.help-block, .control-group .help-inline {
  color: $text-muted; font-size: 12px;
  margin: 5px 0 10px; padding: 0;
}
.panel-heading { display: block; }
a.tabledrag-handle .handle {
  height: auto; width: auto;
}

.container-inline > div,
.container-inline > label {
    display: inline-block;
}
.container-inline > div:not(:first-child),
.container-inline > button:not(:first-child) {
    margin-left: $grid-gutter-width/2;
}

// Error containers.
.error {
  color: $state-danger-text;
}
div.error,
table tr.error {
  background-color: $state-danger-bg;
  color: $state-danger-text;
}
.form-group.error,
.form-group.has-error {
  background: none;
  label, .control-label {
    color: $state-danger-text;
    font-weight: 500;
  }
  input, textarea, select, .uneditable-input {
    color: $input-color;
  }
  .help-block, .help-inline {
    color: $text-muted;
  }
}

// Lists
//.nav-tabs {
//  margin-bottom: 10px;
//}
ul li.collapsed,
ul li.expanded,
ul li.leaf {
  list-style: none;
  list-style-image: none;
}
//.tabs--secondary {
//  margin: 0 0 10px;
//}

// Submitted
.submitted {
  margin-bottom: 1em;
  font-weight: normal;
  color: $text-muted;
}

// Password strength/match.
.form-type-password-confirm {
  position: relative;
  .password-help {
    padding-left: 2em;
    @media (min-width: $screen-sm-min) {
      border-left: 1px solid $table-border-color;
      left: percentage((6/12));
      margin-left: ($grid-gutter-width / 2);
      position: absolute;
    }
    @media (min-width: $screen-md-min) {
      left: percentage((4/12));
    }
  }
  .progress {
    background: transparent;
    -moz-border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
    @include box-shadow(none);
    height: 4px;
    margin: -5px 0px 0;
  }
  .form-type-password {
    clear: left;
  }
  .form-control-feedback {
    right: 15px;
  }
  .help-block {
    clear: both;
  }
}

// fields
.field .field-label {
  display: inline-block;
  color: $text-muted; font-weight: 300; text-align: right;
}
@media #{$phone} {
  .field-label-inline .field-label, .field-label-inline .field-items {
    float: none;
  }
}


// Views AJAX pager.
ul.pagination li > a {
  &.progress-disabled {
    float: left;
  }
}

// Autocomplete and throbber
.form-autocomplete {
  .glyphicon {
    color: $gray-light;
    font-size: 120%;
    &.glyphicon-spin {
      color: $brand-primary;
    }
  }
  .input-group-addon {
    background-color: rgb(255, 255, 255);
  }
}

// AJAX "Progress bar".
.ajax-progress-bar {
  border-radius: 0 0 $border-radius-base $border-radius-base;
  border: 1px solid $input-group-addon-border-color;
  margin: -1px 0 0;
  padding: $padding-base-vertical $padding-base-horizontal;
  width: 100%;
  .progress {
    height: 8px;
    margin: 0;
  }
  .percentage,
  .message {
    color: $text-muted;
    font-size: $font-size-small;
    line-height: 1em;
    margin: 5px 0 0;
    padding: 0;
  }
}

.glyphicon-spin {
  display: inline-block;
  -moz-animation: spin 1s infinite linear;
  -o-animation: spin 1s infinite linear;
  -webkit-animation: spin 1s infinite linear;
  animation: spin 1s infinite linear;
}
a .glyphicon-spin {
  display: inline-block;
  text-decoration: none;
}
@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(359deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
  }
}
@-o-keyframes spin {
  0% {
    -o-transform: rotate(0deg);
  }
  100% {
    -o-transform: rotate(359deg);
  }
}
@-ms-keyframes spin {
  0% {
    -ms-transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}

/**
 * Missing Bootstrap 2 tab styling.
 * @see http://stackoverflow.com/questions/18432577/stacked-tabs-in-bootstrap-3
 * @see http://bootply.com/74926
 */
.tabbable {
  margin-bottom: 20px;
}
.tabs-below, .tabs-left, .tabs-right {
  > .nav-tabs {
    border-bottom: 0;
    .summary {
      color: $nav-disabled-link-color;
      font-size: $font-size-small;
    }
  }
}
.tab-pane > .panel-heading {
  display: none;
}
.tab-content > .active {
  display: block;
}

// Below.
.tabs-below {
  > .nav-tabs {
    border-top: 1px solid $nav-tabs-border-color;
    > li {
      margin-top: -1px;
      margin-bottom: 0;
      > a {
        border-radius: 0 0 $border-radius-base $border-radius-base;
        &:hover,
        &:focus {
          border-top-color: $nav-tabs-border-color;
          border-bottom-color: transparent;
        }
      }
    }
    > .active {
      > a,
      > a:hover,
      > a:focus {
        border-color: transparent $nav-tabs-border-color $nav-tabs-border-color $nav-tabs-border-color;
      }
    }
  }
}

// Left and right tabs.
.tabs-left,
.tabs-right {
  > .nav-tabs {
    padding-bottom: 20px;
    width: 220px;
    > li {
      float: none;
      &:focus {
        outline: 0;
      }
      > a {
        margin-right: 0;
        margin-bottom: 3px;
        &:focus {
          outline: 0;
        }
      }
    }
  }
  > .tab-content {
    border-radius: 0 $border-radius-base $border-radius-base $border-radius-base;
    @include box-shadow(0 1px 1px rgba(0,0,0,.05));
    border: 1px solid $nav-tabs-border-color;
    overflow: hidden;
    padding: 10px 15px;
  }
}

// Left tabs.
.tabs-left {
  > .nav-tabs {
    float: left;
    margin-right: -1px;
    > li > a {
      border-radius: $border-radius-base 0 0 $border-radius-base;
      &:hover,
      &:focus {
        border-color: $nav-tabs-link-hover-border-color $nav-tabs-border-color $nav-tabs-link-hover-border-color $nav-tabs-link-hover-border-color;
      }
    }
    > .active > a,
    > .active > a:hover,
    > .active > a:focus {
      border-color: $nav-tabs-border-color transparent $nav-tabs-border-color $nav-tabs-border-color;
      @include box-shadow(-1px 1px 1px rgba(0,0,0,.05));
    }
  }
}

// Right tabs.
.tabs-right {
  > .nav-tabs {
    float: right;
    margin-left: -1px;
    > li > a {
      border-radius: 0 $border-radius-base $border-radius-base 0;
      &:hover,
      &:focus {
        border-color: $nav-tabs-link-hover-border-color $nav-tabs-link-hover-border-color $nav-tabs-link-hover-border-color $nav-tabs-border-color;
        @include box-shadow(1px 1px 1px rgba(0,0,0,.05));
      }
    }
    > .active > a,
    > .active > a:hover,
    > .active > a:focus {
      border-color: $nav-tabs-border-color $nav-tabs-border-color $nav-tabs-border-color transparent;
    }
  }
}

// Checkbox cell fix.
th.checkbox,
td.checkbox,
th.radio,
td.radio {
  display: table-cell;
}

// Views UI fixes.
.views-display-settings {
  .label {
    font-size: 100%;
    color:#666666;
  }
  .footer {
    padding:0;
    margin:4px 0 0 0;
  }
}
.views-exposed-form .views-exposed-widget .btn {
  margin-top: 1.8em;
}


.alert {
  border-radius: 0;
  margin: 15px 0;
  //@include make-row(); при отображении внутри форм вылезает за границы
}

// Treat all links inside alert as .alert-link
.alert a {
  font-weight: $alert-link-font-weight;
}
.alert-success {
  a, a:hover, a:focus {
    color: darken($alert-success-text, 10%);
  }
}
.alert-info {
  a, a:hover, a:focus {
    color: darken($alert-info-text, 10%);
  }
}
.alert-warning {
  a, a:hover, a:focus {
    color: darken($alert-warning-text, 10%);
  }
}
.alert-danger {
  a, a:hover, a:focus {
    color: darken($alert-danger-text, 10%);
  }
}

// Override image module.
div.image-style-new,
div.image-style-new div {
  display: block;
}
div.image-style-new div.input-group {
  display: table;
}

td.module,
.table-striped>tbody>tr:nth-child(odd)>td.module,
.table>tbody>tr>td.module {
  background: $table-border-color;
  font-weight: 500;
}

// Book module.
.book-toc > .dropdown-menu {
  overflow: hidden;
  > .dropdown-header {
    white-space: nowrap;
  }
  > li:nth-child(1) > a {
    font-weight: bold;
  }
  .dropdown-menu {
    @include box-shadow(none);
    border: 0;
    display: block;
    font-size: $font-size-small;
    margin: 0;
    padding: 0;
    position: static;
    width: 100%;
    > li {
      padding-left: 20px;
      > a {
        margin-left: -40px;
        padding-left: 60px;
      }
    }
  }
}

// Features module.
#features-filter .form-item.form-type-checkbox {
  padding-left: 20px;
}
fieldset.features-export-component {
  font-size: $font-size-small;
  html.js #features-export-form &, & {
    margin: 0 0 ($line-height-computed / 2);
  }
  .panel-heading {
    padding: 5px 10px;
    a.panel-title {
      font-size: $font-size-small;
      font-weight: 500;
      margin: -5px -10px;
      padding: 5px 10px;
    }
  }
  .panel-body {
    padding: 0 10px;
  }
}
div.features-export-list {
  margin: -11px 0 10px;
  padding: 0 10px;
}

fieldset.features-export-component .component-select ,
div.features-export-list {
  .form-type-checkbox {
    line-height: 1em;
    margin: 5px 5px 5px 0 !important;
    min-height: 0;
    padding: 3px 3px 3px 25px!important;
    input[type=checkbox] {
      margin-top: 0;
    }
  }
}


/**
 * Icon styles.
 */
a {
  &.icon-before .glyphicon {
    margin-right: .25em;
  }
  &.icon-after .glyphicon {
    margin-left: .25em;
  }
}

.btn {
  &.btn-link .icon { display: none; }
  &.icon-before .glyphicon {
    margin-left: -.25em;
    margin-right: .25em;
  }
  &.icon-after .glyphicon {
    margin-left: .25em;
    margin-right: -.25em;
  }
  &.r-card-more .fa {
      font-size: .8em; line-height: 1.42857;
      margin-top: .375em;
      &.pull-right { margin-left: 1em; }
  }
}

.price_field { color: #000; }

/* ------------------------------------------------- Ссылки на соцсети ---------------------------------------------- */
.social-links {
  a {
    display: inline-block;
    border: 2px solid #808080; border-radius: 20px;
    color: #808080; text-align: center;
    @include square(35px);
    margin-right: 7px;
    &:last-child { margin-right: 0; }
    @include transition(all 0.3s ease-in-out);
    i {
      vertical-align: middle;
      font-size: 18px; line-height: 34px;
      @include transition(all 0.3s ease-in-out);
    }
    &:hover {
      border-color: #333;
      i { color: #333; }
    }
    @media #{$normal} {
      @include square(40px);
      i { font-size: 20px; line-height: 36px; }
    }
  }
}

/* ------------------------------------------------- Стили для печати страницы -------------------------------------- */
@media print {
  [class*="col-sm-"] { float: left!important; }
  [class*="col-xs-"] { float: left!important; }
  .col-sm-12, .col-xs-12 { width: 100% !important; }
  .col-sm-11, .col-xs-11 { width: 91.66666667% !important; }
  .col-sm-10, .col-xs-10 { width: 83.33333333% !important; }
  .col-sm-9, .col-xs-9   { width: 75% !important; }
  .col-sm-8, .col-xs-8   { width: 66.66666667% !important; }
  .col-sm-7, .col-xs-7   { width: 58.33333333% !important; }
  .col-sm-6, .col-xs-6   { width: 50% !important; }
  .col-sm-5, .col-xs-5   { width: 41.66666667% !important; }
  .col-sm-4, .col-xs-4   { width: 33.33333333% !important; }
  .col-sm-3, .col-xs-3   { width: 25% !important; }
  .col-sm-2, .col-xs-2   { width: 16.66666667% !important; }
  .col-sm-1, .col-xs-1   { width: 8.33333333% !important; }

  .col-sm-offset-4 { margin-left: 33.33333333% !important; }
  .col-sm-offset-3 { margin-left: 25% !important; }
  .col-sm-offset-2 { margin-left: 16.66666667% !important; }
  .col-sm-offset-1 { margin-left: 8.33333333% !important; }

  body {
    margin: 0;
    padding: 0 !important;
    min-width: 768px;
  }

    h1 { font-size: 28px; }
  a[href^="mail"]:after,
  a[href^="tel"]:after {
    content: "";
  }
}
