/**
 * Default Variables.
 *
 * Modify this file to provide default Bootstrap Framework variables. The
 * Bootstrap Framework will not override any variables defined here because it
 * uses the `!default` flag which will only set their default if not already
 * defined here.
 *
 * You can copy existing variables directly from the following file:
 * ./THEMENAME/bootstrap/assets/stylesheets/bootstrap/_variables.scss
 */
@media only screen and (max-width: 767px) {
  html {
    font-size: 2px !important; } }
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  html {
    font-size: 5px !important; } }
@media only screen and (min-width: 1024px) and (max-width: 1279px) {
  html {
    font-size: 5px !important; } }
@media only screen and (min-width: 1280px) and (max-width: 1439px) {
  html {
    font-size: 6px !important; } }
@media only screen and (min-width: 1440px) {
  html {
    font-size: 8px !important; } }

body .page-shedule {
  overflow: hidden; }

.group {
  flex: auto;
  display: flex;
  margin-top: 1rem;
  height: 100%;
  max-height: 100%; }

.shedule {
  background: white;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  height: 100%;
  max-width: 100%;
  overflow: hidden; }
  .shedule .block {
    flex: auto;
    display: flex;
    flex-direction: column;
    margin: 0 0.5rem;
    overflow: hidden; }
    .shedule .block .header {
      background: #213a6e;
      flex: 0 0 10rem;
      color: white;
      padding: 1rem;
      display: flex;
      flex-wrap: nowrap;
      position: relative; }
      .shedule .block .header .box1 {
        border-right: 1px solid white;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 6rem;
        flex: 0 0 6rem;
        padding-right: 1rem; }
        .shedule .block .header .box1 a {
          color: white; }
      .shedule .block .header .box2 {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        font-size: 3rem;
        flex: auto;
        padding: 0 2rem; }
        .shedule .block .header .box2 div {
          flex: 100%; }
        .shedule .block .header .box2 a {
          color: white; }
      .shedule .block .header .line1 {
        line-height: 1.2; }
      .shedule .block .header .line1 span,
      .shedule .block .header .line2 {
        font-weight: 100;
        white-space: nowrap; }
      .shedule .block .header .line3 {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0; }
      .shedule .block .header .add-link {
        color: white;
        position: absolute;
        right: 1rem;
        top: 1rem;
        transition: all 0.3s ease-in-out; }
        .shedule .block .header .add-link i {
          font-size: 3rem; }
    .shedule .block .content {
      background: #36AA3D;
      flex: auto;
      color: white;
      font-size: 2rem;
      padding: 1rem;
      max-height: 100%; }
      .shedule .block .content .event {
        display: flex;
        position: relative; }
        .shedule .block .content .event:not(:last-child) {
          margin-bottom: 1rem; }
        .shedule .block .content .event .edit-link {
          color: white;
          position: absolute;
          right: 10px;
          top: 10px;
          transition: all 0.3s ease-in-out; }
  .shedule .column-a .content .row1,
  .shedule .column-b .content .row1 {
    flex: 0 0 1px;
    font-size: 4rem;
    justify-content: center;
    padding-right: 2rem; }
  .shedule .column-a .content .row2,
  .shedule .column-b .content .row2 {
    flex: auto; }
  .shedule .column-a .content .line1,
  .shedule .column-b .content .line1 {
    font-weight: 500;
    font-size: 4rem; }
  .shedule .column-a .content .line2,
  .shedule .column-b .content .line2 {
    font-weight: 100;
    font-size: 3rem; }
  .shedule .column-a {
    flex: 75%;
    display: flex;
    flex-direction: column;
    height: 85%; }
    .shedule .column-a .group {
      flex: 50%; }
      .shedule .column-a .group .block {
        height: 100%; }
        .shedule .column-a .group .block:first-child {
          margin-left: 0; }
    .shedule .column-a .group-a .block {
      flex: 50%; }
    .shedule .column-a .group-b .block {
      flex: 33.3%; }
  .shedule .column-b {
    flex: 25%;
    display: flex;
    flex-direction: column;
    height: 85%; }
    .shedule .column-b .block {
      margin-right: 0; }
  .shedule .header {
    flex: 100%;
    height: 15%;
    display: flex;
    padding: 3rem 9rem; }
    .shedule .header .group {
      margin: 0; }
    .shedule .header .block {
      margin: 0; }
      .shedule .header .block .content {
        color: #333;
        background: white;
        display: flex; }
      .shedule .header .block .event {
        display: flex;
        align-items: center;
        flex: 0 0 auto;
        margin-right: 10rem; }
      .shedule .header .block .row1 {
        flex: auto; }
      .shedule .header .block .line1 {
        font-size: 6rem;
        line-height: 1; }
      .shedule .header .block .line2 {
        font-size: 4rem;
        white-space: nowrap; }
      .shedule .header .block .row2 {
        display: flex;
        font-size: 10rem;
        flex: 0 0 auto;
        padding-left: 2rem; }
        .shedule .header .block .row2 i.fa-long-arrow-alt-left {
          overflow: hidden;
          width: 5rem; }
        .shedule .header .block .row2 i.fa-running,
        .shedule .header .block .row2 i.fa-walking {
          margin-left: 1rem; }
        .shedule .header .block .row2 i.fa-running {
          animation: blinker 2s linear infinite; }
@keyframes blinker {
  50% {
    opacity: 0; } }
  .shedule .block-l {
    flex: 0 0 auto; }
    .shedule .block-l .content {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      width: 14rem;
      padding: 0; }
    .shedule .block-l .logo {
      padding: 0 2rem;
      width: 100%; }
      .shedule .block-l .logo img {
        max-width: 100%; }
    .shedule .block-l .clock {
      color: #b3b3b3;
      font-weight: 500;
      font-size: 4rem;
      text-align: center;
      flex: 0 0 auto;
      line-height: 1;
      margin-top: 1rem; }
      .shedule .block-l .clock .seconds {
        color: #b3b3b3;
        font-size: 2rem;
        font-weight: 400; }

.room {
  background: white;
  display: flex;
  flex-direction: column;
  height: 100%; }
  .room .line1 {
    font-size: 5rem; }
  .room .line2 {
    font-size: 4rem; }
  .room .line3 {
    font-size: 7rem; }
  .room .block-wrap {
    display: flex; }
  .room .room-header {
    flex: 0 0 15%;
    position: relative;
    padding: 3rem 9rem; }
    .room .room-header .block-wrap {
      height: 100%; }
    .room .room-header .block-i {
      flex: auto; }
      .room .room-header .block-i .box {
        color: #b3b3b3;
        position: absolute;
        bottom: 0; }
      .room .room-header .block-i .live {
        display: none;
        background: #CF142B;
        color: white;
        font-size: 4rem;
        font-weight: 500;
        width: auto;
        height: auto;
        position: absolute;
        right: 10px;
        bottom: 0;
        padding: 0 3rem; }
    .room .room-header .block-l {
      flex: 0 0 auto; }
      .room .room-header .block-l .content {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        width: 14rem; }
      .room .room-header .block-l .logo {
        padding: 0 2rem;
        width: 100%; }
        .room .room-header .block-l .logo img {
          max-width: 100%; }
      .room .room-header .block-l .clock {
        color: #b3b3b3;
        font-weight: 500;
        font-size: 4rem;
        text-align: center;
        line-height: 1;
        flex: 0 0 auto;
        margin-top: 1rem; }
        .room .room-header .block-l .clock .seconds {
          color: #b3b3b3;
          font-size: 2rem;
          font-weight: 400; }
    .room .room-header .back {
      color: #f0f0f0;
      font-size: 5rem;
      position: absolute;
      top: 15px;
      left: 15px; }
  .room.started .block-i .live {
    display: block; }
  .room .room-event {
    background: #213a6e;
    color: white;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    flex: 0 0 15%;
    padding: 3rem 9rem; }
    .room .room-event div {
      flex: 100%; }
  .room .room-participants {
    flex: 0 1 45%;
    padding: 6rem 9rem; }
    .room .room-participants .content {
      display: flex;
      flex-wrap: wrap;
      align-content: flex-start;
      width: 100%; }
      .room .room-participants .content .participant {
        font-size: 1.1em;
        flex: 0 0 50%; }
        .room .room-participants .content .participant .line1 {
          color: #213a6e;
          margin-bottom: 15px; }
        .room .room-participants .content .participant:nth-child(2) {
          padding-left: 15px; }
  .room .room-footer {
    background: #36AA3D;
    color: white;
    flex: 0 0 25%;
    padding: 3rem 9rem; }
    .room .room-footer .block {
      flex-wrap: wrap;
      align-content: flex-start;
      flex: 0 0 50%;
      margin-top: 15px; }
      .room .room-footer .block div {
        flex: 100%; }
    .room .room-footer .line1 {
      margin-bottom: 5px; }
    .room .room-footer .line3 {
      font-size: 6rem; }
  .room .block {
    display: flex;
    position: relative; }

/*# sourceMappingURL=shedule.css.map */
