@charset "UTF-8";
/**
 * Default Variables.
 *
 * Modify this file to provide default Bootstrap Framework variables. The
 * Bootstrap Framework will not override any variables defined here because it
 * uses the `!default` flag which will only set their default if not already
 * defined here.
 *
 * You can copy existing variables directly from the following file:
 * ./THEMENAME/bootstrap/assets/stylesheets/bootstrap/_variables.scss
 */
.user-acc-add-link {
  margin-bottom: 15px;
  text-align: right; }

/* ------------------------------------------------- Форма восстановления пароля - */
.user-auth-wr {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px; }
  @media (min-width: 768px) {
    .user-auth-wr {
      margin-left: 16.6666666667%; } }
  @media (min-width: 768px) {
    .user-auth-wr {
      float: left;
      width: 66.6666666667%; } }
  @media (min-width: 992px) {
    .user-auth-wr {
      margin-left: 25%; } }
  @media (min-width: 992px) {
    .user-auth-wr {
      float: left;
      width: 50%; } }
  .user-auth-wr .user-auth-logo {
    background: #eeeeee;
    width: 60px;
    height: 67px;
    background: url(../../../../../default/files/images/logo/logo.svg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 30px auto 20px; }
  .user-auth-wr .user-auth-header {
    display: flex;
    flex-wrap: wrap;
    background: #eeeeee;
    border-top: 6px solid #01b0f1;
    padding: 30px 60px; }
  .user-auth-wr .user-auth-title h1 {
    font-size: 22px;
    margin: 0 0 5px; }
  .user-auth-wr .user-auth-links {
    flex: 100%;
    font-size: .9em; }
    .user-auth-wr .user-auth-links a {
      color: #b3b3b3;
      text-decoration: underline; }
  .user-auth-wr .user-auth {
    background: #eeeeee;
    padding: 0 60px 30px 60px; }
  .user-auth-wr .form-actions .btn {
    width: 100%; }
  .user-auth-wr fieldset.panel {
    background: none;
    margin-bottom: 0; }
    .user-auth-wr fieldset.panel legend.panel-heading {
      padding-bottom: 5px; }
      .user-auth-wr fieldset.panel legend.panel-heading span.panel-title {
        color: #b3b3b3;
        font-size: 16px;
        font-weight: 300; }

/* ------------------------------------------------- Профиль -------------------------------------------------------- */
.profile-wrapper .profile {
  /* счётчики активности */ }
  .profile-wrapper .profile .alert {
    margin: 0 0 15px 0; }
  .profile-wrapper .profile [class*=field-profile-photo] {
    margin-bottom: 15px; }
    .profile-wrapper .profile [class*=field-profile-photo] .image-widget {
      display: flex;
      flex-wrap: wrap;
      justify-content: center; }
    .profile-wrapper .profile [class*=field-profile-photo] .control-label {
      display: none; }
    .profile-wrapper .profile [class*=field-profile-photo] .image-preview,
    .profile-wrapper .profile [class*=field-profile-photo] .image-widget-data {
      text-align: center;
      max-width: initial; }
      .profile-wrapper .profile [class*=field-profile-photo] .image-preview .input-group,
      .profile-wrapper .profile [class*=field-profile-photo] .image-widget-data .input-group {
        display: flex;
        flex-wrap: wrap;
        justify-content: center; }
        .profile-wrapper .profile [class*=field-profile-photo] .image-preview .input-group .input-group-btn,
        .profile-wrapper .profile [class*=field-profile-photo] .image-widget-data .input-group .input-group-btn {
          width: initial; }
      .profile-wrapper .profile [class*=field-profile-photo] .image-preview .form-submit,
      .profile-wrapper .profile [class*=field-profile-photo] .image-widget-data .form-submit {
        margin-top: 15px; }
    .profile-wrapper .profile [class*=field-profile-photo] .help-block {
      text-align: center; }
  .profile-wrapper .profile .photo .form-item-files-picture-upload {
    text-align: center;
    margin-right: 15px; }
  .profile-wrapper .profile .profile-changes {
    margin-bottom: 15px;
    font-size: 0.8em;
    color: #CF142B;
    margin-left: 33.3333333333%; }
  .profile-wrapper .profile .profile-separator {
    border-top: 1px solid #e7e8ec;
    width: 100%;
    height: 0;
    margin-bottom: 15px; }
  @media (min-width: 480px) {
    .profile-wrapper .profile .form-horizontal .form-group label {
      float: left;
      width: 33.3333333333%; } }
  @media (min-width: 480px) {
    .profile-wrapper .profile .form-horizontal .form-group .form-textarea-wrapper,
    .profile-wrapper .profile .form-horizontal .form-group .form-input-wrapper {
      float: left;
      width: 66.6666666667%; } }
  .profile-wrapper .profile .profile-save {
    margin-left: 33.3333333333%; }
  .profile-wrapper .profile .profile-info-top {
    padding-bottom: 15px;
    border-bottom: 1px solid #e7e8ec;
    position: relative; }
  .profile-wrapper .profile .profile-name {
    font-weight: 500; }
  .profile-wrapper .profile .profile-name span {
    font-size: 12px;
    font-weight: 400; }
  .profile-wrapper .profile .profile-role {
    color: #999;
    font-weight: 400;
    line-height: 18px; }
  .profile-wrapper .profile .profile-status {
    position: absolute;
    right: 10px;
    top: 5px; }
  .profile-wrapper .profile .profile-online {
    color: #40ae1a; }
  .profile-wrapper .profile .profile-offline {
    color: #01b0f1; }
  .profile-wrapper .profile .profile-counts {
    text-align: center; }
  .profile-wrapper .profile .profile-count {
    display: inline-block;
    color: #000;
    padding: 15px;
    text-align: center; }
  .profile-wrapper .profile .profile-count:hover {
    cursor: pointer;
    text-decoration: none; }
  .profile-wrapper .profile .count-title {
    font-size: 11px;
    color: #999;
    text-transform: uppercase; }
  .profile-wrapper .profile .profile-count:hover .count-title {
    color: #000; }
  .profile-wrapper .profile .count-amount {
    font-size: 1.5em;
    padding-bottom: 8px;
    color: #000; }
.profile-wrapper .profile-left {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px; }
  @media (min-width: 992px) {
    .profile-wrapper .profile-left {
      float: left;
      width: 33.3333333333%; } }
  .profile-wrapper .profile-left .photo img {
    max-width: 100%; }
  .profile-wrapper .profile-left .profile-add-photo {
    margin-top: 15px;
    text-align: center; }
    .profile-wrapper .profile-left .profile-add-photo a {
      color: #b3b3b3;
      font-size: .8em; }
.profile-wrapper .profile-right {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px; }
  @media (min-width: 992px) {
    .profile-wrapper .profile-right {
      float: left;
      width: 66.6666666667%; } }
  .profile-wrapper .profile-right .pass-show,
  .profile-wrapper .profile-right .pass-close {
    cursor: pointer; }
  .profile-wrapper .profile-right .password-pane {
    position: relative;
    display: none;
    background-color: #e4f5ff;
    padding: 10px 0; }

/* До и После */
.profile-content.before-after {
  padding: 0; }

/* Блог */
.blog-user-acc .views-field-created,
.blog-user-acc .views-field-edit-node {
  text-align: center;
  width: 15%; }

/* таблицы */
.profile th {
  padding: 9px 6px;
  text-align: center; }

.profile td {
  border-bottom: 1px solid rgba(100, 100, 100, 0.1);
  padding: 9px 12px; }

/* ------------------------------------------------- Уведомления ---------------------------------------------------- */
.page-user .notifications .n-controls {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px; }
  .page-user .notifications .n-controls .n-filter {
    flex: auto; }
  .page-user .notifications .n-controls .n-read-all {
    flex: 0 0 auto; }
  .page-user .notifications .n-controls a {
    color: #333333;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    margin-right: 15px; }
    .page-user .notifications .n-controls a.active, .page-user .notifications .n-controls a:hover, .page-user .notifications .n-controls a:focus {
      color: #36AA3D; }
.page-user .message-notification {
  box-shadow: 1px 1px 5px #eee;
  display: flex;
  margin-bottom: 15px; }
.page-user .main {
  flex: auto;
  background: #eeeeee;
  padding: 5px 15px;
  position: relative; }
  .page-user .main p {
    margin: 0; }
  .page-user .main .line-item {
    display: inline-block; }
    .page-user .main .line-item:not(:last-child) {
      margin-right: 15px; }
  .page-user .main i {
    margin-right: 7.5px; }
.page-user .m-header {
  color: #b3b3b3;
  font-size: 13px; }
.page-user .m-date {
  float: right; }
.page-user .m-content a {
  color: #333333; }
.page-user .m-footer a {
  font-size: 13px; }
.page-user .actions {
  flex: 0 0 auto;
  background: #eeeeee;
  border-left: 2px solid white;
  padding: 5px 15px;
  display: flex;
  align-items: center; }
  .page-user .actions .m-ungot,
  .page-user .actions .m-got:hover,
  .page-user .actions .m-got:focus {
    color: #b3b3b3; }
  .page-user .actions .m-got,
  .page-user .actions .m-ungot:hover,
  .page-user .actions .m-ungot:focus {
    color: #36AA3D; }

/* ------------------------------------------------- Подписки ------------------------------------------------------- */
.profile .subscriptions .views-field-ops,
.profile .subscriptions .views-field-ops-1 {
  width: 150px;
  vertical-align: middle; }
  .profile .subscriptions .views-field-ops a,
  .profile .subscriptions .views-field-ops-1 a {
    color: #36AA3D; }
  .profile .subscriptions .views-field-ops a.unflag-action,
  .profile .subscriptions .views-field-ops-1 a.unflag-action {
    color: #CF142B; }
.profile .subscriptions .views-field-name-field-et span {
  color: #b3b3b3;
  font-size: 13px; }
  .profile .subscriptions .views-field-name-field-et span p {
    margin: 0; }

/*# sourceMappingURL=ext_user.css.map */
