@import "../../../../themes/kccc/css/variables"; // продублировано из styles.scss, чтобы переменные не подсвечивались

.catalog {
  margin-bottom: 2rem;
  .catalog-content { padding-top: 2rem; }
  .category {
    font-size: $font-size-h4; line-height: 2.2rem;
    margin-bottom: 2rem;
    .underline {
      height: 2px; width: 4rem;
      margin: 0;
    }
  }

  @media #{$tablet} {
    margin-bottom: 4rem;
  }
}
