#ab-form-wrapper {
    padding: 20px;
    width: 755px;
}
.ab-list {
    float: left;
    margin-bottom: 15px;
    min-height: 250px; width: 200px;
    position: relative;
}

.ab-list .form-type-radio {
    background: #fff; border: 1px solid #DCF1FD; border-bottom: none;
    padding: 12px 18px 13px 35px; margin: 0!important;
    min-height: 48px;
}
.ab-list .form-type-radio:hover { background: #F4FBFF; }
.ab-list .form-type-radio:last-child { border-bottom: 1px solid #DCF1FD; padding: 12px 18px 12px 35px; margin: 0; }
.ab-list .form-type-radio input { display: none; }
.ab-list .form-type-radio.active {
    border: 2px solid #2b8aff; border-right: 2px solid transparent;
    padding: 11px 17px 11px 34px; margin: 0;
    width: 203px;
}
.ab-list .form-type-radio label { font-size: 13px; line-height: 15px; display: block; cursor: pointer; }
.ab-list .form-type-radio label span { color: #aaa; font-size: 10px; line-height: 12px; }
.ab-list .form-type-radio:last-child label {
    color: #2b8aff;
}

.ab-detail {
    float: left;
    border: 2px solid #2b8aff;
    margin: 0 0 15px 0; padding: 15px 20px;
    width: 510px;
}


.ab-detail>div { float: left; }
.ab-detail>div.form-item { padding: 0 10px 10px 0; }

.ab-detail input[type="text"] {
    border: none; border-bottom: 1px solid #2b8aff;
    border-radius: 0;
    box-shadow: none;
    outline: none;
}
.ab-detail input[type="text"].mandatory {
    border: none; border-bottom: 1px solid #de242a;
}
.ctools-modal-content .ab-detail input[type="text"] { height: 25px; padding: 3px 7px; }
.ctools-modal-content .ab-detail input:disabled { color: #999;  }
.ab-detail input[name="surname"] { width: 153px; }
.ab-detail input[name="name"] { width: 118px; }
.ab-detail input[name="name2"] { width: 160px; }
.ab-detail input[name="country"] { width: 244px; }
.ab-detail input[name="zipcode"] { width: 90px; }
.ab-detail input[name="region"] { width: 354px; }
.ab-detail input[name="area"] { width: 207px; }
.ab-detail input[name="city"] { width: 237px; }
.ab-detail input[name="street"] { width: 249px; }
.ab-detail input[name="house"] { width: 95px; }
.ab-detail input[name="app"] { width: 90px; }
.ab-detail input[name="passport"] { width: 454px; }
.ab-detail .message { margin-top: 10px; color: #40ae1a; }

.ab-detail input[type="text"]:focus {
    border: none; border-bottom: 1px solid #D81CE4;
}

.ab-detail .form-item-country { width: 100%; margin-top: 15px; }
.ab-detail .form-item-region input[type="text"],
.ab-detail .form-item-area input[type="text"],
.ab-detail .form-item-street input[type="text"],
.ab-detail .form-item-house input[type="text"] { padding-right: 20px; }
.ab-detail .form-item-passport { width: 100%; margin-top: 15px; }

.ab-buttons { width: 712px; }
.ab-buttons input[name=save-button],
.ab-buttons input[name=choose-button] { float: right; margin-right: 20px; }

.ab-buttons #edit-edit,
.ab-buttons input[name=edit-button] {float: left; margin-right: 15px; }

.ab-buttons #edit-delete,
.ab-buttons input[name=delete-button] { float: left; }

/*.ab-list input:checked + label,*/
/*.ab-list input:active + label,*/
/*.ab-list input:focus + label {*/
    /*display: block; border: 2px solid #2b8aff;*/
    /*height: 50px; width: 100px;*/
/*}*/
