/* summary */
/*.profile-add-photo { font-size: 12px; text-align: center; }*/

/*.profile-left .messages { font-size: 11px; line-height: 12px; font-weight: 100; }*/
/*.profile-left .form-item.form-type-managed-file label { width: 100%; text-align: center; }*/


/*!*.profile-right {*!*/
    /*!*vertical-align: top;*!*/
    /*!*font-size: 13px; line-height: 15px;*!*/
    /*!*padding-left: 20px;*!*/
    /*!*width: 509px;*!*/
/*!*}*!*/
/*.profile-info-top {*/
    /*padding-bottom: 15px;*/
    /*border-bottom: 1px solid #e7e8ec;*/
    /*position: relative;*/
/*}*/
/*.profile-name { font-weight: 500; }*/
/*.profile-name span {*/
    /*font-size: 12px; font-weight: 400;*/
/*}*/
/*.profile-role {*/
    /*color: #999;*/
    /*font-weight: 400;*/
    /*line-height: 18px;*/
/*}*/
/*.profile-status {*/
    /*position: absolute; right: 10px; top: 5px;*/
/*}*/
/*.profile-online { color: #40ae1a; }*/
/*.profile-offline { color: #01b0f1; }*/


/*!* счётчики активности *!*/
/*.profile-counts {*/
    /*text-align: center;*/
/*}*/
/*.profile-count {*/
    /*display: inline-block;*/
    /*color: #000;*/
    /*padding: 15px;*/
    /*text-align: center;*/
/*}*/
/*.profile-count:hover {*/
    /*cursor: pointer;*/
    /*text-decoration: none;*/
/*}*/
/*.count-title {*/
    /*font-size: 11px; color: #999;*/
    /*text-transform: uppercase;*/
/*}*/
/*.profile-count:hover .count-title { color: #000; }*/
/*.count-amount { font-size: 1.5em; padding-bottom: 8px; color: #000; }*/


/*!* Общее *!*/
/*.profile-save {*/
    /*margin-left: 300px; padding: 20px;*/
/*}*/
/*.profile-header {*/
    /*margin-bottom: 15px;*/
    /*color: #9c9c9c; text-align: justify;*/
/*}*/

/*.profile #messages-wrap .messages {*/
    /*padding: 15px 45px 15px 20px;*/
    /*border-radius: 0;*/
/*}*/
/*#messages-wrap  {*/
    /*position: relative;*/
    /*overflow: hidden; height: auto;*/
    /*margin-bottom: 30px;*/
/*}*/
/*#messages-wrap .close {*/
    /*color: #eee; font-size: 30px; line-height: 30px; font-weight: 100;*/
    /*position: absolute; top: 10px; right: 20px;*/
    /*cursor: pointer;*/
    /*padding: 0; margin: 0;*/
    /*width: 15px; height: 30px;*/
/*}*/
/*#messages-wrap .close:hover {*/
    /*color: #fff;*/
    /*background: none;*/
/*}*/
/*button[disabled], html input[disabled] {*/
    /*color: #999;*/
/*}*/


/* Компания */
/*.form-item-activities,*/
/*.form-item-way { margin-bottom: 10px; }*/
/*.form-item-activities label,*/
/*.form-item-employees label { vertical-align: top; }*/
/*.address,*/
/*.activities,*/
/*.employees { display: inline-block; }*/
/*.address,*/
/*.activity,*/
/*.employee {*/
    /*margin: 6px 0 10px 0;*/
    /*position: relative;*/
    /*width: 300px;*/
/*}*/
/*.activity span,*/
/*.employee span {*/
    /*display: block;*/
    /*font-size: 12px; color: #aaa;*/
/*}*/
/*.address .close,*/
/*.activity .close,*/
/*.employee .action01,*/
/*.employee .action02 {*/
    /*font-size: 20px; line-height: 14px; font-weight: 500;*/
    /*position: absolute; top: 8px; right: 7px;*/
    /*cursor: pointer;*/
    /*border: 0;*/
    /*padding: 0; margin: 0;*/
    /*width: 10px; height: 10px;*/
/*}*/
/*.profile .form-item input.close {*/
    /*height: 13px; width: 13px;*/
    /*background: none;*/
/*}*/

/*.employee .action01 {*/
    /*top: 8px; right: 30px;*/
/*}*/
/*.address .close:hover,*/
/*.activity .close:hover,*/
/*.employee .action01:hover,*/
/*.employee .action02:hover {*/
    /*color: #000; text-decoration: none;*/
    /*background: none;*/
/*}*/
/*span.mark {*/
    /*display: inline-block;*/
    /*margin-right: 5px;*/
    /*height: 10px; width: 10px;*/
/*}*/
/*span.mark.yellow {*/
    /*background: #f2a500;*/
/*}*/
/*.form-item-photo input[type="submit"],*/
/*.activity-save input[type="submit"] {*/
    /*border: 0; background: none;*/
    /*color: #2b8aff;*/
    /*font-size: inherit;*/
    /*padding: 0;*/
/*}*/
/*.activity-save input[type="submit"] {*/
    /*background: none;*/
    /*margin: 0 0 10px 165px;*/
/*}*/
/*.form-item-photo input[type="submit"]:hover,*/
/*.activity-save input[type="submit"]:hover {*/
    /*background: none;*/
    /*text-decoration: underline;*/
    /*color: #2b8aff;*/
/*}*/
/*#address-add-control {*/
    /*padding-top: 6px;*/
/*}*/
/*#activity-add-control {*/
    /*cursor: pointer;*/
    /*padding-top: 6px;*/
/*}*/
/*#address-add-control.hidden { display: none; }*/
/*#activity-add-pane {*/
    /*display: none;*/
    /*background-color: #e4f5ff;*/
    /*padding: 10px 0;*/
/*}*/
/*#edit_act_hierarchical_select_selects_1_chosen,*/
/*#edit_act_hierarchical_select_selects_2_chosen { display: none!important; }*/
/*#activity-add-pane .has-children { font-weight: 500; }*/
/*#activity-add-pane label { vertical-align: top; }*/
/*#activity-add-pane .form-type-hierarchical-select {*/
    /*margin-bottom: -5px;*/
/*}*/
/*#activity-add-pane .hierarchical-select-wrapper{*/
    /*display: inline-block;*/
    /*width: 300px;*/
/*}*/

// подключаем миксины и переменные темы
@import "../../../../themes/gard/css/_include";


/* ------------------------------------------------- Профиль -------------------------------------------------------- */
.profile-wrapper {
    header {
        background-color: $brand-info;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
        color: #fff; text-align: center; text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
        position: relative;
        padding: 20px 0;
        h1 { padding-bottom: 20px; margin: 0; }
        img { border: 2px solid white; }
        .profile-edit {
            position: absolute; right: 10px; top: 10px;
            a {
                display: block;
                background-color: #fff; border-radius: 50%; box-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
                color: $text-color; font-size: 18px; line-height: 38px; text-align: center;
                width: 38px; height: 38px;
            }
        }
    }
    .profile {
        .alert { margin: 0 0 $grid-gutter-width/2 0; }
        .form-type-managed-file {
            margin-bottom: $grid-gutter-width/2;
            .image-preview,
            .image-widget-data {
                text-align: center;
                max-width: initial;
                .form-submit { margin-top: 15px; }
            }
            .help-block { text-align: center; }
        }
        .profile-changes {
            margin-bottom: $grid-gutter-width/2;
            font-size: 0.8em; color: $brand-danger;
            @include make-xs-column-offset(4);
        }
        .profile-separator {
            border-top: 1px solid #e7e8ec;
            width: 100%; height: 0;
            margin-bottom: $grid-gutter-width/2;
        }
        .form-horizontal .form-group label {
            @media (min-width: $screen-xs-min) {
                float: left;
                width: percentage((4 / $grid-columns));
            }
        }
        .form-horizontal .form-group .form-textarea-wrapper,
        .form-horizontal .form-group .form-input-wrapper {
            @media (min-width: $screen-xs-min) {
                float: left;
                width: percentage((8 / $grid-columns));
            }
        }
        .profile-save { @include make-xs-column-offset(4); }

        .profile-info-top {
            padding-bottom: 15px;
            border-bottom: 1px solid #e7e8ec;
            position: relative;
        }
        .profile-name { font-weight: 500; }
        .profile-name span {
            font-size: 12px; font-weight: 400;
        }
        .profile-role {
            color: #999;
            font-weight: 400;
            line-height: 18px;
        }
        .profile-status {
            position: absolute; right: 10px; top: 5px;
        }
        .profile-online { color: #40ae1a; }
        .profile-offline { color: #01b0f1; }


        /* счётчики активности */
        .profile-counts {
            text-align: center;
        }
        .profile-count {
            display: inline-block;
            color: #000;
            padding: 15px;
            text-align: center;
        }
        .profile-count:hover {
            cursor: pointer;
            text-decoration: none;
        }
        .count-title {
            font-size: 11px; color: #999;
            text-transform: uppercase;
        }
        .profile-count:hover .count-title { color: #000; }
        .count-amount { font-size: 1.5em; padding-bottom: 8px; color: #000; }

    }


    .profile-left {
        @include make-md-column(4);
    }
    .profile-right {
        @include make-md-column(8);

        .pass-show,
        .pass-close { cursor: pointer; }
        .password-pane {
            position: relative;
            display: none;
            background-color: #e4f5ff;
            padding: 10px 0;
        }
    }
}

/* фото */
.photo { margin-bottom: 20px; }
.form-item-photo label { margin-bottom: 15px; }
.form-item-photo .description { display: none; }










/* меню в профиле пользователя */
/*.profile-content a { color: #2b8aff; }*/
/*.profile-content .group { padding: 0; margin-bottom: 20px;  }*/
/*.profile-content .group.pl10 { padding-left: 10px; }*/
/*.profile-content .group.pr10 { padding-right: 10px; }*/
/*.profile-content .grid-1-2 { display: inline-block; vertical-align: top; }*/



.subheader-menu .bubble-wrap {
    position: absolute; top: 6px; right: 6px; z-index: 3;
}
.subheader-menu .bubble {
    color: #fff; font-size: 8px; line-height: 14px; text-align: center;
    width: 12px; height: 12px;
    border-radius: 6px;
}
.subheader-menu .bubble.bubble-green { background-color: #40ae1a; }
.subheader-menu .bubble.bubble-yellow { background-color: #f2a500; }
.subheader-menu .bubble.bubble-red { background-color: #de242a; }

/* До и После */
.profile-content.before-after { padding:0; }

/* Блог */
.profile .user-acc-add-link {
    margin: 0 10px 20px 0;
    text-align: right;
}
.profile .user-acc-add-link a:hover { color: #006ddc; text-decoration: none; }
.blog-user-acc .views-field-created,
.blog-user-acc .views-field-edit-node { text-align: center; width: 15%; }

/* таблицы */
.profile th { padding: 9px 6px; text-align: center; }
.profile td { border-bottom: 1px solid rgba(100, 100, 100, 0.1); padding: 9px 12px; }