// подключаем миксины и переменные темы
@import "../../../../themes/gard/css/_include";

.fields {
    header {
        background: url(../images/bg.jpg); background-size: cover;
        color: #fff; text-shadow: 1px 1px 10px #000;
        position: relative;
        height: 235px;
        .cover {
            position: absolute; top: 0; left: 0;
            width: 100%; height: 100%;
            background-color: rgba(0,0,0,.3);
        }
        .prev {
          position: absolute; top: 20px; left: 140px;
          font-size: 20px; line-height: 34px; font-weight: 700;
          a {
            color: #999;
            &:hover { color: #eee; text-decoration: none; }
          }
        }
        .title-1 {
            position: absolute; top: 20px; left: 200px;
            font-size: 30px; line-height: 32px; font-weight: 500; text-transform: uppercase;
        }
        .title-2 {
            position: absolute; top: 50px; left: 200px;
            line-height: 24px;
        }
        .title-3 {
            position: absolute; top: 105px; left: 200px;
            font-size: 30px; line-height: 30px;
        }
        .title-4 {
            position: absolute; top: 135px; left: 200px;
            font-size: 19px; line-height: 24px;
        }
    }
    .subheader-menu {
      .navbar-nav {
        background-color: #b16202;
        height: 45px;
        align-items: center;
        li { margin: 0 7px; }
        a {
          background-color: #7e4801;
          padding: 5px 10px;
        }
      }
      .navbar-nav > li:not(.disabled) > a:hover,
      .navbar-nav > li:not(.disabled) > a:focus { background-color: darken(#b16202, 5%); }
      &::after {
        @include gradient-directional(#b16202, transparent, -90deg);
      }
    }

  .list {
    list-style: none;
    margin: 0; padding: 0;
    a { color: $text-muted; }
    li {
      background-color: #eee;
      display: block; box-shadow: 1px 1px 10px #333;
      height: 80px;
      margin-bottom: 20px;
      position: relative;
      @include transition('all 0.3s ease-in-out');
      & > a {
        display: inline-block;
        &:first-child { width: 85%; }
        & > div { float: left; }
      }
      &:hover { background-color: #ddd; }
    }
    .image {
      background-color: #EA9700;
      height: 80px; width: 80px;
    }
    .title-1 {
      color: $text-color; font-size: 26px; line-height: 28px;
      padding: 8px 20px 4px 20px;
      min-width: 51%;
    }
    .title-2 {
      font-size: 16px; line-height: 18px;
      padding: 3px 20px;
      min-width: 51%;
    }
    .action-edit,
    .action-delete {
      font-size: 20px;
      position: absolute;
      top: 20px;
      padding: 5px;
      i { @include transition(all 0.3s ease-in-out); }
      &:hover i { color: $text-color; }
    }
    .action-edit { right: 70px; }
    .action-delete { right: 30px; }
  }
}

.season-form,
.processing-form,
.measurement-form {
  .add-title {
    color: $text-muted; font-weight: 100;
    div { margin-bottom: 5px; }
  }
}

/* страница СЕЗОНА */
.season .content {
  display: flex;
  flex-wrap: wrap;
  .column {
    .col-title {
      background: $brand-primary;
      color:#fff; font-size: $font-size-h2; text-align: center;
      padding: 15px 30px;
    }
    .image {
      margin-bottom: 20px;
      .date {
        font-size: $font-size-h3;
        padding: 10px;
      }
    }
    table { width: 100%; margin-bottom: $grid-gutter-width/2; }
  }
  .block {
    //border-bottom: 1px solid $brand-primary;
    text-align: center;
    .photo-text {
      color: $text-muted; font-size: .8em;
    }
  }
  .before {
    flex: 1 0 50%;
    .block {
      &.b1 { padding-top: 64px; }
    }
  }
  .after {
    flex: 1 0 50%;
    .block {
      &.b1 { padding-top: 27px; }
    }
  }
  .text {
    text-align: left;
    margin-bottom: 15px;
    &.c1 {
      overflow: hidden;
      .cc1 { overflow: hidden; min-height: 42px; }
      .cc2 { height: 0; overflow: hidden; }
      .s1 {
        color: $brand-primary; cursor: pointer;
        &:hover { text-decoration: underline; }
      }
    }
  }
  .processings {
    flex: 1 0 100%;
    margin-top: 30px;
    .col-title {
      flex: 1 0 100%;
      border: none;
      text-align: left;
    }
    .tab-pane-wrapper {
      display: flex; flex-wrap: wrap;
    }
    .image {
      .date { padding: 10px 0; }
    }
    .conditions {
      dl {
        @supports (display: grid) { /* если браузер поддерживает Гриды */
          display: grid;
          grid-template-columns: auto 1fr; /* auto определяет ширину первой колонки, которая равна самому широкому элементу <dt> (auto можно заменить на fit-content(10em), если необходимо её ограничить) */
          grid-template-rows: repeat(auto-fit, 20px);
          dt {
            font-weight: 100;
            min-width: 0; /* более привычное поведение при переполнении */
          }
          dd { margin: 0 0 0 1em; }
        }
      }
    }
    .preparations {
      flex: 100%;
      flex-wrap: wrap;
      display: flex;
    }
    .preparation {
      flex: 100%;
      display: flex;
      .image {
        flex: 0 0 200px;
        img { width: 100%; }
      }
      .conditions {
        padding: 0 $grid-gutter-width/2;
      }
      .info {
        flex: auto;
        padding: $grid-gutter-width/2;
        .title {
          color: $text-color; font-size: 1.5em;
        }
        .description { margin-top: 10px; }
      }
      .rate, .consumption {
        flex: 0 0 200px;
        padding: $grid-gutter-width/2;
        div:first-child {
          color: $text-muted;
          height: 40px;
        }
        div:nth-child(2) {
          font-size: 2.5em;
          span {
            font-size: .5em;
            margin-left: 4px; }
        }
      }
      span { color: $text-muted; }
    }
    .tabs li { padding-left: 0; }
  }

  // телефон
  @media #{$phone} {
    .before {
      flex: 1 0 100%;
      margin-bottom: 50px;
      .block { border-right: none; }
    }
    .after { flex: 1 0 100%; }
    .processings {
      .preparation .pr-images { margin-top: 0; }
    }
    .before, .after, .processings {
      .block { padding: 15px 0; }
    }
  }


  /* закладки */
  .nav-tabs {
    border-bottom: none;
    margin-bottom: 0; padding: 5px 0;
    li {
      a {
        color: $text-color;
        background: none; border: none;
        border-bottom: 1px solid rgba(9, 148, 220, 0.2);
        font-size: 14px; line-height: 1.2;
        padding: 5px 0; margin-right: 15px;
      }
      &.active a, a:hover, a:focus {
        background: none; border: none; border-bottom: 1px solid $brand-primary;
      }
      span { color: $text-muted; font-size: $font-size-base; }
    }
  }
  .processings .nav-tabs {
    margin-bottom: 15px; padding: 0;
  }
}

/* таблицы с сорняками */
.column table {
  th,
  td {
    border-left: 1px solid #ddd; border-bottom: 1px solid #ddd;
    padding: 5px 10px;
  }
  th:last-child,
  td:last-child {
    border-right: 1px solid #ddd;
    text-align: center;
  }
  td a {
    color: inherit;
    i { color: $text-muted; }
  }

  .head th {
    background: $brand-primary;
    color: #fff; font-weight: 100; text-align: center;
  }
  //.dom td  {
    //a { color: $brand-primary; }
  //}
  //.title td { font-size: 14px; }
}

.after .no-content,
.processings .no-content {
  color: #ddd;
  //font-size: 30px; line-height: 40px;
  text-align: center;
  margin-top: 120px;
}
.processings .no-content {
  margin: 40px auto 60px;
}

.view-before-after {
  .views-bootstrap-grid-plugin-style > .row {
    display: flex;
    flex-wrap: wrap;
    .v-card {
      height: 100%;
    }
  }
}
